<% 
DisplayButtonRole.ensure_super_user_access current_outlet
DisplayButtonRole.ensure_hidden_buttons_restricted current_outlet
%>

<% content_for :admin_subnav_links_right do %>
  <%= render :partial => "/partials/interfaces/large_screen/ok_cancel_buttons" %>
<% end %>

<div id="admin_display_buttons">

  <section id="display_buttons">

    <h3>Which buttons can be accessed?</h3>

    <div id="display_button_list_tabs" class="vtabs display_button_list_tabs">
      <div>
        <ul>
          <% DisplayButtonGroup.all_with_empty(current_outlet).each do |dbg| %>
            <li><a id="<%= dbg.name.gsub(" ", "_") %>_link" href="#<%= dbg.name.gsub(" ", "_") %>_options"><%= dbg.name %></a></li>
          <% end %>
        </ul>
      </div>
      <div>
        <% DisplayButtonGroup.all_with_empty(current_outlet).each do |dbg| %>

          <div id="#<%= dbg.name.gsub(" ", "_") %>_options">
            <div class="jscrollpane">
              <div id="display_button_list_container_<%=dbg.id%>" class="display_button_list_container">

                <% if dbg.display_buttons.length == 0 %>

                  <p>No Buttons Assigned To This Category!</p>

                <% else %>

                  <table id="display_button_list" class="admin_table">
                    <thead>
                      <tr>
                        <th width="100">&nbsp;</th>
                        <% current_outlet.roles.find(:all, :order => :id).each do |role| %>
                          <th width="70">&nbsp;</th>
                          <th width="70">&nbsp;</th>
                        <% end %>
                      </tr>

                    </thead>

                    <tbody>
                      <tr>
                        <td><b>Button</b></td>
                        <% current_outlet.roles.find(:all, :order => :id).each do |role| %>
                          <td colspan="2" align="center"><b><%=role.name%></b></td>
                        <% end %>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                        <% current_outlet.roles.find(:all, :order => :id).each do |role| %>
                          <td>
                            Access?
                          </td>
                          <td>Passcode?</td>
                        <% end %>
                      </tr>

                      <% dbg.display_buttons.each do |db| %>

                        <% next if ButtonMapper::RESTRICTED_BUTTON_IDS.include?(db.perm_id) or ButtonMapper::HIDDEN_BUTTON_IDS.include?(db.perm_id) %>

                        <tr>
                          <td><%= button_text db %></td>
                          <% current_outlet.roles.find(:all, :order => :id).each do |role| %>
                            <% dbr = DisplayButtonRole.find_or_create_by_outlet_id_and_display_button_id_and_role_id(current_outlet.id, db.id, role.id) %>
                            <td align="center">
                              <% if role.id != Role::super_user_role_id(current_outlet) %>
                                <%= check_box_tag "#{button_text db}_#{role.name}", shown_on_admin_screen?(dbr), shown_on_admin_screen?(dbr),
                                  :onchange => "displayButtonRoleAdminScreenSelect(#{dbr.id}, this.checked);" %>
                              <% end %>
                            </td>
                            <td align="center">
                              <%= check_box_tag "#{button_text db}_#{role.name}", dbr.passcode_required, dbr.passcode_required,
                                :onchange => "displayButtonRoleAdminScreenSelectPasscode(#{dbr.id}, this.checked);" %>
                            </td>
                          <% end %>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>

                <% end %>

              </div>
            </div>
          </div>

        <% end %>

      </div>
    </div>

  </section>
</div>