<% 
@nav_title = "Display Buttons/Groups" 
%>

<% content_for :admin_subnav_links_right do %>
  <%= render :partial => "/partials/interfaces/large_screen/ok_cancel_buttons" %>
<% end %>

<div id="edit_display_buttons">

  <section id="display_buttons">

    <div id="display_button_list_tabs" class="vtabs display_button_list_tabs">
      <div>
        <ul>         
          <li><a id="display_buttons_link" href="#display_buttons_section">Display Buttons</a></li>
          <li><a id="display_button_gropus_link" href="#display_button_gropus_section">Display Button Groups</a></li>
        </ul>
      </div>
      <div>

        <div id="#display_buttons_section">
          <div class="container jscrollpane">

            <div id="actions">
              <%= submit_tag "Save" %>
            </div>

            <div class="clear">&nbsp;</div>

            <%= form_tag update_multiple_admin_display_buttons_path do %>

              <table id="display_button_list" class="admin_table">
                <thead>
                  <tr>
                    <th width="50">ID</th>
                    <th width="240">Button Text</th>
                    <th width="220">Button Group</th>
                  </tr>
                </thead>

                <tbody>
                  <% DisplayButton.all(:order => "button_text").each do |display_button| %>
                    <tr>
                      <td><%=display_button.perm_id%></td>
                      <td>
                        <%= fields_for "display_buttons[]", display_button do |f| %>
                          <%= f.text_field :button_text, :size => 20, :disabled => (display_button.perm_id == ButtonMapper::SERVICE_CHARGE_BUTTON) %>
                        <% end %>
                      </td>
                      <td>
                        <%= fields_for "display_buttons[]", display_button do |f| %>
                          <%= f.label :display_button_group_id, "Button Group:" %>
                          <%= f.collection_select :display_button_group_id, DisplayButtonGroup.find(:all), 
                            :id, :name, :include_blank => "None" %>
                        <% end %>
                      </td>
                    </tr>
                  <% end %>

                </tbody>
              </table>

              <div class="clear_top_margin_10">&nbsp;</div>

              <div id="actions">
                <%= submit_tag "Save" %>
              </div>

            <% end %>
          </div>

          <div class="clear">&nbsp;</div>

        </div>

        <div id="#display_buttons_section">

          <div class="container jscrollpane">

            <div class="clear">&nbsp;</div>

            <%= form_tag update_multiple_groups_admin_display_buttons_path do %>

              <table id="display_button_group_list" class="admin_table">
                <thead>
                  <tr>
                    <th width="280">Name</th>
                    <th width="80">Delete</th>
                  </tr>
                </thead>

                <tbody>
                  <% DisplayButtonGroup.all(:order => "name").each do |dbg| %>
                    <tr>
                      <td>
                        <%= fields_for "display_button_groups[]", dbg do |f| %>
                          <%= f.text_field :name, :size => 20 %>
                        <% end %>
                      </td>
                      <td>
                        <%= link_to "Delete", destroy_button_group_admin_display_buttons_path(:dbg_id => dbg.id),
                          :method => "post", :confirm => "Are You Sure?" %>
                      </td>
                    </tr>
                  <% end %>

                </tbody>
              </table>

              <div class="clear_top_margin_10">&nbsp;</div>

              <div id="actions">
                <%= submit_tag "Save" %>
              </div>

            <% end %>

          </div>

          <div class="clear">&nbsp;</div>

        </div>
      </div>
    </div>
  </section>
</div>