<div id="functions_screen" class="content-item">
  <div id="header" class="screen_header">
    <div id="back_button" class="small_button" onclick="swipeToMenu();">Menu</div>
    <div class="header_label">Options</div>
  </div>

  <div id="top_section">

    <div id="menu_switcher_container">
      <div class="label">Switch Menu:</div>
      <div id="menu_select_container">
        <div id="menu_select_input" onclick="menuSelectMenu.openMenu();">Select Menu</div>
        <ul id="menu_select" class="mcdropdown_menu">
          <% Display.all.each do |display| %>
            <li rel="<%= display.id %>" onclick="displayDropdownSelected(<%= display.id %>);">
              <%= @display.id == display.id ? "* " : "" %>
              <%=display.name%>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="clear">&nbsp;</div>
    </div>

  </div>

  <div id="welcome_message">
    Welcome <%= session[:current_employee_nickname] %>
  </div>

  <div id="functions_buttons_container">

    <div class="button" onclick="setInitScreen('true');swipeToMenu();">
      <div class="icon">
        <%= image_tag "/images/button_logos/mobile/orders.png" %>
      </div>
      <div class="button_name">Orders</div>
    </div>

    <% @functions_display_buttons.each_with_index do |db, index| %>
      <% if (index+1) != 0 and (index+1) % 4 == 0 %><div class="clear">&nbsp;</div><% end %>
      <div id="sales_button_<%=db.id%>" 
           class="button" onclick="<%= button_action db %>">
        <div class="icon">
          <%= button_icon db %>
        </div>
        <div class="button_name"><%=db.button_text%></div>
      </div>
    <% end %>

    <div id="main_menu_button" 
         class="button" onclick="goToMainMenu();">
      <div class="icon">
        <%= image_tag "/images/button_logos/main_menu.png" %>
      </div>
      <div class="button_name">Main Menu</div>
    </div>

    <div id="sales_button_<%=@global_settings_button.id%>" 
         class="button" onclick="<%= button_action @global_settings_button %>">
      <div class="icon">
        <%= button_icon @global_settings_button %>
      </div>
      <div class="button_name"><%=@global_settings_button.button_text%></div>
    </div>

    <div class="button" onclick="doClearAndReload();">
      <div class="icon">
        <%= image_tag "/images/button_logos/clear_refresh.png" %>
      </div>
      <div class="button_name">Clear</div>
    </div>

    <div class="clear">&nbsp;</div>

    <div class="button" onclick="refreshClicked();">
      <div class="icon">
        <%= image_tag "/images/button_logos/reload.png" %>
      </div>
      <div class="button_name">Reload</div>
    </div>

    <div class="button" onclick="exitAndroidApp();">
      <div class="icon">
        <%= image_tag "/images/button_logos/exit.png" %>
      </div>
      <div class="button_name">Exit</div>
    </div>
    <div class="button" onclick="doMobileLogout();">
      <div class="icon">
        <%= image_tag "/images/button_logos/exit.png" %>
      </div>
      <div class="button_name">Logout</div>
    </div>

    <div class="clear">&nbsp;</div>

  </div>
</div>