<div id="menu_screen"  class="content-item">
  <div id="receipt_buttons_container">
    <div id="receipt_container" ondblclick="swipeToReceipt();">
      <div id="menu_screen_receipt" class="receipt">
        <div id="menu_screen_till_roll" class="till_roll"></div>
      </div>
    </div>
    
    <div id="cluey_logo">
      <%= image_tag "/images/cluey_icon.png" %>
    </div>

    <div id="buttons_container">

      <% @display_buttons.each_with_index do |db, index| %>
        <div id="sales_button_<%=db.id%>" 
             class="button" onclick="<%= button_action db %>">
          <div class="icon">
            <%= button_icon db %>
          </div>
          <div class="button_name"><%=db.button_text%></div>
        </div>

        <% if index == 1 %> <div class="clear">&nbsp;</div> <% end %>
      <% end %>

      <div id="sales_button_os" 
           class="button" onclick="swipeToFunctions();">
        <div class="icon">
          <%= image_tag "/images/button_logos/more_options_button.png" %>
        </div>
        <div class="button_name">Functions</div>
      </div>

    </div>

    <div class="clear">&nbsp;</div>
  </div>

  <%= render "/home/interfaces/medium_screen/screens/menu_subscreens/menu_items_screen" %>
  <%= render "/home/interfaces/medium_screen/screens/menu_subscreens/order_item_additions_screen" %>
  <%= render "/home/interfaces/medium_screen/screens/menu_subscreens/table_screen" %>

</div>