<div id="receipt_screen" class="content-item">
    <div id="header" class="screen_header_receipt">
        <div style="float: right">
        <div id="sales_button_<%= @display_buttons[0].id %>" class="button" onclick="swipeToMenu();<%= button_action @display_buttons[0] %>"><div class="icon">
            <%= button_icon @display_buttons[0] %>
          </div>
          <div class="button_name"><%= @display_buttons[0].button_text %></div></div>

        <div id="sales_button_<%= @display_buttons[1].id %>" class="button" onclick="<%= button_action @display_buttons[1] %>"><div class="icon">
            <%= button_icon @display_buttons[1] %>
          </div>
          <div class="button_name"><%=@display_buttons[1].button_text%></div></div>
        </div>
      <div class="header_label" id="table_name">Table</div>
    </div>


    <div class="receipt_top"></div>
    <div id="large_receipt_container">
        <div id="large_menu_screen_receipt" class="receipt">
            <div id="large_menu_screen_till_roll" class="till_roll">


            </div>

        </div>
    </div>
     <div id="total_container" style="height: 25px; background-color: #888">
      <div style="height: 7px"></div>
      <div id="label" style="width: 100px; float: left; margin-left: 180px; font-size: 20px;">Sub-Total:</div>
      <div id="cash_screen_sub_total_value"></div>

    </div>
    <div id="function_buttons">
        <div class="button" onclick="swipeToFunctions();">Options</div>
        <div class="button" onclick="<%= button_action @modify_button %>">Modify</div>
        <div class="button" onclick="removeSelectedOrderItem();">Delete</div>
        <div class="button" onclick="swipeToMenu();">Menu</div>
    </div>
</div>

<div id="price_function_popup_content">
    <div id="price_editor">
        <div class="header">Price Per Unit:</div>
        <br>
        <input type="number" class="new_price" size="2" id="current_selected_receipt_item_price"/>
    </div>
    <div class="clear">&nbsp;</div>
    <div class="action_buttons">
        <div id="cancel_button" class="button" onclick="closeDiscountPopup()">
            <div class="icon">
                <%= image_tag "button_logos/cancel_button.png" %>
            </div>
            <div class="button_name">Cancel</div>
        </div>
        <div id="save_button" class="button" onclick="saveEditOrderItem()">
            <div class="icon">
                <%= image_tag "button_logos/ok_button.png" %>
            </div>
            <div class="button_name">OK</div>
        </div>
        <div class="clear">&nbsp;</div>
    </div>
    <br>
</div>

<div id="discount_function_popup_content">
    <div class="discount_buttons">
        <br>

        <div class="header">Apply Discount</div>
        <br>

        <div class="control_button" id="discount_button_0" onclick="setDiscountVal(0)">
            <div class="name">
                None
            </div>
            <div class="percent">
                0%
            </div>
        </div>
        <% Discount.all.each do |discount| %>
            <div class="control_button" id="discount_button_<%= discount.id %>" onclick="setDiscountVal(<%=discount.percent%>)">
                <div class="name">
                    <%= discount.name %>
                </div>
                <div class="percent">
                    <%= discount.percent %>%
                </div>
            </div>
        <% end %>
        <div>
            <br>
            <input type="number" class="percent_number" id="discount_percent_input"/>
        </div>
        <div class="clear">&nbsp;</div>
        <div class="action_buttons">
            <div id="cancel_button" class="button" onclick="closeDiscountPopup()">
                <div class="icon">
                    <%= image_tag "button_logos/cancel_button.png" %>
                </div>
                <div class="button_name">Cancel</div>
            </div>
            <div id="save_button" class="button" onclick="saveEditOrderItem()">
                <div class="icon">
                    <%= image_tag "button_logos/ok_button.png" %>
                </div>
                <div class="button_name">OK</div>
            </div>
            <div class="clear">&nbsp;</div>
        </div>
        <br>
    </div>
</div>

<div id="quantity_function_popup_content">
    <div id="quantity_editor">
        <br>

        <div class="header">Quantity</div>
        <br>

        <div id="buttons_container">
            <div id="plus_button" class="button" onclick="editOrderItemIncreaseQuantity()">
                <div style="font-size: 18px;font-weight: bold">+</div>
            </div>
            <div id="minus_button" class="button" onclick="editOrderItemDecreaseQuantity()">
                <div style="font-size: 18px;font-weight: bold">-</div>
            </div>
        </div>
        <input type="number" class="quantity" id="current_selected_receipt_item_quantity"/>

        <div class="clear">&nbsp;</div>
        <div class="action_buttons">
            <div id="cancel_button" class="button" onclick="closeDiscountPopup()">
                <div class="icon">
                    <%= image_tag "button_logos/cancel_button.png" %>
                </div>
                <div class="button_name">Cancel</div>
            </div>
            <div id="save_button" class="button" onclick="saveEditOrderItem()">
                <div class="icon">
                    <%= image_tag "button_logos/ok_button.png" %>
                </div>
                <div class="button_name">OK</div>
            </div>
            <div class="clear">&nbsp;</div>
        </div>
    </div>
    <br>
</div>

<div id="course_function_popup_content">
<div id="course_popup_markup_container">

    <div class="header">Serve As</div>

    <div class="clear">&nbsp;</div>

    <% GlobalSetting.course_vals.each do |course_val| %>
      <% @gs = GlobalSetting.setting_for GlobalSetting::COURSE_LABEL, {:course_val => course_val} %>
      <div class="course_label course_label_<%=course_val%>" onclick="applyCourseFromPopup(<%=course_val%>);"><%= @gs.value %></div>
      <div class="clear">&nbsp;</div>
    <% end %>

</div>
</div>


<div id="receipt_function_popup_content">
    <div id="function_popup_buttons">
        <div class="button" onclick="removeSelectedOrderItem();">Delete</div>
        <br>
        <!-- <div class="button" onclick="">Cancel</div><br>
     <div class="button" onclick="">Hold</div><br> -->
        <div class="button" onclick="closeDiscountPopup();doDisplayButtonPasscodePrompt(48, function () {var switchHappened = checkMenuScreenForFunction();if(switchHappened) {timeout = 100;} else {timeout = 0;}setTimeout(function() {toggleModifyOrderItemScreen(); return false;}, timeout);});">Modify</div>
        <br>

        <div class="button" onclick="showPricePopup();">Change Price</div>
        <br>

        <div class="button" onclick="showDiscountPopup();">Apply Discount</div>
        <br>

        <div class="button" onclick="showQuantityPopup();">Change Quantity</div>
        <br>

        <div class="button" onclick="showCoursePopup();">Course</div>
        <br>
    </div>

</div>



