<div id="settings_screen" class="content-item">
  <div id="header" class="screen_header">
    <div id="back_button" class="small_button" onclick="swipeToFunctions();">Functions</div>
    <div class="header_label">Settings</div>
  </div>

  <div id="settings_container">
    <%= form_tag admin_update_global_settings_path, :id => "settings_form" do %>
      <table id="global_settings_list" class="admin_table">
        <thead>
          <tr>
            <th width="270">Setting</th>
            <th width="205">Value</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td class="label">
              Terminal Name
            </td>
            <td class="data text_align_left">
              <% @gs = GlobalSetting.setting_for GlobalSetting::TERMINAL_ID, {:fingerprint => request.cookies["terminal_fingerprint"]} %>

              <div id="terminal_name_field_unique_error" style="display: none;">
                This terminal name has already been taken, if you submit this, the old terminal name will be overwritten
              </div>

              <%= fields_for "global_settings[]", @gs do |f| %>
                <%= f.text_field :value, :id => "terminal_name_field", :onkeyup => "checkForUniqueTerminalName();" %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td class="label">
              Web Socket IP Address
            </td>
            <td class="data text_align_left">
              <% @gs = GlobalSetting.setting_for GlobalSetting::WEBSOCKET_IP, {:terminal_fingerprint => @terminal_fingerprint} %>
              <%= fields_for "global_settings[]", @gs do |f| %>
                <%= f.text_field :value %>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="clear_top_margin_10">&nbsp;</div>

      <div id="submit_button" class="small_button" onclick="doSubmitSettings();">Save</div>

    <% end %>
  </div>
</div>