<% room.room_objects.each do |ro| %>
  <div class="room_object" data-theid="<%= ro.object_type == RoomObject::TABLE ? "table_#{ro.table_info.id}" : "wall_#{ro.id}" %>"
       onclick="<%= ro.object_type == RoomObject::TABLE ? "tableScreenSelectTable(#{ro.table_info.id});" : "" %>"
       data-grid_x="<%=ro.grid_x%>" data-grid_y="<%=ro.grid_y%>"
       data-grid_x_size="<%=ro.grid_x_size%>" data-grid_y_size="<%=ro.grid_y_size%>">

    <%=graphic_for_room_object ro%>

    <% if ro.object_type == RoomObject::TABLE %>
    <div class="label" id="table_label_<%= ro.table_info.id %>"><%= ro.table_info.perm_id %></div>
    <% end %>
  </div>
<% end %>