<div class="table" id="table_grid_div_<%=table.table_info.id%>"
     data-table_id="<%=table.table_info.id%>" 
     data-perm_id="<%=table.table_info.perm_id%>"
     data-room_object_id="<%=table.id%>">
       <%= graphic_for_room_object table %>
</div>