<% content_for :head do %>
  <%= javascript_include_tag "room-builder" %>
  <!-- TODO: WILL NEED TO IMPLEMENT DRAG FOR TOUCH UI -->
  <!--script type="text/javascript" src="/javascripts/init_touch_draggable.js?id=ROOMID"></script-->
  <%= stylesheet_link_tag "room_builder"  %>
<% end %>

<% content_for :admin_subnav_links do %>
  <div class="link">
    <%=link_to "Room List", admin_rooms_path %>
  </div>
<% end %>

<div id="room_builder">

  <!-- must set some vars for init -->
  <script type="text/javascript">
    $(function() {
      //must set the room_id js var
      room_id = <%=@room.id%>;
      
      
      //init slider
      $("#resolution_slider").slider({
        max : maxGridSize,
        min : minGridSize,
        value : <%=@room.grid_resolution%>,
        animate : true,
        change: resolutionSliderChanged
      });
      
      //init the grid square size
      currentGridSize = <%=@room.grid_resolution%>;
      setGridSize(currentGridSize);
      
      initDragDrop();
      setGridGraphicDimensions();
    });
  </script>

  <section id="header">

    <div id="room_name">
      <%= @room.name %>
    </div>

    <a id="rename_link" href="#" onclick="showRenameRoom();">(Rename)</a>
    <input type="text" id="room_name_input" style="display: none;" value="<%= @room.name %>"/>

    <%= link_to "(Delete)", admin_room_path(@room), :method => :delete, 
      :confirm => "Are You Sure?", :id => "delete_link" %>

  </section>

  <section id="builder">

    <div class="clear_top_margin_20">&nbsp;</div>

    <div id="main_builder_section">

      <div id="options">
        <div id="resolution_slider_label">Grid Resolution:</div>
        <div id="resolution_slider"></div>

        <div id="dimensions">
          <div id="x_dimension_label" class="label">Horizontal Squares:</div>
          <div id="x_dimension"><input type="text" value="<%=@room.grid_x_size%>" onchange="doXDimensionChange(this.value);"/></div>
          <div id="y_dimension_label" class="label">Vertical Squares:</div>
          <div id="y_dimension"><input type="text" value="<%=@room.grid_y_size%>" onchange="doYDimensionChange(this.value);"/></div>
        </div>
      </div>

      <div class="clear_top_margin_20">&nbsp;</div>

      <div id="loading_message">Loading...</div>

      <div class="clear">&nbsp;</div>

      <div id="tree_container">

        <div id="objects_tree">
          <% RoomObject.available_objects.each do |room_object| %>
            <div class="room_object">
              <a href="#" class="select_room_object" id="<%=room_object.permid%>">
                <%= preview_graphic_for_room_object room_object %>
              </a>
            </div>
          <% end %>
        </div>

      </div>

      <div class="clear_top_margin_20">&nbsp;</div>

      <div id="grid_container">
        <%= render "grid", {:room => @room} %>
      </div>
    </div>
</div>
</section>
</div>
