<% content_for :head do %>
  <script type="text/javascript">
    $(function() {
      $("#vtabs1").jVertTabs({equalHeights: true});
    });
  </script>
<% end %>

<div id="edit_cash_total_options">
  <div id="vtabs1" class="report_option_tabs">
    <div>
      <ul>
        <li><a href="#vtabs-content-a">X Report Options</a></li>
        <li><a href="#vtabs-content-b">Z Report Options</a></li>
      </ul>
    </div>
    <div>
      <div id="#vtabs-content-a">
        <div id="x_total_options">
          <h3>Which sections should appear in the X report?</h3>
          
          <table id="report_section_list" style="display: none;">
            <thead>
              <tr>
                <th width="100">Button</th>
                <% Role.find(:all, :order => :id).each do |role| %>
                  <th width="60"><%=role.name%></th>
                <% end %>
              </tr>
            </thead>

            <tbody>
              <% CashTotal::report_sections.each do |rs| %>
                <tr>
                  <td><%= CashTotal.report_section_name rs %></td>
                  <% Role.find(:all, :order => :id).each do |role| %>
                    <td>
                      <% @gs = GlobalSetting.setting_for GlobalSetting::CASH_TOTAL_OPTION, {:total_type => CashTotal::X_TOTAL, :employee_role => role.name, :report_section => rs} %>
                      <% next if role.id == Role::SUPER_USER_ROLE_ID %>
                      <%= check_box_tag "#{CashTotal.report_section_name rs}_#{role.name}", @gs.parsed_value, @gs.parsed_value,
                        :onchange => "cashTotalOptionSelect('#{role.name}','#{CashTotal::X_TOTAL}', '#{rs}', this.checked);" %>
                    </td>
                  <% end %>
                </tr>
              <% end %>
            </tbody>
          </table>
          
        </div>
      </div>
      
      <div id="#vtabs-content-b">
        <div id="z_total_options">
          <h3>Which sections should appear in the Z report?</h3>
          
          <table id="report_section_list" style="display: none;">
            <thead>
              <tr>
                <th width="100">Button</th>
                <% Role.find(:all, :order => :id).each do |role| %>
                  <th width="60"><%=role.name%></th>
                <% end %>
              </tr>
            </thead>

            <tbody>
              <% CashTotal::report_sections.each do |rs| %>
                <tr>
                  <td><%= CashTotal.report_section_name rs %></td>
                  <% Role.find(:all, :order => :id).each do |role| %>
                    <td>
                      <% @gs = GlobalSetting.setting_for GlobalSetting::CASH_TOTAL_OPTION, {:total_type => CashTotal::Z_TOTAL, :employee_role => role.name, :report_section => rs} %>
                      <% next if role.id == Role::SUPER_USER_ROLE_ID %>
                      <%= check_box_tag "#{CashTotal.report_section_name rs}_#{role.name}", @gs.parsed_value, @gs.parsed_value,
                        :onchange => "cashTotalOptionSelect('#{role.name}','#{CashTotal::Z_TOTAL}', '#{rs}', this.checked);" %>
                    </td>
                  <% end %>
                </tr>
              <% end %>
            </tbody>
          </table>
          
        </div>	
      </div>
    </div>
  </div>
</div>