<% if params[:section] %>
  <% content_for :head do %>
    <script type="text/javascript">
      $(function() {
        $('#<%=params[:section]%>_section_link').click();
      });
    </script>
  <% end %>
<% end %>

<% @nav_title = "System Settings" %>

<% content_for :admin_subnav_links_right do %>
  <div id="clear_all_fragment_caches_request_button" class="button" data-onpress="showLoadingDiv();$('form:visible').first().submit();">
    <div class="icon">
      <%= image_tag "/images/button_logos/save_settings_button.png" %>
    </div>
    <div class="button_name">Save</div>
  </div>
  <%= render :partial => "/partials/interfaces/large_screen/clear_fragment_caches_request" %>
<% end %>

<div id="edit_global_settings">

  <section id="global_settings">

    <div id="report_option_tabs" class="vtabs report_option_tabs">

      <div>
        <ul>
          <li><a id="general_section_link" href="#general_section">General</a></li>
          <li><a id="business_info_section_link" href="#business_info_section">Business Info</a></li>
          <li><a id="payment_methods_section_link" href="#payment_methods_section">Payment Methods</a></li>
          <li><a id="receipt_footers_section_link" href="#receipt_footers_section">Receipt Footers</a></li>
          <li><a id="tax_rates_section_link" href="#tax_rates_section">Sales Tax Rates</a></li>
          <li><a id="loyalty_levels_section_link" href="#loyalty_levels_section">Loyalty Levels</a></li>
          <li><a id="discounts_section_link" href="#discounts_section_section">Discounts</a></li>
          <li><a id="coursing_section_link" href="#coursing_section">Coursing</a></li>
          <li><a id="price_level_labels_section_link" href="#coursing_section">Price Levels</a></li>
          <li><a id="misc_section_link" href="#misc_section">Misc</a></li>

          <% if cluey_pw_used? or is_cluey_user? %>
            <li><a id="cluey_settings_section_link" href="#cluey_settings_section">Cluey Settings</a></li>
          <% end %>
        </ul>
      </div>

      <div>

        <div class="container" id="#general_section">
          <div class="jscrollpane">

            <%= form_tag admin_update_global_settings_path do %>

              <div class="clear_top_margin_10">&nbsp;</div>

              <table id="global_settings_list" class="admin_table">
                <thead>
                  <tr>
                    <th width="330">Setting</th>
                    <th width="320">Value</th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <td>Default Home Screen</td>
                    <td class="text_align_left">
                      <% @gs = GlobalSetting.setting_for GlobalSetting::DEFAULT_HOME_SCREEN, {:fingerprint => @terminal_fingerprint} %>

                      <input type="radio" name="global_settings[<%=@gs.id%>][value]" 
                             value="<%= GlobalSetting::LOGIN_SCREEN %>" 
                             <%= @gs.parsed_value == GlobalSetting::LOGIN_SCREEN ? "checked" : "" %>/>
                      <div class="label">Login Screen</div>
                      <div class="clear">&nbsp;</div>

                      <input type="radio" name="global_settings[<%=@gs.id%>][value]" 
                             value="<%= GlobalSetting::MENU_SCREEN %>" 
                             <%= @gs.parsed_value == GlobalSetting::MENU_SCREEN ? "checked" : "" %>/>
                      <div class="label">Menu Screen</div>
                      <div class="clear">&nbsp;</div>

                      <input type="radio" name="global_settings[<%=@gs.id%>][value]" 
                             value="<%= GlobalSetting::TABLES_SCREEN %>" 
                             <%= @gs.parsed_value == GlobalSetting::TABLES_SCREEN ? "checked" : "" %>/>
                      <div class="label">Tables Screen</div>
                      <div class="clear">&nbsp;</div>
                    </td>
                  </tr>
                  <tr>
                    <td>Type Of Menu Screen</td>
                    <td class="text_align_left">
                      <% @gs = GlobalSetting.setting_for GlobalSetting::MENU_SCREEN_TYPE, {:fingerprint => @terminal_fingerprint} %>

                      <input type="radio" name="global_settings[<%=@gs.id%>][value]" 
                             value="<%= GlobalSetting::RESTAURANT_MENU_SCREEN %>" 
                             <%= @gs.parsed_value == GlobalSetting::RESTAURANT_MENU_SCREEN ? "checked" : "" %>/>
                      <div class="label">Restaurant</div>
                      <div class="clear">&nbsp;</div>

                      <input type="radio" name="global_settings[<%=@gs.id%>][value]" 
                             value="<%= GlobalSetting::RETAIL_MENU_SCREEN %>" 
                             <%= @gs.parsed_value == GlobalSetting::RETAIL_MENU_SCREEN ? "checked" : "" %>/>
                      <div class="label">Retail</div>
                      <div class="clear">&nbsp;</div>

                      <input type="radio" name="global_settings[<%=@gs.id%>][value]" 
                             value="<%= GlobalSetting::CUSTOMER_MENU_SCREEN %>" 
                             <%= @gs.parsed_value == GlobalSetting::CUSTOMER_MENU_SCREEN ? "checked" : "" %>/>
                      <div class="label">Customer</div>
                      <div class="clear">&nbsp;</div>
                    </td>
                  </tr>
                  <tr>
                    <td>Screen That Shows After Login</td>
                    <td class="text_align_left">
                      <% @gs = GlobalSetting.setting_for GlobalSetting::DEFAULT_POST_LOGIN_SCREEN %>

                      <input type="radio" name="global_settings[<%=@gs.id%>][value]" 
                             value="<%= GlobalSetting::MENU_SCREEN %>" 
                             <%= @gs.parsed_value == GlobalSetting::MENU_SCREEN ? "checked" : "" %>/>
                      <div class="label">Menu Screen</div>
                      <div class="clear">&nbsp;</div>

                      <input type="radio" name="global_settings[<%=@gs.id%>][value]" 
                             value="<%= GlobalSetting::TABLES_SCREEN %>" 
                             <%= @gs.parsed_value == GlobalSetting::TABLES_SCREEN ? "checked" : "" %>/>
                      <div class="label">Tables Screen</div>
                      <div class="clear">&nbsp;</div>
                    </td>
                  </tr>
                  <tr>
                    <td>Use Whitespace In Mobile Menus?</td>
                    <td class="text_align_left">
                      <% @gs = GlobalSetting.setting_for GlobalSetting::USE_WHITE_SPACE_MOBILE_MENUS %>
                      <input type="radio" name="global_settings[<%=@gs.id%>][value]" 
                             value="true" <%= @gs.parsed_value ? "checked" : "" %>/>
                      <div class="label">Yes</div>
                      <div class="clear">&nbsp;</div>

                      <input type="radio" name="global_settings[<%=@gs.id%>][value]" 
                             value="false" <%= !@gs.parsed_value ? "checked" : "" %>/>
                      <div class="label">No</div>
                      <div class="clear">&nbsp;</div>
                    </td>
                  </tr>
                  <tr>
                    <td>Use Whitespace In Terminal Menus?</td>
                    <td class="text_align_left">
                      <% @gs = GlobalSetting.setting_for GlobalSetting::USE_WHITE_SPACE_DESKTOP_MENUS %>
                      <input type="radio" name="global_settings[<%=@gs.id%>][value]" 
                             value="true" <%= @gs.parsed_value ? "checked" : "" %>/>
                      <div class="label">Yes</div>
                      <div class="clear">&nbsp;</div>

                      <input type="radio" name="global_settings[<%=@gs.id%>][value]" 
                             value="false" <%= !@gs.parsed_value ? "checked" : "" %>/>
                      <div class="label">No</div>
                      <div class="clear">&nbsp;</div>
                    </td>
                  </tr>
                  <tr>
                    <td>Bypass Pin Number?</td>
                    <td class="text_align_left">
                      <% @gs = GlobalSetting.setting_for GlobalSetting::BYPASS_PIN %>
                      <input type="radio" name="global_settings[<%=@gs.id%>][value]" 
                             value="true" <%= @gs.parsed_value ? "checked" : "" %>/>
                      <div class="label">Per Role</div>
                      <div class="clear">&nbsp;</div>

                      <input type="radio" name="global_settings[<%=@gs.id%>][value]" 
                             value="false" <%= !@gs.parsed_value ? "checked" : "" %>/>
                      <div class="label">No</div>
                      <div class="clear">&nbsp;</div>
                    </td>
                  </tr>
                  <tr>
                    <td>Clock Format</td>
                    <td class="text_align_left">
                      <% @gs = GlobalSetting.setting_for GlobalSetting::CLOCK_FORMAT %>

                      <input type="radio" name="global_settings[<%=@gs.id%>][value]" 
                             value="<%= GlobalSetting::CLOCK_FORMAT_12 %>" 
                             <%= @gs.parsed_value == GlobalSetting::CLOCK_FORMAT_12 ? "checked" : "" %>/>
                      <div class="label">12HR</div>
                      <div class="clear">&nbsp;</div>

                      <input type="radio" name="global_settings[<%=@gs.id%>][value]" 
                             value="<%= GlobalSetting::CLOCK_FORMAT_24 %>" 
                             <%= @gs.parsed_value == GlobalSetting::CLOCK_FORMAT_24 ? "checked" : "" %>/>
                      <div class="label">24HR</div>
                      <div class="clear">&nbsp;</div>
                    </td>
                  </tr>
                </tbody>
              </table>

              <div class="clear_top_margin_10">&nbsp;</div>

              <div id="actions">
                <%= submit_tag "Save" %>
              </div>

            <% end %>

            <div class="clear">&nbsp;</div>
          </div>
        </div>

        <div class="container" id="#business_info_section">
          <div class="jscrollpane">
            <%= form_tag admin_update_global_settings_path, :multipart => true do %>

              <div class="clear_top_margin_10">&nbsp;</div>

              <table id="global_settings_list" class="admin_table">
                <thead>
                  <tr>
                    <th width="330">Setting</th>
                    <th width="320">Value</th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <td>Business Name</td>
                    <td class="text_align_left">
                      <% @gs = GlobalSetting.setting_for GlobalSetting::BUSINESS_NAME %>
                      <%= fields_for "global_settings[]", @gs do |f| %>
                        <%= f.text_field :value %>
                      <% end %>
                    </td>
                  </tr>
                  <tr>
                    <td>Address</td>
                    <td class="text_align_left">
                      <% @gs = GlobalSetting.setting_for GlobalSetting::ADDRESS %>
                      <%= fields_for "global_settings[]", @gs do |f| %>
                        <%= f.text_field :value %>
                      <% end %>
                    </td>
                  </tr> 
                  <tr>
                    <td>Telephone</td>
                    <td class="text_align_left">
                      <% @gs = GlobalSetting.setting_for GlobalSetting::TELEPHONE %>
                      <%= fields_for "global_settings[]", @gs do |f| %>
                        <%= f.text_field :value %>
                      <% end %>
                    </td>
                  </tr> 
                  <tr>
                    <td>Fax</td>
                    <td class="text_align_left">
                      <% @gs = GlobalSetting.setting_for GlobalSetting::FAX %>
                      <%= fields_for "global_settings[]", @gs do |f| %>
                        <%= f.text_field :value %>
                      <% end %>
                    </td>
                  </tr>
                  <tr>
                    <td>Email</td>
                    <td class="text_align_left">
                      <% @gs = GlobalSetting.setting_for GlobalSetting::EMAIL %>
                      <%= fields_for "global_settings[]", @gs do |f| %>
                        <%= f.text_field :value %>
                      <% end %>
                    </td>
                  </tr>
                  <tr>
                    <td>Business Information (200 Chars)</td>
                    <td class="text_align_left">
                      <% @gs = GlobalSetting.setting_for GlobalSetting::BUSINESS_INFO_MESSAGE %>
                      <%= fields_for "global_settings[]", @gs do |f| %>
                        <%= f.text_area :value, :class => "mceEditor" %>
                      <% end %>
                    </td>
                  </tr>
                  <tr>
                    <td>Business Logo</td>
                    <td>
                      <% @gs = GlobalSetting.setting_for GlobalSetting::LOGO, {:logo_type => "business_logo"} %>
                      <%= fields_for "global_settings[]", @gs do |f| %>
                        <div class="business_logo">
                          <div class="label">Current Logo:</div>
                          <%= business_logo_thumb true %>
                        </div>
                        <p>
                          <%= f.file_field :logo %>
                        </p>
                      <% end %>
                    </td>
                  </tr>
                </tbody>
              </table>

              <div class="clear_top_margin_10">&nbsp;</div>

              <div id="actions">
                <%= submit_tag "Save" %>
              </div>

            <% end %>

            <div class="clear">&nbsp;</div>
          </div>
        </div>

        <div class="container payment_methods_section" id="#payment_methods_section">
          <div class="jscrollpane">
            <h4>Current Payment Methods</h4>

            <%= form_tag update_multiple_admin_payment_methods_path, :multipart => true do %>

              <div class="clear_top_margin_10">&nbsp;</div>

              <table id="global_settings_list" class="admin_table">
                <thead>
                  <tr>
                    <th width="200">Name</th>
                    <th width="350">Logo</th>
                    <th width="140">Default</th>
                    <th width="140">Integration</th>
                    <th width="140">Receipt Footer</th>
                    <th width="170">Cash Drawer</th>
                    <th width="100">Delete</th>
                  </tr>
                </thead>

                <tbody>
                  <% PaymentMethod.all(:order => :name).each do |pm| %>
                    <%= fields_for "payment_methods[]", pm do |f| %>
                      <tr>
                        <td>
                          <% if pm.is_cash? or pm.is_loyalty? %>
                            <input type="text" disabled="true" value="<%= pm.name %>"/>
                          <% else %>
                            <%= f.text_field :name, :size => 17 %>
                          <% end %>
                        </td>
                        <td>
                          <div class="payment_method_logo">
                            <%= payment_method_logo_thumb pm, true %>
                          </div>
                          <p>
                            <%= f.file_field :logo %>
                          </p>
                        </td>
                        <td>
                          <%= radio_button_tag "set_default_payment_method", "#{pm.id}", pm.is_default, 
                            :onchange => "doSetDefaultPaymentMethod(this.value);" %>
                        </td>
                        <td>
                          <% if !pm.is_loyalty? %>
                            <%= f.select :payment_integration_id, options_for_select(PaymentMethod.payment_integration_options_for_select, pm.payment_integration_id) %>
                          <% end %>
                        </td>
                        <td>
                          <%= f.collection_select :receipt_footer_id, ReceiptFooter.all, :id, :name, 
                            :prompt => "Select a Footer", :include_blank => "None" %>
                        </td>
                        <td>
                          <%= f.check_box :open_cash_drawer %>
                        </td>
                        <td>
                          <% if !pm.is_cash? and !pm.is_loyalty? %>
                            <%= link_to "Delete", admin_payment_method_path(pm), :method => :delete, :confirm => "Are You Sure?" %>
                          <% end %>
                        </td>
                      </tr>
                    <% end %>
                  <% end %>
                </tbody>
              </table>

              <div class="clear_top_margin_10">&nbsp;</div>

              <div id="actions">
                <%= submit_tag "Save" %>
              </div>

            <% end %>

            <div class="clear_top_margin_10">&nbsp;</div>

            <h4>New Payment Method</h4>

            <%= form_for [:admin, PaymentMethod.new] do |f| %>

              <div class="clear_top_margin_10">&nbsp;</div>

              <table id="global_settings_list" class="admin_table">
                <thead>
                  <tr>
                    <th width="330">Name</th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <td>
                      <%= f.text_field :name, :size => 17 %>
                    </td>
                  </tr>
                </tbody>
              </table>

              <div class="clear_top_margin_10">&nbsp;</div>

              <div id="actions">
                <%= submit_tag "Create" %>
              </div>

            <% end %>

            <div class="clear">&nbsp;</div>
          </div>
        </div>

        <div class="container receipt_footers_section" id="#receipt_footers_section">
          <div class="jscrollpane">
            <h4>Receipt Footers</h4>

            <div class="clear">&nbsp;</div>
            <h5>Be Careful when using html in footers as invalid html will break receipt printing</h5>

            <div class="clear">&nbsp;</div>
            <h5>If you experience problems printing receipts, please clear the footer content</h5>

            <%= form_tag update_multiple_admin_receipt_footers_path, :multipart => true do %>

              <div class="clear_top_margin_10">&nbsp;</div>

              <table id="global_settings_list" class="admin_table">
                <thead>
                  <tr>
                    <th width="230">Name</th>
                    <th width="330">Content</th>
                    <th width="100">Delete</th>
                  </tr>
                </thead>

                <tbody>
                  <% ReceiptFooter.all(:order => :name).each do |rf| %>
                    <%= fields_for "receipt_footers[]", rf do |f| %>
                      <tr>
                        <td><%= f.text_field :name, :size => 17 %></td>
                        <td><%= f.text_area :content, :class => "mceEditor" %></td>
                        <td><%= link_to "Delete", admin_receipt_footer_path(rf), :method => :delete, :confirm => "Are You Sure?" %></td>
                      </tr>
                    <% end %>
                  <% end %>
                </tbody>
              </table>

              <div class="clear_top_margin_10">&nbsp;</div>

              <div id="actions">
                <%= submit_tag "Save" %>
              </div>

            <% end %>

            <h4>New Receipt Footer</h4>

            <%= form_for [:admin, ReceiptFooter.new] do |f| %>

              <div class="clear_top_margin_10">&nbsp;</div>

              <table id="global_settings_list" class="admin_table">
                <thead>
                  <tr>
                    <th width="330">Name</th>
                    <th width="330">Content</th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <td>
                      <%= f.text_field :name, :size => 17 %>
                    </td>
                    <td>
                      <%= f.text_area :content, :class => "mceEditor" %>
                    </td>
                  </tr>
                </tbody>
              </table>

              <div class="clear_top_margin_10">&nbsp;</div>

              <div id="actions">
                <%= submit_tag "Create" %>
              </div>

            <% end %>

            <div class="clear">&nbsp;</div>
          </div>
        </div>

        <div class="container" id="#tax_rates_section">
          <div class="jscrollpane">
            <h4>Misc</h4>

            <%= form_tag admin_update_global_settings_path do %>

              <div class="clear_top_margin_10">&nbsp;</div>

              <table id="global_settings_list" class="admin_table">
                <thead>
                  <tr>
                    <th width="330">Setting</th>
                    <th width="320">Value</th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <td>Is Tax Chargable?</td>
                    <td class="text_align_left">
                      <% @gs = GlobalSetting.setting_for GlobalSetting::TAX_CHARGABLE %>
                      <input type="radio" name="global_settings[<%=@gs.id%>][value]" 
                             value="true" <%= @gs.parsed_value ? "checked" : "" %>/>
                      <div class="label">Yes</div>
                      <div class="clear">&nbsp;</div>

                      <input type="radio" name="global_settings[<%=@gs.id%>][value]" 
                             value="false" <%= !@gs.parsed_value ? "checked" : "" %>/>
                      <div class="label">No</div>
                      <div class="clear">&nbsp;</div>
                    </td>
                  </tr>

                  <tr>
                    <td>Tax Chargable Sales Tax Rate</td>
                    <td class="text_align_left">
                      <% @gs = GlobalSetting.setting_for GlobalSetting::GLOBAL_TAX_RATE %>
                      <%= fields_for "global_settings[]", @gs do |f| %>
                        <%= f.text_field :value %>
                      <% end %>
                    </td>
                  </tr>

                  <tr>
                    <td>What Do You Want To Call Sales Tax(Tax/Vat etc)?</td>
                    <td class="text_align_left">
                      <% @gs = GlobalSetting.setting_for GlobalSetting::TAX_LABEL %>
                      <%= fields_for "global_settings[]", @gs do |f| %>
                        <%= f.text_field :value %>
                      <% end %>
                    </td>
                  </tr>

                  <tr>
                    <td>Tax Number</td>
                    <td class="text_align_left">
                      <% @gs = GlobalSetting.setting_for GlobalSetting::TAX_NUMBER %>
                      <%= fields_for "global_settings[]", @gs do |f| %>
                        <%= f.text_field :value %>
                      <% end %>
                    </td>
                  </tr>

                  <tr>
                    <td>Print <%= @tax_label %> Receipt?</td>
                    <td class="text_align_left">
                      <% @gs = GlobalSetting.setting_for GlobalSetting::PRINT_VAT_RECEIPT %>
                      <input type="radio" name="global_settings[<%=@gs.id%>][value]" 
                             value="true" <%= @gs.parsed_value ? "checked" : "" %>/>
                      <div class="label">Yes</div>
                      <div class="clear">&nbsp;</div>

                      <input type="radio" name="global_settings[<%=@gs.id%>][value]" 
                             value="false" <%= !@gs.parsed_value ? "checked" : "" %>/>
                      <div class="label">No</div>
                      <div class="clear">&nbsp;</div>
                    </td>
                  </tr>

                  <tr>
                    <td>Enter A Label For Service Charge</td>
                    <td class="text_align_left">
                      <% @gs = GlobalSetting.setting_for GlobalSetting::SERVICE_CHARGE_LABEL %>
                      <%= fields_for "global_settings[]", @gs do |f| %>
                        <%= f.text_field :value %>
                      <% end %>
                    </td>
                  </tr>

                  <tr>
                    <td>Default Service Charge Percent (0 - 100)</td>
                    <td class="text_align_left">
                      <% @gs = GlobalSetting.setting_for GlobalSetting::DEFAULT_SERVICE_CHARGE_PERCENT %>
                      <%= fields_for "global_settings[]", @gs do |f| %>
                        <%= f.text_field :value %>
                      <% end %>
                    </td>
                  </tr>
                </tbody>
              </table>

              <div class="clear_top_margin_10">&nbsp;</div>

              <div id="actions">
                <%= submit_tag "Save" %>
              </div>

            <% end %>

            <h4>Current Tax Rates</h4>

            <%= form_tag update_multiple_admin_tax_rates_path do %>

              <div class="clear_top_margin_10">&nbsp;</div>

              <table id="global_settings_list" class="admin_table">
                <thead>
                  <tr>
                    <th width="330">Name</th>
                    <th width="70">Rate</th>
                    <th width="150">Delete</th>
                    <th width="150">Set Default</th>
                  </tr>
                </thead>

                <tbody>
                  <% TaxRate.all(:order => :name).each do |tr| %>
                    <%= fields_for "tax_rates[]", tr do |f| %>
                      <tr>
                        <td><%= f.text_field :name %></td>
                        <td><%= f.text_field :rate, :size => 4 %></td>
                        <td><%= link_to "Delete", admin_tax_rate_path(tr), :method => :delete, :confirm => "Are You Sure?" %></td>
                        <td>
                          <%= radio_button_tag "set_default_tax_rate", "#{tr.id}", tr.is_default, 
                            :onchange => "doSetDefaultTaxRate(this.value);" %>
                        </td>
                      </tr>
                    <% end %>
                  <% end %>
                </tbody>
              </table>

              <div class="clear_top_margin_10">&nbsp;</div>

              <div id="actions">
                <%= submit_tag "Save" %>
              </div>

            <% end %>

            <h4>New Tax Rate</h4>

            <%= form_for [:admin, TaxRate.new] do |f| %>

              <div class="clear_top_margin_10">&nbsp;</div>

              <table id="global_settings_list" class="admin_table">
                <thead>
                  <tr>
                    <th width="330">Name</th>
                    <th width="320">Rate</th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <td>
                      <%= f.text_field :name %>
                    </td>
                    <td>
                      <%= f.text_field :rate, :size => 4 %>
                    </td>
                  </tr>
                </tbody>
              </table>

              <div class="clear_top_margin_10">&nbsp;</div>

              <div id="actions">
                <%= submit_tag "Create" %>
              </div>

            <% end %>

            <div class="clear">&nbsp;</div>
          </div>
        </div>

        <div class="container" id="#loyalty_levels_section">
          <div class="jscrollpane">
            <h4>Misc</h4>

            <%= form_tag admin_update_global_settings_path do %>

              <div class="clear_top_margin_10">&nbsp;</div>

              <table id="global_settings_list" class="admin_table">
                <thead>
                  <tr>
                    <th width="330">Setting</th>
                    <th width="320">Value</th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <td>Enable Loyalty Redemption?</td>
                    <td class="text_align_left">
                      <% @gs = GlobalSetting.setting_for GlobalSetting::ENABLE_LOYALTY_REDEMPTION %>
                      <input type="radio" name="global_settings[<%=@gs.id%>][value]" 
                             value="true" <%= @gs.parsed_value ? "checked" : "" %>/>
                      <div class="label">Yes</div>
                      <div class="clear">&nbsp;</div>

                      <input type="radio" name="global_settings[<%=@gs.id%>][value]" 
                             value="false" <%= !@gs.parsed_value ? "checked" : "" %>/>
                      <div class="label">No</div>
                      <div class="clear">&nbsp;</div>
                    </td>
                  </tr>
                  <tr>
                    <td>Loyalty Level Card Prefix (e.g. %ICR)</td>
                    <td class="text_align_left">
                      <% @gs = GlobalSetting.setting_for GlobalSetting::LOYALTY_CARD_PREFIX %>
                      <%= fields_for "global_settings[]", @gs do |f| %>
                        <%= f.text_field :value %>
                      <% end %>
                    </td>
                  </tr>
                  <tr>
                    <td>Loyalty Points Per <%= GlobalSetting.parsed_setting_for GlobalSetting::CURRENCY_SYMBOL %>1</td>
                    <td class="text_align_left">
                      <% @gs = GlobalSetting.setting_for GlobalSetting::LOYALTY_POINTS_PER_CURRENCY_UNIT %>
                      <%= fields_for "global_settings[]", @gs do |f| %>
                        <%= f.text_field :value %>
                      <% end %>
                    </td>
                  </tr>
                </tbody>
              </table>

              <div class="clear_top_margin_10">&nbsp;</div>

              <div id="actions">
                <%= submit_tag "Save" %>
              </div>

            <% end %>

            <h4>Current Loyalty Levels</h4>

            <%= form_tag update_multiple_admin_loyalty_levels_path do %>

              <div class="clear_top_margin_10">&nbsp;</div>

              <table id="global_settings_list" class="admin_table">
                <thead>
                  <tr>
                    <th width="330">Label</th>
                    <th width="70">Rate</th>
                    <th width="150">Delete</th>
                    <th width="150">Set Default</th>
                  </tr>
                </thead>

                <tbody>
                  <% LoyaltyLevel.all(:order => :label).each do |tr| %>
                    <%= fields_for "loyalty_levels[]", tr do |f| %>
                      <tr>
                        <td><%= f.text_field :label %></td>
                        <td><%= f.text_field :percent, :size => 4 %></td>
                        <td><%= link_to "Delete", admin_loyalty_level_path(tr), :method => :delete, :confirm => "Are You Sure?" %></td>
                        <td>
                          <%= radio_button_tag "set_default_loyalty_level", "#{tr.id}", tr.is_default, 
                            :onchange => "doSetDefaultLoyaltyLevel(this.value);" %>
                        </td>
                      </tr>
                    <% end %>
                  <% end %>
                </tbody>
              </table>

              <div class="clear_top_margin_10">&nbsp;</div>

              <div id="actions">
                <%= submit_tag "Save" %>
              </div>

            <% end %>

            <h4>New Loyalty Level</h4>

            <%= form_for [:admin, LoyaltyLevel.new] do |f| %>

              <div class="clear_top_margin_10">&nbsp;</div>

              <table id="global_settings_list" class="admin_table">
                <thead>
                  <tr>
                    <th width="330">Label</th>
                    <th width="320">Rate</th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <td>
                      <%= f.text_field :label %>
                    </td>
                    <td>
                      <%= f.text_field :percent, :size => 4 %>
                    </td>
                  </tr>
                </tbody>
              </table>

              <div class="clear_top_margin_10">&nbsp;</div>

              <div id="actions">
                <%= submit_tag "Create" %>
              </div>

            <% end %>

            <div class="clear">&nbsp;</div>
          </div>
        </div>

        <div class="container" id="#discounts_section">
          <div class="jscrollpane">
            <h4>Current Discounts</h4>

            <%= form_tag update_multiple_admin_discounts_path do %>

              <div class="clear_top_margin_10">&nbsp;</div>

              <table id="global_settings_list" class="admin_table">
                <thead>
                  <tr>
                    <th width="330">Name</th>
                    <th width="70">Percent</th>
                    <th width="150">Delete</th>
                    <th width="150">Set Default</th>
                  </tr>
                </thead>

                <tbody>
                  <% Discount.all(:order => :name).each do |discount| %>
                    <%= fields_for "discounts[]", discount do |f| %>
                      <tr><% Discount.load_default  %>
                        <td><%= f.text_field :name %></td>
                        <td><%= f.text_field :percent, :size => 4 %></td>
                        <td><%= link_to "Delete", admin_discount_path(discount), :method => :delete, :confirm => "Are You Sure?" %></td>
                        <td>
                          <%= radio_button_tag "set_default_discount", "#{discount.id}", discount.is_default, 
                            :onchange => "doSetDefaultDiscount(this.value);" %>
                        </td>
                      </tr>
                    <% end %>
                  <% end %>
                </tbody>
              </table>

              <div class="clear_top_margin_10">&nbsp;</div>

              <div id="actions">
                <%= submit_tag "Save" %>
              </div>

            <% end %>

            <h4>New Discount</h4>

            <%= form_for [:admin, Discount.new] do |f| %>

              <div class="clear_top_margin_10">&nbsp;</div>

              <table id="global_settings_list" class="admin_table">
                <thead>
                  <tr>
                    <th width="330">Name</th>
                    <th width="320">Percent</th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <td>
                      <%= f.text_field :name %>
                    </td>
                    <td>
                      <%= f.text_field :percent, :size => 4 %>
                    </td>
                  </tr>
                </tbody>
              </table>

              <div class="clear_top_margin_10">&nbsp;</div>

              <div id="actions">
                <%= submit_tag "Create" %>
              </div>

            <% end %>

            <div class="clear">&nbsp;</div>
          </div>
        </div>

        <div class="container" id="#coursing_section">
          <div class="jscrollpane">
            <h4>Coursing Labels</h4>

            <%= form_tag admin_update_global_settings_path do %>

              <div class="clear_top_margin_10">&nbsp;</div>

              <table id="global_settings_list" class="admin_table">
                <thead>
                  <tr>
                    <th width="330">Course Value</th>
                    <th width="70">Course Label</th>
                  </tr>
                </thead>

                <tbody>
                  <% GlobalSetting.course_vals.each do |course_val| %>
                    <tr>
                      <td><%= course_val %></td>
                      <td>
                        <% @gs = GlobalSetting.setting_for GlobalSetting::COURSE_LABEL, {:course_val => course_val} %>
                        <%= fields_for "global_settings[]", @gs do |f| %>
                          <%= f.text_field :value %>
                        <% end %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>

              <div class="clear_top_margin_10">&nbsp;</div>

              <div id="actions">
                <%= submit_tag "Save" %>
              </div>

            <% end %>

            <div class="clear">&nbsp;</div>
          </div>
        </div>

        <div class="container" id="#price_level_labels_section">
          <div class="jscrollpane">
            <h4>Price Level Labels</h4>

            <%= form_tag admin_update_global_settings_path do %>

              <div class="clear_top_margin_10">&nbsp;</div>

              <table id="global_settings_list" class="admin_table">
                <thead>
                  <tr>
                    <th width="330">Price Level</th>
                    <th width="70">Label</th>
                  </tr>
                </thead>

                <tbody>
                  <% GlobalSetting.price_levels.each do |price_level| %>
                    <tr>
                      <td><%= price_level %></td>
                      <td>
                        <% @gs = GlobalSetting.setting_for GlobalSetting::PRICE_LEVEL_LABEL, {:price_level => price_level} %>
                        <%= fields_for "global_settings[]", @gs do |f| %>
                          <%= f.text_field :value %>
                        <% end %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>

              <div class="clear_top_margin_10">&nbsp;</div>

              <div id="actions">
                <%= submit_tag "Save" %>
              </div>

            <% end %>

            <div class="clear">&nbsp;</div>
          </div>
        </div>

        <div class="container" id="#misc_section">
          <div class="jscrollpane">
            <%= form_tag admin_update_global_settings_path do %>

              <div class="clear_top_margin_10">&nbsp;</div>

              <table id="global_settings_list" class="admin_table">
                <thead>
                  <tr>
                    <th width="330">Setting</th>
                    <th width="320">Value</th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <td>Currency Symbol</td>
                    <td class="text_align_left">
                      <% @gs = GlobalSetting.setting_for GlobalSetting::CURRENCY_SYMBOL %>
                      <%= fields_for "global_settings[]", @gs do |f| %>
                        <%= f.text_field :value %>
                      <% end %>
                    </td>
                  </tr>
                  <tr>
                    <td>Small Currency Symbol</td>
                    <td class="text_align_left">
                      <% @gs = GlobalSetting.setting_for GlobalSetting::SMALL_CURRENCY_SYMBOL %>
                      <%= fields_for "global_settings[]", @gs do |f| %>
                        <%= f.text_field :value %>
                      <% end %>
                    </td>
                  </tr>
                  <tr>
                    <td>Currency Note Images:</td>
                    <td class="text_align_left">
                      <% @gs = GlobalSetting.setting_for GlobalSetting::CURRENCY_NOTES_IMAGES %>

                      <input type="radio" name="global_settings[<%=@gs.id%>][value]" 
                             value="<%= GlobalSetting::CURRENCY_NOTES_IMAGES_EURO %>" 
                             <%= @gs.parsed_value == GlobalSetting::CURRENCY_NOTES_IMAGES_EURO ? "checked" : "" %>/>
                      <div class="label">Euro</div>
                      <div class="clear">&nbsp;</div>

                      <input type="radio" name="global_settings[<%=@gs.id%>][value]" 
                             value="<%= GlobalSetting::CURRENCY_NOTES_IMAGES_STERLING %>" 
                             <%= @gs.parsed_value == GlobalSetting::CURRENCY_NOTES_IMAGES_STERLING ? "checked" : "" %>/>
                      <div class="label">Sterling</div>
                      <div class="clear">&nbsp;</div>
                    </td>
                  </tr>
                  <tr>
                    <td>Automatically Print Receipt?</td>
                    <td class="text_align_left">
                      <% @gs = GlobalSetting.setting_for GlobalSetting::AUTO_PRINT_RECEIPT %>
                      <input type="radio" name="global_settings[<%=@gs.id%>][value]" 
                             value="true" <%= @gs.parsed_value ? "checked" : "" %>/>
                      <div class="label">Yes</div>
                      <div class="clear">&nbsp;</div>

                      <input type="radio" name="global_settings[<%=@gs.id%>][value]" 
                             value="false" <%= !@gs.parsed_value ? "checked" : "" %>/>
                      <div class="label">No</div>
                      <div class="clear">&nbsp;</div>
                    </td>
                  </tr>
                  <tr>
                    <td>All Mobile Devices Receive Order Notifications?</td>
                    <td class="text_align_left">
                      <% @gs = GlobalSetting.setting_for GlobalSetting::All_DEVICES_ORDER_NOTIFICATION %>
                      <input type="radio" name="global_settings[<%=@gs.id%>][value]" 
                             value="true" <%= @gs.parsed_value ? "checked" : "" %>/>
                      <div class="label">Yes</div>
                      <div class="clear">&nbsp;</div>

                      <input type="radio" name="global_settings[<%=@gs.id%>][value]" 
                             value="false" <%= !@gs.parsed_value ? "checked" : "" %>/>
                      <div class="label">No</div>
                      <div class="clear">&nbsp;</div>
                    </td>
                  </tr>
                  <tr>
                    <td>Receipt Message (200 Chars)</td>

                    <td class="text_align_left">
                      <% @gs = GlobalSetting.setting_for GlobalSetting::RECEIPT_MESSAGE %>
                      <%= fields_for "global_settings[]", @gs do |f| %>
                        <%= f.text_area :value, :class => "mceEditor" %>
                      <% end %>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Enable On Screen Beep?
                    </td>
                    <td class="text_align_left">
                      <% @gs = GlobalSetting.setting_for GlobalSetting::DO_BEEP, {:fingerprint => @terminal_fingerprint} %>
                      <input type="radio" name="global_settings[<%=@gs.id%>][value]" 
                             value="true" <%= @gs.parsed_value ? "checked" : "" %>/>
                      <div class="label">Yes</div>
                      <div class="clear">&nbsp;</div>

                      <input type="radio" name="global_settings[<%=@gs.id%>][value]" 
                             value="false" <%= !@gs.parsed_value ? "checked" : "" %>/>
                      <div class="label">No</div>
                      <div class="clear">&nbsp;</div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Terminal Name
                    </td>
                    <td class="text_align_left">
                      <% @gs = GlobalSetting.terminal_id_for @terminal_fingerprint %>

                      <div id="terminal_name_field_unique_error" style="display: none;">
                        This terminal name has already been taken, if you submit this, the old terminal name will be overwritten
                      </div>

                      <%= fields_for "global_settings[]", @gs do |f| %>
                        <%= f.text_field :value, :id => "terminal_name_field", :onkeyup => "checkForUniqueTerminalName();" %>
                      <% end %>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Your IP Address
                    </td>
                    <td class="text_align_left">
                      <input type="text" value="<%= request.remote_ip %>" size="30" disabled="true"/>
                    </td>
                  </tr>
                  <tr>
                    <td>Bypass open orders for Z totals on this terminal?</td>
                    <td class="text_align_left">
                      <% @gs = GlobalSetting.setting_for GlobalSetting::BYPASS_OPEN_ORDERS_FOR_CASH_TOTAL, {:fingerprint => @terminal_fingerprint} %>
                      <input type="radio" name="global_settings[<%=@gs.id%>][value]" 
                             value="true" <%= @gs.parsed_value ? "checked" : "" %>/>
                      <div class="label">Yes</div>
                      <div class="clear">&nbsp;</div>

                      <input type="radio" name="global_settings[<%=@gs.id%>][value]" 
                             value="false" <%= !@gs.parsed_value ? "checked" : "" %>/>
                      <div class="label">No</div>
                      <div class="clear">&nbsp;</div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Earliest Opening Hour
                    </td>
                    <td class="text_align_left">
                      <% @gs = GlobalSetting.setting_for GlobalSetting::EARLIEST_OPENING_HOUR %>

                      <%= fields_for "global_settings[]", @gs do |f| %>
                        <%= f.text_field :value %>
                      <% end %>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Latest Closing Hour
                    </td>
                    <td class="text_align_left">
                      <% @gs = GlobalSetting.setting_for GlobalSetting::LATEST_CLOSING_HOUR %>

                      <%= fields_for "global_settings[]", @gs do |f| %>
                        <%= f.text_field :value %>
                      <% end %>
                    </td>
                  </tr>
                </tbody>
              </table>

              <div class="clear_top_margin_10">&nbsp;</div>

              <div id="actions">
                <%= submit_tag "Save" %>
              </div>

            <% end %>

            <div class="clear">&nbsp;</div>
          </div>
        </div>

        <div class="container" id="#cluey_settings_section">
          <div class="jscrollpane">
            <%= form_tag admin_update_global_settings_path do %>

              <div class="clear_top_margin_10">&nbsp;</div>

              <table id="global_settings_list" class="admin_table">
                <thead>
                  <tr>
                    <th width="330">Setting</th>
                    <th width="320">Value</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Disable Advanced Touch?</td>
                    <td id="dat_section" class="text_align_left">
                      <% @gs = GlobalSetting.setting_for GlobalSetting::DISABLE_ADVANCED_TOUCH, {:fingerprint => @terminal_fingerprint, :user_agent => request.user_agent} %>
                      <div class="controls">
                        <input type="radio" name="global_settings[<%=@gs.id%>][value]" 
                               value="true" <%= @gs.parsed_value ? "checked" : "" %>/>
                        <div class="label">Yes</div>
                        <div class="clear">&nbsp;</div>

                        <input type="radio" name="global_settings[<%=@gs.id%>][value]" 
                               value="false" <%= !@gs.parsed_value ? "checked" : "" %>/>
                        <div class="label">No</div>
                      </div>

                      <div id="actions">
                        <%= submit_tag "Save" %>
                      </div>

                      <div class="clear">&nbsp;</div>
                    </td>
                  </tr>
                  <tr>
                    <td>Show Licence Expired Screen (Every 15 Mins)?</td>
                    <td id="dat_section" class="text_align_left">
                      <% @gs = GlobalSetting.setting_for GlobalSetting::SHOW_LICENCE_EXPIRED_SCREEN %>
                      <div class="controls">
                        <input type="radio" name="global_settings[<%=@gs.id%>][value]" 
                               value="true" <%= @gs.parsed_value ? "checked" : "" %>/>
                        <div class="label">Yes</div>
                        <div class="clear">&nbsp;</div>

                        <input type="radio" name="global_settings[<%=@gs.id%>][value]" 
                               value="false" <%= !@gs.parsed_value ? "checked" : "" %>/>
                        <div class="label">No</div>
                      </div>
                      <div class="clear">&nbsp;</div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Re-generate Terminal Fingerprint Cookie?
                    </td>
                    <td class="text_align_left">
                      <div id="delete_terminal_fingerprint_cookie_button" class="button" data-onpress="regenerateTerminalFingerprintCookie();">
                        Re-Generate
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Printer IP Address
                    </td>
                    <td class="text_align_left">
                      <% @gs = GlobalSetting.setting_for GlobalSetting::WEBSOCKET_IP, {:fingerprint => @terminal_fingerprint} %>
                      <%= fields_for "global_settings[]", @gs do |f| %>
                        <%= f.text_field :value %>
                      <% end %>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Cash Drawer IP Address
                    </td>
                    <td class="text_align_left">
                      <% @gs = GlobalSetting.setting_for GlobalSetting::CASH_DRAWER_IP_ADDRESS, {:fingerprint => @terminal_fingerprint} %>
                      <%= fields_for "global_settings[]", @gs do |f| %>
                        <%= f.text_field :value %>
                      <% end %>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Zalion Room Charge Service IP Address
                    </td>
                    <td class="text_align_left">
                      <% @gs = GlobalSetting.setting_for GlobalSetting::ZALION_ROOM_CHARGE_SERVICE_IP %>
                      <%= fields_for "global_settings[]", @gs do |f| %>
                        <%= f.text_field :value %>
                      <% end %>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Credit Card Charge Service IP Address
                    </td>
                    <td class="text_align_left">
                      <% @gs = GlobalSetting.setting_for GlobalSetting::CREDIT_CARD_CHARGE_SERVICE_IP, {:fingerprint => @terminal_fingerprint} %>
                      <%= fields_for "global_settings[]", @gs do |f| %>
                        <%= f.text_field :value %>
                      <% end %>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Credit Card Terminal IP Address
                    </td>
                    <td class="text_align_left">
                      <% @gs = GlobalSetting.setting_for GlobalSetting::CREDIT_CARD_TERMINAL_IP, {:fingerprint => @terminal_fingerprint} %>
                      <%= fields_for "global_settings[]", @gs do |f| %>
                        <%= f.text_field :value %>
                      <% end %>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Credit Card Terminal Port
                    </td>
                    <td class="text_align_left">
                      <% @gs = GlobalSetting.setting_for GlobalSetting::CREDIT_CARD_TERMINAL_PORT, {:fingerprint => @terminal_fingerprint} %>
                      <%= fields_for "global_settings[]", @gs do |f| %>
                        <%= f.text_field :value %>
                      <% end %>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Printer Left Margin (Pixels)
                    </td>
                    <td class="text_align_left">
                      <% @gs = GlobalSetting.setting_for GlobalSetting::PRINTER_LEFT_MARGIN, {:fingerprint => @terminal_fingerprint} %>
                      <%= fields_for "global_settings[]", @gs do |f| %>
                        <%= f.text_field :value %>
                      <% end %>
                    </td>
                  </tr>
                  <tr>
                    <td>Use Windows OS Printer Margins?</td>
                    <td class="text_align_left">
                      <% @gs = GlobalSetting.setting_for GlobalSetting::WINDOWS_PRINTER_MARGINS, {:fingerprint => @terminal_fingerprint} %>
                      <input type="radio" name="global_settings[<%=@gs.id%>][value]" 
                             value="true" <%= @gs.parsed_value ? "checked" : "" %>/>
                      <div class="label">Yes</div>
                      <div class="clear">&nbsp;</div>

                      <input type="radio" name="global_settings[<%=@gs.id%>][value]" 
                             value="false" <%= !@gs.parsed_value ? "checked" : "" %>/>
                      <div class="label">No</div>
                      <div class="clear">&nbsp;</div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Your IP Address
                    </td>
                    <td class="text_align_left">
                      <input type="text" value="<%= request.remote_ip %>" size="30" disabled="true"/>
                    </td>
                  </tr>
                  <tr>
                    <td>Order Receipt Width?</td>
                    <td class="text_align_left">
                      <% @gs = GlobalSetting.setting_for GlobalSetting::ORDER_RECEIPT_WIDTH, {:fingerprint => @terminal_fingerprint} %>

                      <input type="radio" name="global_settings[<%=@gs.id%>][value]" 
                             value="<%= GlobalSetting::ORDER_RECEIPT_WIDTH_80MM %>" 
                             <%= @gs.parsed_value == GlobalSetting::ORDER_RECEIPT_WIDTH_80MM ? "checked" : "" %>/>
                      <div class="label">80mm</div>
                      <div class="clear">&nbsp;</div>

                      <input type="radio" name="global_settings[<%=@gs.id%>][value]" 
                             value="<%= GlobalSetting::ORDER_RECEIPT_WIDTH_76MM %>" 
                             <%= @gs.parsed_value == GlobalSetting::ORDER_RECEIPT_WIDTH_76MM ? "checked" : "" %>/>
                      <div class="label">76mm</div>
                      <div class="clear">&nbsp;</div>
                    </td>
                  </tr>
                  <tr>
                    <td>Global Authentication Required?</td>
                    <td class="text_align_left">
                      <% @gs = GlobalSetting.setting_for GlobalSetting::AUTHENTICATION_REQUIRED %>
                      <input type="radio" name="global_settings[<%=@gs.id%>][value]" 
                             value="true" <%= @gs.parsed_value ? "checked" : "" %>/>
                      <div class="label">Yes</div>
                      <div class="clear">&nbsp;</div>

                      <input type="radio" name="global_settings[<%=@gs.id%>][value]" 
                             value="false" <%= !@gs.parsed_value ? "checked" : "" %>/>
                      <div class="label">No</div>
                      <div class="clear">&nbsp;</div>
                    </td>
                  </tr>
                  <tr>
                    <td>Local Authentication Required?</td>
                    <td class="text_align_left">
                      <% @gs = GlobalSetting.setting_for GlobalSetting::LOCAL_AUTHENTICATION_REQUIRED %>
                      <input type="radio" name="global_settings[<%=@gs.id%>][value]" 
                             value="true" <%= @gs.parsed_value ? "checked" : "" %>/>
                      <div class="label">Yes</div>
                      <div class="clear">&nbsp;</div>

                      <input type="radio" name="global_settings[<%=@gs.id%>][value]" 
                             value="false" <%= !@gs.parsed_value ? "checked" : "" %>/>
                      <div class="label">No</div>
                      <div class="clear">&nbsp;</div>
                    </td>
                  </tr>
                  <tr>
                    <td>App HTTP Authentication Username</td>
                    <td class="text_align_left">
                      <% @gs = GlobalSetting.setting_for GlobalSetting::HTTP_AUTH_USERNAME %>
                      <%= fields_for "global_settings[]", @gs do |f| %>
                        <%= f.text_field :value %>
                      <% end %>
                    </td>
                  </tr>
                  <tr>
                    <td>App HTTP Authentication Password</td>
                    <td class="text_align_left">
                      <% @gs = GlobalSetting.setting_for GlobalSetting::HTTP_AUTH_PASSWORD %>
                      <%= fields_for "global_settings[]", @gs do |f| %>
                        <%= f.text_field :value %>
                      <% end %>
                    </td>
                  </tr>
                  <tr>
                    <td>Process Cash Sales As Orders?</td>
                    <td class="text_align_left">
                      <% @gs = GlobalSetting.setting_for GlobalSetting::PROCESS_TABLE_0_ORDERS %>
                      <input type="radio" name="global_settings[<%=@gs.id%>][value]" 
                             value="true" <%= @gs.parsed_value ? "checked" : "" %>/>
                      <div class="label">Yes</div>
                      <div class="clear">&nbsp;</div>

                      <input type="radio" name="global_settings[<%=@gs.id%>][value]" 
                             value="false" <%= !@gs.parsed_value ? "checked" : "" %>/>
                      <div class="label">No</div>
                      <div class="clear">&nbsp;</div>
                    </td>
                  </tr>
                  <tr>
                    <td>Polling Interval (In seconds (1-5))</td>
                    <td class="text_align_left">
                      <% @gs = GlobalSetting.setting_for GlobalSetting::POLLING_INTERVAL_SECONDS %>
                      <%= fields_for "global_settings[]", @gs do |f| %>
                        <%= f.text_field :value %>
                      <% end %>
                    </td>
                  </tr>
                </tbody>
              </table>

              <div class="clear_top_margin_10">&nbsp;</div>

              <div id="actions">
                <%= submit_tag "Save" %>
              </div>

            <% end %>

            <div class="clear">&nbsp;</div>
          </div>
        </div>

      </div>
    </div>
  </section>

</div>