<div id="menu_container">
  <div id="pages">
    <% @display.menu_pages.each do |page| %>
      <div class="page"  id="menu_page_<%=page.id%>"
           onclick="doMenuPageSelect(<%= page.page_num %>, <%= page.id %>);">
        <div class="name">
          <%= page.name %>
        </div>
      </div>

      <div style="display: none;" id="menu_items_<%= page.page_num %>">
        <div id="items">
          <% page.menu_items.each do |item| %>
            <% if item.product %>
              <div class="item" onclick="doSelectMenuItem(<%= item.product_id %>, this)">
                <div class="item_pic">
                  <%= product_image_thumb item.product %>
                </div>
                <div class="item_name">
                  <%= item.name %>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>

    <% end %>
  </div>

  <div class="clear">&nbsp;</div>

  <div id="menu_items_container">
    Loading...
  </div>
</div>