<% if session[:preselect] != -1 %>
    <% unless params[:action] == "staff_print" %>
        <div id="options_menu">
            <div class="option" onclick="setStaffSelect(-1)" class="print_box">
                <div style="float: left;"><img src="/images/button_logos/home.png" alt="Print" width="24" height="24"/>
                </div>
                <div style="float: left; margin-top: 6px;margin-left: 2px">
                    <span style="font-weight: bold; margin-top: -3px;">  Home  |</span></div>
            </div>
            <div class="option" onclick="window.location = '/reports/staff/staff_print'" class="print_box">
                <div style="float: left;"><img src="/images/button_logos/print.png" alt="Print" width="24" height="24"/>
                </div>
                <div style="float: left; margin-top: 6px;margin-left: 2px">
                    <span style="font-weight: bold; margin-top: -3px;">  Print  |</span></div>
            </div>
            <div class="option" onclick="window.location = '/reports/staff/export_excel'" class="excel_box">
                <div style="float: left;">
                    <img src="/images/button_logos/excel.png" alt="Export to Excel" width="24" height="24"/></div>
                <div style="float: left; margin-top: 6px;margin-left: 2px">
                    <span style="font-weight: bold; margin-top: -3px;">  Excel </span></div>
            </div>
        </div>
    <% end %>
    <div id="staff_items_graph" style="display: none">
        <div id="spacer" style="height:70px;"></div>
    </div>


    <div id="staff_items" >
        <% if params[:action] == "staff_print" %>
            <h3>Staffs Report <%= Time.now.strftime("%B %d, %Y") %></h3>
        <% end %>

        <% if (@s_type == :day) || (@s_type == :month) || (@s_type == :week) || (@s_type == :year) %>

            <table id="product_list" class="admin_table" style="width: 100%">
                <thead>
                <th class="header">Name</th>
                <th class="header">ID</th>
                <th class="header">Start Date</th>
                <th class="header">Finish Date</th>
                <th class="header">Total Hours</th>
                <th class="header">Breaks</th>
                <th class="header">Hours Payable</th>
                <th class="header">Rate</th>
                <th class="header">Cost</th>
                </thead>
                <% total_items = 0 %>
                <% @orders.each do |week| %>

                    <% @work_data = week[:report_data] %>
                    <% @employee = Employeee.find_by_id(week.employee_id) %>
                    <tbody>
                    <tr>
                        <td>
                          <%= @employee.name %>
                        </td>

                        <td>
                           <%= @employee.id %>
                        </td>
                        <td>
                           <%= @work_data[:clockin_time] %>
                        </td>
                        <td>
                            <%= @work_data[:clockout_time] %>
                        </td>
                        <td>
                             <%= @work_data[:shift_seconds] %>
                        </td>
                        <td>
                           <%= @work_data[:break_seconds] %>
                        </td>
                        <td>
                            <%= @work_data[:payable_seconds] %>
                        </td>
                        <td>
                            <%= @work_data[:hourly_rate] %>
                        </td>
                        <td>
                            <%= @work_data[:cost] %>
                        </td>
                    </tr>
                <% end %>
                </tbody>
            </table>

        <% else %>

            <script type="text/javascript">
                $(function () {
                    $('.pagination a').click(function () {
                        $("#report_staff_results").html("Loading...");
                        $.get(this.href, null, null, 'script');
                        return false;
                    });
                });
            </script>
            <table id="product_list" class="admin_table" style="width: 100%">
                <thead>
                <th class="header">Name</th>
                <th class="header">ID</th>
                <th class="header">Start Date</th>
                <th class="header">Finish Date</th>
                <th class="header">Total Hours</th>
                <th class="header">Breaks</th>
                <th class="header">Hours Payable</th>
                <th class="header">Rate</th>
                <th class="header">Cost</th>
                </thead>
                <% total_cost = 0 %>
                <% total_hours_payable = 0 %>
                <% total_hours = 0 %>
                <% @orders.each do |week| %>

                    <% @work_data = week[:report_data] %>
                    <% @work_data = week[:report_data] %>
                    <% @employee = Employee.find_by_id(week.employee_id) %>

                    <% total_cost += @work_data[:cost] %>
                    <% total_hours_payable += @work_data[:payable_seconds] %>
                    <% total_hours += @work_data[:shift_seconds] %>
                    <tbody>
                    <tr>
                        <td>
                          <%= @employee.name %>
                        </td>

                        <td>
                           <%= @employee.id %>
                        </td>
                        <td>
                           <%= @work_data[:clockin_time].to_datetime.strftime "%a, %d %b %Y, %l:%M%P" %>
                        </td>
                        <td>
                            <%= @work_data[:clockout_time].to_datetime.strftime "%a, %d %b %Y, %l:%M%P" %>
                        </td>
                        <td>
                             <%= hours_mins_for_seconds @work_data[:shift_seconds] %>
                        </td>
                        <td>
                           <%= hours_mins_for_seconds @work_data[:break_seconds] %>
                        </td>
                        <td>
                            <%= hours_mins_for_seconds @work_data[:payable_seconds] %>
                        </td>
                        <td>
                            <%= @work_data[:hourly_rate] %>
                        </td>
                        <td>
                            <%= @work_data[:cost] %>
                        </td>
                    </tr>
                <% end %>
                  <tr>
                    <td style="text-align: left; border-top: 2px solid">
                        <b>Total:</b>
                    </td>
                      <td style="text-align: right; border-top: 2px solid;">
                    </td>
                      <td style="text-align: right; border-top: 2px solid;">
                    </td>
                      <td style="text-align: right; border-top: 2px solid;">
                    </td>
                    <td style="text-align: right; border-top: 2px solid">
                        <%= hours_mins_for_seconds total_hours %>
                    </td>
                    <td style="text-align: right; border-top: 2px solid; ">
                    </td>
                    <td style="text-align: right; border-top: 2px solid;">
                        <%= hours_mins_for_seconds total_hours_payable %>
                    </td>
                    <td style="text-align: right; border-top: 2px solid;">
                    </td>
                    <td style="text-align: right; border-top: 2px solid">
                        <%= print_money(total_cost) %>
                    </td>
                </tr>
                </tbody>
            </table>
            </div>

        <% end %>
<% else %>
    <div id="saved_items">
        <div id="saved_items_container">
            <div onclick="setStaffSelect(0)" class="saved_report_button">
                <div class="b_text" style="margin-top: 12px"><b>Staffs by Transaction This Week</b></div>
            </div>
            <div onclick="setStaffSelect(1)" class="saved_report_button">
                <div class="b_text" style="margin-top: 12px"><b>Discounted Transactions From Last Week</b></div>
            </div>
            <div onclick="setStaffSelect(2)" class="saved_report_button">
                <div class="b_text"><b>Staffs by Month This Year</b></div>
            </div>
            <div onclick="setStaffSelect(3)" class="saved_report_button">
                <div class="b_text"><b>Staffs by Day This Year</b></div>
            </div>
        </div>
    </div>
<% end %>
<script type="text/javascript">
    $('#refine_button').removeClass("selected");
</script>

