<% if !@customers.empty? %>
  <table id="customer_list" class="admin_table">
    <thead>
      <tr>
        <th width="160">Customer Name</th>
        <th width="160">Customer Number</th>
        <th width="130">Balance</th>
        <th width="130">Points</th>
      </tr>
    </thead>
    <tbody>
      <% @customers.each do |customer| %>
        <tr id="customer_id_<%=customer.id%>">
          <td><%= link_to customer.name, edit_admin_customer_path(customer) %></td>
          <td><%= customer.customer_number %></td>
          <td><%= print_money customer.current_balance %></td>
          <td><%= customer.available_points %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="drag_message">No customers found.</div>
<% end %>