
<div class="extra_options">
  <div id="extra_options_tabs" class="text_only_tabs">
    <div class="text_only_tab" id="extra_options_tab_general" onclick="customerBuilderExtraOptionsGeneralSelected();">
      <div class="label">General</div>
    </div>
    <div class="text_only_tab" id="extra_options_tab_loyalty" onclick="customerBuilderExtraOptionsLoyaltySelected();">
      <div class="label">Loyalty</div>
    </div>
    <div class="text_only_tab" id="extra_options_tab_history" onclick="customerBuilderExtraOptionsHistorySelected();">
      <div class="label">History</div>
    </div>
    <div class="text_only_tab" id="extra_options_tab_options" onclick="customerBuilderExtraOptionsOptionsSelected();">
      <div class="label">Options</div>
    </div>
    <div class="clear">&nbsp;</div>
  </div>

  <div id="general_tab_content" class="tab_content" style="display: none;">
    <div class="left_col">
      <div class="field">
        <div class="label">Credit Limit</div>
        <%= f.text_field :credit_limit %>
        <div class="clear">&nbsp;</div>
      </div>
      <div class="field">
        <div class="label">Current Balance</div>
        <%= f.text_field :current_balance %>
        <div class="clear">&nbsp;</div>
      </div>
      <div class="field">
        <div class="label">Credit available</div>
        <%= f.text_field :credit_available %>
        <div class="clear">&nbsp;</div>
      </div>
    </div>
    <div class="right_col">
      
    </div>
  </div>
  
  <div id="loyalty_tab_content" class="tab_content" style="display: none;">
    <div class="left_col">
      <div class="field">
        <div class="label">Swipe Card Code</div>
        <%= f.text_field :swipe_card_code %>
        <div class="clear">&nbsp;</div>
      </div>
      <div class="field">
        <div class="label">Available Points</div>
        <%= f.text_field :available_points, :disabled => true %>
        <div class="clear">&nbsp;</div>
      </div>
      <div class="field">
        <div class="label">Loyalty Level</div>
        <%= f.collection_select :loyalty_level_id, LoyaltyLevel.all, :id, :label, 
            :prompt => "Select a Loyalty Level" %>
        <div class="clear">&nbsp;</div>
      </div>
    </div>
    <div class="right_col">
      
    </div>
  </div>
  
  <div id="history_tab_content" class="tab_content" style="display: none;">
    <div class="left_col">
      
    </div>
    <div class="right_col">
      
    </div>
  </div>
  
  <div id="options_tab_content" class="tab_content" style="display: none;">
    <div class="left_col">
      
    </div>
    <div class="right_col">
      
    </div>
  </div>
  
</div>