<% if !@customers.empty? %>
  <table id="customer_list" class="admin_table">
    <thead>
      <tr>
        <th width="160">Account No.</th>
        <th width="160">Customer Name</th>
        <th width="160">Credit Limit</th>
        <th width="130">Balance</th>
        <th width="130">LoyaltyPoints</th>
        <th width="160">Make Payment</th>
      </tr>
    </thead>
    <tbody>
      <% @customers.each do |customer| %>
        <tr id="customer_id_<%=customer.id%>">
          <td><%= link_to customer.account_number, edit_admin_customer_path(customer) %></td>
          <td><%= link_to customer.name, edit_admin_customer_path(customer) %></td>
          <td><%= print_money customer.credit_limit %></td>
          <td><%= print_money customer.current_balance %></td>
          <td><%= customer.available_points %></td>
          <td>
            <% if customer.is_normal_customer? %>
              <div class="button_small" data-onpress="makeCustomerPaymentAdminShortcut(<%= customer.id %>)">Make Payment</div>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="drag_message">No customers found.</div>
<% end %>