<div id="at_a_glance_results_left">

</div>

<div id="at_a_glance_results_right">

  <div id="top_selling_items">
    <h3>TOP SELLING ITEMS</h3>
    <table id="top_selling_items_table">
      <tbody>
        <% @top_selling_items.each do |top_item| %>
          <tr>
            <td width="40" class="left"><%=top_item[1][1]%></td>
            <td width="160" class="center"><%=(!top_item[1][0].nil?)?top_item[1][0]:"<NAME>"%></td>
            <td width="70" class="right">&euro; <%=top_item[1][2].round(2)%></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <%= high_chart("graph_container", @graph) do |c| %>
    <%= "options.tooltip.formatter = function() { return this.x +'-'+ parseInt(this.x+1) +' hs: '+ this.y +' euros';}" %>
  <%end %>

  <div id="sales_per_hour_items">
    <table id="items_table">
      <thead>
        <tr>
          <th width="80" class="left">Hour</th>
          <th width="80" class="center">Qty</th>
          <th width="80" class="right">Total Sales</th>
        </tr>
      </thead>
      <tbody>
        <% @items_per_hour.keys.sort.each do |key| %>
          <tr>
            <td class="left"><%=key%> - <%=key+1%></td>
            <td class="center"><%=@items_per_hour[key]%> items</td>
            <td class="right">&euro; <%=@sales_per_hour[key]%></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>
