<div id="at_a_glance_results_left">
    <h3>SALES</h3>
    <table class="items_table">
      <tbody>
        <tr>
          <td width="200" class="left"><b>Total Sales</b></td>
          <td width="80" class="middle"><b>Today</b></td>
          <td width="80" class="right"><b>Average</b></td>
        </tr>
        <tr>
          <td width="200" class="left"><b>Total</b></td>
          <td width="80" class="middle"><b><% unless @today_sales == nil %><%= print_money(@today_sales)%><% else %>No Data<% end %> </b></td>
          <td width="80" class="right"><b><%= print_money(@average_day_sales/@total_number_days) %> </b></td>
        </tr>
        <div class="clear">&nbsp;</div>
        <tr>
          <td width="200" class="left">No. of Sales</td>
          <td width="80" class="middle"><% if @number_of_sales != 0 %><%= @number_of_sales %><% end %></td>
          <td width="80" class="right"><%= @total_number_sales/@total_number_days %></td>
        </tr>
        <div class="clear">&nbsp;</div>
        <tr>
          <td width="200" class="left">Average Sales</td>

          <td width="80" class="middle"><% unless @today_sales == nil %><%= print_money(@today_sales/@number_of_sales) %><% end %></td>
          <td width="80" class="right"><%= print_money(@average_day_sales/@total_number_sales) %></td>
        </tr>
        <div class="clear">&nbsp;</div>
        <tr>
          <td width="200" class="left">Busiest Hour</td>
          <td width="80" class="middle"><% unless @busiest_hour == nil %><%= @busiest_hour.strftime("%H") %>:00<% end %></td>
          <td width="80" class="right"><%= @total_busiest_hour.strftime("%H") %>:00 </td>
        </tr>
        <tr>
          <td width="200" class="left">Qty of Voided Sales</td>
          <td width="80" class="middle"><% unless @todays_voids == nil %><%= @todays_voids %> <% end %></td>
          <td width="80" class="right"><% unless @total_voids == nil %><%= print_money(@total_voids/@total_number_days) %><% end %> </td>
        </tr>
        <tr>
          <td width="200" class="left">Total Discount</td>
          <td width="80" class="middle"><% unless @todays_discounts[0].total_price == nil %><%= print_money(@todays_discounts[0].total_price) %> <% end %></td>
          <td width="80" class="right"><% unless @average_discounts.empty? %><%= print_money(@average_discounts[0].total_price/@total_number_days) %><% end %> </td>
        </tr>

      </tbody>
    </table>
  <div>
    <h3>SALES BY PAYMENT TYPE</h3>
    <table class="items_table">
      <tbody>
      <% unless @sales_by_payments.empty? %>
      <% @sales_by_payments.each do |pt| %>
        <% @all_sales_by_payments = Order.find_by_sql("select o.id, o.created_at, o.discount_percent, o.pre_discount_price, sum(total) total, o.payment_type, o.terminal_id, o.employee_id from orders o where o.created_at <= '2012-08-15 16:22:35 +0100' and o.created_at >= '2010-01-01 00:00:00 +0000' and o.payment_type = '#{pt.payment_type}' and o.is_void = 0 group by o.payment_type") %>
        <tr>
          <td width="200" class="left"><%= pt.payment_type %></td>
          <td width="80" class="middle"><% unless pt.total == nil %><%= print_money(pt.total) %><% end %></td>
          <td width="80" class="right"><% unless @all_sales_by_payments == nil %><%= print_money(@all_sales_by_payments[0].total/@total_number_days) %><% end %> </td>
        </tr>
      <% end %>
      <% else %>
      <tr>
          <td width="200" class="left"></td>
          <td width="80" class="middle">No Data</td>
          <td width="80" class="right"> </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <div>
    <h3>SALES BY SERVER</h3>
    <table class="items_table">
      <tbody>
      <% unless @sales_by_server.empty? %>
      <% @sales_by_server.each do |e| %>
        <% @all_sales_by_server = Order.find_by_sql("select o.id, o.created_at, o.discount_percent, o.pre_discount_price, sum(total) total, o.payment_type, o.terminal_id, o.employee_id from orders o where o.created_at <= '2012-08-15 16:22:35 +0100' and o.created_at >= '2010-01-01 00:00:00 +0000' and o.employee_id = '#{e.employee_id}' and o.is_void = 0 group by o.employee_id") %>
        <tr>
          <td width="200" class="left"><%= Employee.find_by_id(e.employee_id).name %></td>
          <td width="80" class="middle"><% unless e.total == nil %><%= print_money(e.total) %><% end %></td>
          <td width="80" class="right"><% unless @all_sales_by_server == nil %><%= print_money(@all_sales_by_server[0].total/@total_number_days) %><% end %> </td>
        </tr>
      <% end %>
      <% else %>
      <tr>
          <td width="200" class="left"></td>
          <td width="80" class="middle">No Data</td>
          <td width="80" class="right"> </td>
        </tr>
      <% end %>

      </tbody>
    </table>
  </div>
  <div>
    <% unless @expenses_paid.empty? %>
    <h3>Expenses Paid</h3>
    <table class="items_table">
      <tbody>
        <% @expenses_paid.each do |ex| %>
        <tr>
          <td width="200" class="left"><b><%= ex.note[0..20] %></b></td>
          <td width="80" class="right"><b><%= print_money(ex.amount) %></b></td>
        </tr>
        <% end %>
      </tbody>
    </table>
   <% end %>
  </div>
</div>

<div id="at_a_glance_results_right">

  <div>
    <% unless @top_selling_items.empty? %>
    <h3>TOP SELLING ITEMS</h3>
      <table class="items_table">
      <tbody>
        <% @top_selling_items.each do |ex| %>
        <tr>
          <td width="100" class="left"><%= ex.id %></td>
          <td width="100" class="middle"><%= Product.find_by_id(ex.product_id).name %></td>
          <td width="100" class="right"><%= print_money(ex.total_price) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
   <% end %>
  </div>





</div>
