<div id="at_a_glance_results_left">
    <h3>SALES</h3>
    <table class="items_table">
      <tbody>
        <tr>
          <td width="200" class="left"><b>Total Sales</b></td>
          <td width="80" class="middle"><b>Today</b></td>
          <td width="80" class="right"><b>Average</b></td>
        </tr>
        <tr>
          <td width="200" class="left"><b>Total</b></td>
          <td width="80" class="middle"><b><%= print_money(@today_sales)%> </b></td>
          <td width="80" class="right"><b><%= print_money(@average_day_sales/@total_number_days) %> </b></td>
        </tr>

        <div class="clear">&nbsp;</div>
        <tr>
          <td width="200" class="left">No. of Sales</td>
          <td width="80" class="middle"><%= @number_of_sales %></td>
          <td width="80" class="right"><%= @total_number_sales/@total_number_days %></td>
        </tr>
        <div class="clear">&nbsp;</div>
        <tr>
          <td width="200" class="left">Average Sales</td>
          <td width="80" class="middle"><%= print_money(@today_sales/@number_of_sales) %></td>
          <td width="80" class="right"><%= print_money(@average_day_sales/@total_number_sales) %></td>
        </tr>
        <div class="clear">&nbsp;</div>
        <tr>
          <td width="200" class="left">Busiest Hour</td>
          <td width="80" class="middle"><%= @busiest_hour.strftime("%H") %>:00 </td>
          <td width="80" class="right"><%= @total_busiest_hour.strftime("%H") %>:00 </td>
        </tr>

        <% if !@items_per_hour.nil? and !@items_per_hour.empty? %>
          <tr>
            <td width="200" class="left">No of Sales</td>
            <td width="80" class="right"><%=@number_of_sales%></td>
          </tr>
          <tr>
            <td width="200" class="left">Average Sale</td>
            <td width="80" class="right"><%=@currency%> <%=sprintf("%.2f", @average_sale)%></td>
          </tr>
          <tr>
            <td width="200" class="left">Busiest Hour</td>
            <td width="80" class="right"><% if @busiest_hour %><%=@busiest_hour%>-<%=@busiest_hour+1%> hs.<% end %></td>
          </tr>
          <%#*<tr>%>
            <%#*<td width="200" class="left">Qty of No Sale</td>%>
            <%#*<td width="80" class="right"></td>%>
          <%#*</tr>%>
          <tr>
            <td width="200" class="left">Qty of Voided Sales</td>
            <td width="80" class="right"><%=@voided_sales%></td>
          </tr>
          <%#*<tr>%>
            <%#*<td width="200" class="left">Refunds</td>%>
            <%#*<td width="80" class="right"></td>%>
          <%#*</tr>%>
          <tr>
            <td width="200" class="left">Total Discount</td>
            <td width="80" class="right"><%=@currency%> <%=sprintf("%.2f", @total_discount)%></td>
          </tr>
        <%end%>
      </tbody>
    </table>
  <div>
    <h3>SALES BY PAYMENT TYPE</h3>
    <table class="items_table">
      <tbody>

        <tr>
          <td width="200" class="left"><b>Total Sales</b></td>
          <td width="80" class="right"><b></b></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <h3>SALES BY SERVER</h3>
    <table class="items_table">
      <tbody>

        <tr>
          <td width="200" class="left"><b>Total Sales</b></td>
          <td width="80" class="right"><b></b></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <h3>LAST 7 DAYS SUMMARY</h3>
    <table class="items_table">
      <tbody>

        <tr>
          <td width="200" class="left"><b>Total Last 7 Days</b></td>
          <td width="80" class="right"><b></b></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div id="at_a_glance_results_right">

  <div>
    <h3>TOP SELLING ITEMS</h3>

  </div>





</div>
