<% @nav_title = "Reports" %>

<div id="reports_container">

    <div id="report_option_tabs" class="vtabs report_option_tabs">

      <div>
        <ul>
          <li><a id="at_a_glance_section_link" href="#at_a_glance_section">At a Glance</a></li>
          <%#*<li><a id="sales_section_link" href="#sales_info_section">Sales</a></li>%>
          <%#*<li><a id="cash_section_link" href="#cash_section">Cash</a></li>%>
          <%#*<li><a id="payments_section_link" href="#payments_section">Payments</a></li>%>
          <%#*<li><a id="customers_section_link" href="#customers_section">Customers</a></li>%>
          <%#*<li><a id="suppliers_section_link" href="#suppliers_section">Suppliers</a></li>%>
          <%#*<li><a id="stock_control_section_link" href="#stock_control_section">Stock</a></li>%>
          <%#*<li><a id="staff_section_link" href="#staff_section">Staff</a></li>%>
        </ul>
      </div>

      <div>
        
        <div class="container" id="#at_a_glance_section">
            
            <div id="at_a_glance_filters" class="popout_dialog">
               <div id="date_select_container">
                  <div class="dropdown_container">
                    <div class="label">Terminal</div>
                    <select onchange="addTerminalFilter($(this).val())">
                      <option value="">All Terminals</option>
                      <% @all_terminals.each do |terminal_id|%>
                          <option value="<%= terminal_id %>"><%= terminal_id %></option>
                      <% end %>
                    </select>
                  </div>

                  <div class="dropdown_container">
                    <div class="label">Date</div>
                    <select onchange="addDateFilter($(this).val())">
                      <option value="1">Today</option>
                      <option value="2">Yesterday</option>
                      <option value="3">Last Week</option>
                      <option value="4">Last Month</option>
                      <option value="5">All Time</option>
                    </select>
                  </div>
                 <div id="days">
                   <div class="dropdown_container">
                     <div class="label">Day From</div>
                     <div class="input_date">
                       <input type="text" size="8" id="date_from" name="date_from"
                              value="<%=@selected_from_date.to_date.strftime("%d-%m-%Y")%>"/>
                     </div>
                   </div>
                   <div class="dropdown_container">
                     <div class="label">Day To</div>
                     <div class="input_date">
                       <input type="text" size="8" id="date_to" name="date_to"
                              value="<%=@selected_to_date.to_date.strftime("%d-%m-%Y")%>"/>
                     </div>
                   </div>
                 </div>
                 <div id="hours">
                   <div class="dropdown_container">
                     <div class="label">Hour From</div>
                     <select onchange="addHourFromFilter($(this).val())">
                       <% for h in 0..23 %>
                         <option value="<%=h%>" <%= (h==0) ?"selected":"" %>><%=h%></option>
                       <% end %>
                     </select> 
                   </div>
                   <div class="dropdown_container">
                     <div class="label">Hour To</div>
                     <select onchange="addHourToFilter($(this).val())">
                       <% for h in 0..23 %>
                         <option value="<%=h%>" <%= (h==23) ?"selected":"" %>><%=h%></option>
                       <% end %>
                     </select>
                   </div>
                 </div>
                  <div class="clear">&nbsp;</div>
                </div>
            </div>

            <div id="at_a_glance_results">
                <%= render 'glances_tab' %>
            </div>

            <div id="right_buttons">
              <div id="options_button" class="button" data-onpress="goTo('/home#screen=more_options');">
                <div class="icon">
                  <%= image_tag "/images/button_logos/more_options_button.png" %>
                </div>
                <div class="button_name">Functions</div>
              </div>
              <div class="summary_button" onclick="$('#sales_section_link').click()">
                <div class="wide_button">Sales Summary Today</div>
              </div>
              <div class="summary_button" onclick="$('#cash_section_link').click()">
                <div class="wide_button">Cash Summary Today</div>
              </div>
              <div class="summary_button" onclick="$('#payments_section_link').click()">
                <div class="wide_button">Payments Summary Today</div>
              </div>
              <div class="summary_button" onclick="$('#stock_control_section_link').click()">
                <div class="wide_button">Stock Control Summary Today</div>
              </div>
              <div class="summary_button" onclick="$('#staff_section_link').click()">
                <div class="wide_button">Staff Summary Today</div>
              </div>
            </div>

            <div id="last_z_total_info">
              <div class="label"><b>Last Z Total</b></div>
              <div class="label"><b>By: </b><%= @last_z_total_by %></div>
              <div class="label"><b>Date: </b><%= @last_z_total_date %></div>
              <div class="label"><b>Time: </b><%= @last_z_total_time %></div>
              <div class="previous_cash_totals_button" onclick="goTo('/admin/previous_cash_totals');">
                <div class="wide_button">X/Z History</div>
              </div>
            </div>

        </div>

        <div class="container" id="#sales_info_section">
          <div class="jscrollpane">

            <h3>Sales</h3>

            <div class="clear">&nbsp;</div>
          </div>
        </div>

        <div class="container" id="#cash_section">
          <div class="jscrollpane">

            <h3>Sales</h3>

            <div class="clear">&nbsp;</div>
          </div>
        </div>

        <div class="container" id="#payments_section">
          <div class="jscrollpane">

            <h3>Sales</h3>

            <div class="clear">&nbsp;</div>
          </div>
        </div>

        <div class="container" id="#customers_section">
          <div class="jscrollpane">

            <h3>Sales</h3>

            <div class="clear">&nbsp;</div>
          </div>
        </div>

        <div class="container" id="#suppliers_section">
          <div class="jscrollpane">

            <h3>Sales</h3>

            <div class="clear">&nbsp;</div>
          </div>
        </div>

        <div class="container" id="#stock_control_section">
          <div class="jscrollpane">

            <h3>Sales</h3>

            <div class="clear">&nbsp;</div>
          </div>
        </div>

        <div class="container" id="#staff_section">
          <div class="jscrollpane">

            <h3>Sales</h3>

            <div class="clear">&nbsp;</div>
          </div>
        </div>

      </div>
    </div>

</div>