<div id="coin_counter_table">
  <div class="row_header">
    <div class="unit_header">Unit</div>
    <div class="quantity_header">Quantity</div>
    <div class="amount">Amount</div>
    <div class="clear">&nbsp;</div>
  </div>

  <% ['10000', '5000', '2000', '1000', '500', '200', '100', '50', '20', '10', '5'].each do |val| %>
    <div class="row">
      <div class="unit"><%=coin_label_for val%></div>
      <div class="quantity">
        <input type="text" id="coin_quantity_<%=val%>" size="3" 
               onblur="$('#coin_amount_<%=val%>').html(currency((<%=val%> * parseFloat(this.value)/100))); doCoinCounterTotal()"/>
      </div>
      <div class="amount" id="coin_amount_<%=val%>"></div>
      <div class="clear">&nbsp;</div>
    </div>
  <% end %>

  <div class="row_footer">
    <div class="total">Total</div>
    <div class="amount" id="coin_counter_total_amount">Amount</div>
    <div class="clear">&nbsp;</div>
  </div>

  <div class="clear">&nbsp;</div>
</div>