<nav id="main_nav">
  <div id="nav_back_link" style="display: none;">< Back</div>
  <div id="business_name"><%=@business_name%></div>
  <div id="e_name" <%= session[:current_employee_nickname] ? "" : "style='display: none;'" %>><%= session[:current_employee_nickname] %></div>
  <div id="terminal_id"><%= @terminal_id %></div>
  <div id="date" onclick="toggleUtilKeyboard();"><%= Time.now().strftime("%m %b") %></div>
  <div id="clock"></div>

  <div style="display: none;" id="nav_save_button" onclick="doLogout();">
    <%= image_tag "exit.gif" %>
  </div>

  <div id="nav_util_button" onclick="doClearAndReload();">
    <%= image_tag "button_logos/clear_refresh.png" %>
  </div>

  <div id="nav_util_button" onclick="location.reload();">
    <%= image_tag "button_logos/refresh.png" %>
  </div>

  <div style="display: none;" id="nav_util_button" onclick="toggleUtilKeyboard();">
    <%= image_tag "button_logos/keyboard.png" %>
  </div>

  <div class="clear">&nbsp;</div>
</nav>