<nav id="main_nav">
  <div id="business_name"><%=GlobalSetting.parsed_setting_for GlobalSetting::BUSINESS_NAME%></div>
  <div id="e_name" <%= session[:current_employee_nickname] ? "" : "style='display: none;'" %>><%= session[:current_employee_nickname] %></div>
  <div id="terminal_id"><%= @terminal_id %></div>
  <div id="date"><%= Time.now().strftime("%m %b") %></div>
  <div id="clock"></div>

  <div style="display: none;" id="nav_save_button" onclick="doLogout();">
    <%= image_tag "exit.gif" %>
  </div>

  <% if ENV['RAILS_ENV']=='development' %>
    <div id="nav_reload_button" onclick="doClearAndReload();">
      <%= image_tag "button_logos/clear_refresh.png" %>
    </div>
  <% end %>

  <div id="nav_reload_button" onclick="location.reload();">
    <%= image_tag "button_logos/refresh.png" %>
  </div>

  <div class="clear">&nbsp;</div>
</nav>