<% if session[:preselect] != -1 %>
<% unless params[:action] == "stocks_print" %>

<div id="options_menu">
                   <div class="option" onclick="setStockSelect(-1)" class="print_box"> <div style="float: left;"><img src="/images/button_logos/home.png" alt="Print" width="24" height="24" /></div><div style="float: left; margin-top: 6px;margin-left: 2px"><span style="font-weight: bold; margin-top: -3px;">  Home  |</span></div></div>
                   <div class="option" onclick="window.location = '/reports/stocks/stocks_print'" class="print_box"><div style="float: left;"> <img src="/images/button_logos/print.png" alt="Print" width="24" height="24" /></div><div style="float: left; margin-top: 6px;margin-left: 2px"><span style="font-weight: bold; margin-top: -3px;">  Print  |</span></div></div>
                   <div class="option" onclick="window.location = '/reports/stocks/export_excel'" class="excel_box"><div style="float: left;"><img src="/images/button_logos/excel.png" alt="Export to Excel" width="24" height="24" /></div><div style="float: left; margin-top: 6px;margin-left: 2px"><span style="font-weight: bold; margin-top: -3px;">  Excel </span></div></div>
                </div>
<% end %>
  <div id="stocks_items_graph" style="display: none">
    <div id="spacer" style="height:70px;"></div>
    <%= high_chart("graph_container_sales", @h) %>
</div>
  <div id="stock_items">
    <% if session[:show_zeros] %>
    <table id="product_list" class="admin_table" style="width: 100%">
          <thead>
            <th class="header">Name</th>
            <th class="header">Category</th>
            <th class="header">Current</th>
            <th class="header">Sold</th>
            <th class="header">Total Qty</th>
            <th class="header">Cost ea</th>
            <th class="header">Cost Total</th>
            <th class="header">Revenue</th>
            <th class="header">Code Num</th>
          </thead>
          <% @products.each do |product| %>
          <tbody>
          <tr>
              <td>
                  <%= product.name %>
              </td>

              <td>
                  <%= Category.find_by_id(product.category_id).name %>
              </td>
              <td>
                  <%= product.quantity_in_stock %>
              </td>
              <td>
                  <%= OrderItem.find_all_by_product_id(product.id).count %>
              </td>

              <td>
                 <%= OrderItem.find_all_by_product_id(product.id).count %>
              </td>
              <td>
                 <% unless OrderItem.find_by_product_id(product.id) == nil %>
                 <%= sprintf("%.2f",OrderItem.find_by_product_id(product.id).total_price) %>
                 <% end %>
              </td>
              <td>
                 <% unless OrderItem.find_by_product_id(product.id) == nil %>
                 <%= sprintf("%.2f", OrderItem.sum(:total_price, :conditions =>["product_id = ?", product.id])) %>
                 <% end %>
              </td>
              <td>
                  <%= sprintf("%.2f", OrderItem.sum(:total_price, :conditions =>["product_id = ?", product.id])) %>
              </td>
              <td>
                  <%= product.code_num %>
              </td>

          </tr>
          <% end %>

      </tbody>
    </table>
    <% else %>

    <table id="product_list" class="admin_table" style="width: 100%">
          <thead>
          <% unless session[:search_type] == :by_category %>
            <th class="header">Name</th>
          <% end %>
            <th class="header">Category</th>
            <th class="header">Current</th>
            <th class="header">Sold</th>
            <th class="header">Total Qty</th>
            <th class="header">Cost ea</th>
            <th class="header">Cost Total</th>
            <th class="header">Revenue</th>
            <th class="header">Margin</th>
            <th class="header">Code Num</th>
          </thead>
          <% @products.each do |item| %>
          <% product = Product.find_by_id(item.product_id) %>
          <% price = 0 %>
          <tbody>
          <tr>
              <% unless session[:search_type] == :by_category %>
              <td>
                  <%= product.name %>
              </td>
              <% end %>
              <td>
                  <%= Category.find_by_id(product.category_id).name %>
              </td>
              <td>
                  <%= product.quantity_in_stock / product.quantity_per_container %>
              </td>
              <td>
                   <% quantity_sold = sprintf("%.0f", item.quantity)  %>
                   <%= quantity_sold %>
              </td>
              <td>
                  <%= quantity_sold %>
              </td>
              <td>
                 <% price = sprintf("%.2f", product.cost_price) %>
                 <%= price %>
              </td>
              <td>
                  <% total_price = sprintf("%.2f",price.to_d * quantity_sold.to_i) %>
                  <%= total_price %>
              </td>
              <td>
                  <% revenue = sprintf("%.2f",item.total_price.to_d) %>
                  <%= revenue %>
              </td>
              <td>
                  <% unless product.cost_price == 0 %>
                  <%= sprintf("%.0f", per_profit(revenue, total_price, product.sales_tax_rate)) %>%
                  <% end %>
              </td>
              <td>
                  <%= product.code_num %>
              </td>
          </tr>
          <% end %>

      </tbody>
    </table>
    <% end %>
  </div>
<% else %>
    <div id="saved_items">
    <div id="saved_items_container">
                        <div onclick="setStockSelect(0)" class="saved_report_button"><div class="b_text"> <b>Stocks by Product This Week</b></div></div>
                        <div onclick="setStockSelect(1)"  class="saved_report_button"><div class="b_text"><b>Stocks by Product This Month</b></div></div>
                        <div onclick="setStockSelect(2)"  class="saved_report_button"><div class="b_text"><b>Stocks by Product This Year</b></div></div>
                        <div onclick="setStockSelect(3)"  class="saved_report_button"><div class="b_text"><b>Stocks by Product All Time</b></div></div>
    </div>
    </div>
<% end %>
