<% if session[:preselect] != -1 %>
    <% unless params[:action] == "stocks_print" %>

    <% end %>

    <div id="stock_items">
    <% if @products.count == 0 %>
       <b>No Results Found</b>
    <% else%>
        <% if @s_type == :by_valuation %>
           <table id="report_table" class="admin_table" style="width: 100%">
                <thead>
                <th class="header">Product</th>
                <th class="header">Category</th>
                <th class="header">Buy Unit</th>
                <th class="header">Buy Cost</th>
                <th class="header">Qty/container</th>
                <th class="header">Sales Unit</th>
                <th class="header">Sales Price/unit</th>
                <th class="header">Sales Price/container</th>
                <th class="header">Current Stock</th>
                <th class="header">Cost Value</th>
                <th class="header">Sales Value</th>
                <th class="header">Margin</th>
                </thead>

                <% @products.each do |week| %>

                    <tbody>
                    <tr class="<%= cycle("even", "odd") %>">
                            <td style="text-align: left">
                                <% if nil != week.name %>
                                    <%= week.name[0..20] %>
                                <% end %>
                            </td>
                        <td style="text-align: left">
                            <% if Category.find_by_id(week.category_id) %>
                                    <% if Category.find_by_id(week.category_id).name %>
                                        <%= Category.find_by_id(week.category_id).name %>
                                    <% end %>
                                <% end %>
                        </td>
                        <td style="text-align: left;">
                            <%= week.unit %>
                        </td>
                        <td>
                            <%= sprintf("%.2f",week.cost_price) %>
                        </td>
                        <td>
                            <%= week.quantity_per_container %>
                        </td>
                        <td>
                        </td>
                        <td>
                           <%= sprintf("%.2f",week.price) %>
                        </td>
                        <td>
                           <% sales_price_per_c = (week.price.to_d*week.quantity_per_container.to_d) %>
                           <%= sprintf("%.2f",sales_price_per_c) %>
                        </td>

                        <td>
                            <%= sprintf("%.2f",week.quantity_in_stock) %>
                        </td>
                        <td>
                            <% unless week.cost_price == 0 %>
                                <% cost_valuation = (week.cost_price.to_d*week.quantity_in_stock.to_d).abs %>
                                <%= sprintf("%.2f",cost_valuation) %>
                            <% end %>
                        </td>
                        <td>
                            <% unless sales_price_per_c == 0 %>
                                <% sales_valuation = (sales_price_per_c*week.quantity_in_stock.to_d).abs %>
                                <%= sprintf("%.2f",sales_valuation) %>
                            <% end %>
                        </td>
                        <td>
                            <% unless cost_valuation == nil || sales_valuation == nil %>
                                <% margin = per_profit(sprintf("%.2f", sales_valuation.abs).to_d, sprintf("%.2f", cost_valuation.abs).to_d, week.sales_tax_rate) %>
                                <% unless (margin == nil) %>
                                    <%=  sprintf("%.0f",margin) %>%
                                <% end %>
                                <% end %>
                        </td>
                    </tr>
                <% end %>

                </tbody>
            </table>
    <% elsif @s_type == :by_delivery %>
           <table id="report_table" class="admin_table" style="width: 100%">
                <thead>
                <th class="header">Received Date</th>
                <th class="header">Time</th>
                <th class="header">Product</th>
                <th class="header">Category</th>
                <th class="header">Employee</th>
                <th class="header">Unit</th>
                <th class="header">Reference ID</th>
                <th class="header">Current Stock</th>
                <th class="header">Deliveries</th>
                <th class="header">Unit Cost</th>
                <th class="header">Cost Total</th>
                </thead>

                <% @products.each do |week| %>
                    <% @delivery = Delivery.find_by_id(week.delivery_id) %>
                    <% @employee = Employee.find_by_id(week.employee_id) %>
                    <% @product = Product.find_by_id(week.product_id) %>
                    <% if @delivery %>
                    <tbody>
                    <tr class="<%= cycle("even", "odd") %>">
                        <td style="text-align: left">
                            <%= @delivery.received_date.to_datetime.strftime "%a, %d %b %Y" %>
                        </td>
                        <td style="text-align: left;">
                            <%= @delivery.received_date.to_datetime.strftime "%l:%M%P" %>
                        </td>
                            <td style="text-align: left">
                                <% if nil != @product.name %>
                                    <%= @product.name %>
                                <% end %>
                            </td>
                        <td style="text-align: left">
                            <% if Category.find_by_id(@product.category_id) %>
                                    <% if Category.find_by_id(@product.category_id).name %>
                                        <%= Category.find_by_id(@product.category_id).name %>
                                    <% end %>
                                <% end %>
                        </td>
                        <td style="text-align: left;">
                            <%= @employee.name %>
                        </td>
                        <td>
                            <%= @product.unit %>
                        </td>
                        <td>
                            <%= @delivery.reference_number %>
                        </td>
                        <td>
                            <%= sprintf("%.2f",@product.quantity_in_stock) %>
                        </td>
                        <td>
                            <%= sprintf("%.2f",week.change_amount) %>
                        </td>

                        <td>
                            <%= sprintf("%.2f",@product.cost_price) %>
                        </td>
                        <td>
                            <%= sprintf("%.2f",@product.cost_price.to_d*week.change_amount.to_d) %>
                        </td>
                    </tr>
                <% end %>
                <% end %>

                </tbody>
            </table>
    <% else %>
        <table id="report_table" class="admin_table" style="width: 100%">
                <thead>
                <% unless @s_type == :by_category %>
                    <th class="header">Product</th>
                <% end %>
                <th class="header">Category</th>


                <th class="header">Qty Sold</th>
                <% unless @s_type == :by_category %>
                <th class="header">Unit</th>

                <th class="header">Cost ea</th>
                <% end %>
                <th class="header">Cost Total</th>
                <th class="header">Revenue</th>
                <th class="header">Margin</th>
                </thead>
                <% all_cost_price = true %>
                <% @products.each_with_index do |item, i| %>
                    <% product = Product.find_by_id(item.product_id) %>
                    <% unless @s_type == :by_category %>
                    <% total_sales = OrderItem.find_by_sql("select oi.id, sum(oi.total_price) as total_price from order_items as oi inner join orders o on oi.order_id = o.id inner join stock_transactions st on st.order_item_id = oi.id where oi.created_at <= '#{@selected_to_date}' and oi.created_at >= '#{@selected_from_date}' and st.product_id = #{item.product_id} and o.is_void = 0 and oi.is_void = 0 group by st.product_id") %>
                    <% else %>
                    <% total_sales = 0 %>
                    <% last_id = 0 %>
                    <% products = StockTransaction.find_by_sql("select st.id, st.transaction_type, st.product_id, st.created_at, st.old_amount, st.change_amount from stock_transactions st inner join products p on p.id = st.product_id where st.created_at <= '#{@selected_to_date}' and st.created_at >= '#{@selected_from_date}' and p.category_id = #{product.category_id}") %>
                    <% cost_total = 0 %>
                    <% products.each do |st| %>
                    <% curr_product = Product.find_by_id(st.product_id) %>
                    <% if last_id != st.product_id %>
                    <% current_sale = OrderItem.find_by_sql("select oi.id, sum(oi.total_price) as total_price from order_items as oi inner join orders o on oi.order_id = o.id inner join stock_transactions st on st.order_item_id = oi.id where oi.created_at <= '#{@selected_to_date}' and oi.created_at >= '#{@selected_from_date}' and st.product_id = #{curr_product.id} and o.is_void = 0 and oi.is_void = 0 group by st.product_id")  %>
                    <% if current_sale.any? %>
                    <% total_sales += current_sale[0].total_price %>
                    <% end %>
                    <% end %>
                    <% last_id = st.product_id %>
                     <% if curr_product.cost_price == 0 %>
                     <% all_cost_price = false %>
                     <% end %>
                    <% cost_total += curr_product.cost_price *  st.change_amount %>
                    <% end %>
                <% end %>
                    <tbody>
                    <tr class="<%= cycle("even", "odd") %>">
                        <% unless @s_type == :by_category %>
                            <td style="text-align: left">
                                <% if nil != product.name %>
                                    <%= product.name %>
                                <% end %>
                            </td>
                        <% end %>
                        <td style="text-align: left">
                            <% if Category.find_by_id(product.category_id) %>
                                    <% if Category.find_by_id(product.category_id).name %>
                                        <%= Category.find_by_id(product.category_id).name %>
                                    <% end %>
                                <% end %>
                        </td>
                        <td>
                            <% quantity_sold = item.change_amount %>
                            <%= sprintf("%.2f", quantity_sold.abs) %>
                        </td>
                        <% unless @s_type == :by_category %>
                        <td>
                            <%= product.unit %>
                        </td>
                        <td>
                            <% unless product.cost_price == 0 %>
                                <% price = sprintf("%.2f",product.cost_price) %>
                                <%= price %>
                        </td>
                        <% end %>
                        <% end %>
                        <td>
                             <% unless @s_type == :by_category %>
                            <% total_price =  product.cost_price *  quantity_sold %>
                            <% else %>
                            <% total_price = cost_total %>
                            <% end %>
                            <% unless total_price == 0 || total_price == nil || all_cost_price == false %>
                                <%= sprintf("%.2f",total_price.abs) %>
                            <% end %>
                        </td>
                        <td>
                            <% unless @s_type == :by_category || total_sales[0] == nil %>
                            <% revenue = total_sales[0].total_price %>
                            <% else %>
                            <% revenue = total_sales %>
                            <% end %>
                            <% unless (revenue == nil) %>
                            <%= sprintf("%.2f",revenue) %>
                            <% end %>
                        </td>
                        <td>
                            <% unless (revenue == nil || revenue == 0) %>
                            <% unless total_price == 0 || total_price == nil || all_cost_price == false %>
                                <% margin = per_profit(sprintf("%.2f", revenue).to_d, sprintf("%.2f", total_price.abs).to_d, product.sales_tax_rate) %>
                                <% unless (margin == nil) %>
                                    <%=  sprintf("%.0f",margin) %>%
                                <% end %>
                            <% end %>
                            <% end %>
                        </td>

                    </tr>
                <% all_cost_price = true %>
                <% end %>

                </tbody>
            </table>
    <% end %>
    <% end %>

    </div>
<% else %>
    <div id="saved_items">
        <div id="saved_items_container">
            <div onclick="setStockSelect(0)" class="saved_report_button">
                <div class="b_text"><b>Stock by Product This Week</b></div>
            </div>
            <div onclick="setStockSelect(1)" class="saved_report_button">
                <div class="b_text"><b>Stock by Product This Month</b></div>
            </div>
            <div onclick="setStockSelect(2)" class="saved_report_button">
                <div class="b_text"><b>Stock by Product This Year</b></div>
            </div>
            <div onclick="setStockSelect(3)" class="saved_report_button">
                <div class="b_text"><b>Stock by Product All Time</b></div>
            </div>
        </div>
    </div>
<% end %>

<script type="text/javascript">
    $('#refine_button_stock').removeClass("selected");
</script>
