<%- @hide_header_logo = true %>

<div id="reset_password_page">
  <div id="left_column">
    <%= image_tag "accounts/header_logo.png", :class => "cluey_logo" %>

    <div id="girl_1_container">
      <%= image_tag "accounts/girl_1.png", :class => "girl_1" %>
    </div>
  </div>

  <div id="right_column">
    <div id="header_1">
      RESET PASSWORD FOR ACCOUNT: <%= @cluey_account.name %>
    </div>

    <%= form_for @cluey_account, :url => accounts_password_reset_path(params[:id]) do |f| %>

      <% if @cluey_account.errors.any? %>
        <div class="error_messages">
          <h3>Oops, you've made a mistake!</h3>
          <ul>
            <% for message in @cluey_account.errors.full_messages %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div id="fields_container">
        <div class="field">
          <div class="label">New Password:</div>
          <%= f.password_field :password %>
          <div class="clear">&nbsp;</div>
        </div>
        <div class="field">
          <div class="label">Confirm New Password Password:</div>
          <%= f.password_field :password_confirmation %>
          <div class="clear">&nbsp;</div>
        </div>      

        <div class="submit">
          <input type="submit" class="big_blue_button_1" value="RESET PASSWORD"/>
        </div>

      </div>
    <% end %>

  </div>

  <div class="clear">&nbsp;</div>

</div>