cash_totals_data_html = "<div id='cash_totals_data_table'>";

  cash_totals_data_html += "<div id='cash_totals_data_table_header_section'>";
    cash_totals_data_html += "<div class='business_name'><%=@business_name%></div>";
    //cash_totals_data_html += "<div class='business_address'><%=@business_address%></div>";
    //cash_totals_data_html += "<div class='business_telephone'><%=@business_telephone%></div>";
    //cash_totals_data_html += "<div class='business_email_address'><%=@business_email_address%></div>";
    cash_totals_data_html += "</div>" + clearHTML;

  //construct the busines info data table
  business_info_data = new Array();
  <% @cash_total_data[:business_info_data].each do |label, data| %>
    business_info_data.push(new Array('<%=label%>', '<%=data%>'));
  <% end %>

  cash_totals_data_html += "<div id='cash_totals_header_section'>";
    cash_totals_data_html += getCashTotalDataTable(business_info_data, false) + clearHTML;
    cash_totals_data_html += "</div>";

  <% @gs = GlobalSetting.setting_for GlobalSetting::CASH_TOTAL_OPTION, {:total_type => @total_type, :employee_role => current_employee.role.name, :report_section => CashTotal::RS_SALES_BY_DEPARTMENT} %>

  <% if @gs.parsed_value %>
    //construct the department data table
    sales_by_department_data = new Array();
    <% @cash_total_data[:sales_by_department].each do |department, amount| %>
      sales_by_department_data.push(new Array('<%=department%>', '<%=amount%>'));
    <% end %>
    cash_totals_data_html += "<div class='data_table_header'>Total Sales Summary</div>";
    cash_totals_data_html += getCashTotalDataTable(sales_by_department_data) + clearHTML;
    cash_totals_data_html += getCashTotalDataTableTotals("Total Sales", sales_by_department_data);

    var sales_by_department_addendum = new Array();

    <% if @cash_total_data[:total_discounts] != 0 %>
      sales_by_department_addendum.push(new Array('Less Discounts', '<%= @cash_total_data[:total_discounts] %>'));
    <% end %>

    <% if @cash_total_data[:loyalty_redeemed] != 0 %>
      sales_by_department_addendum.push(new Array('Less Loyalty Redeemed', '<%= @cash_total_data[:loyalty_redeemed] %>'));
    <% end %>

    cash_totals_data_html += getCashTotalDataTable(sales_by_department_addendum);

    //modify the addendum data to calculate net sales
    var net_sales_data_calc = new Array();
    net_sales_data_calc.push(new Array('Cash Totals', getCashTotalTotal(sales_by_department_data)));

    <% if @cash_total_data[:total_discounts] != 0 %>
      net_sales_data_calc.push(new Array('Less Discounts', '-<%= @cash_total_data[:total_discounts] %>'));
    <% end %>

    <% if @cash_total_data[:loyalty_redeemed] != 0 %>
      net_sales_data_calc.push(new Array('Less Loyalty Redeemed', '-<%= @cash_total_data[:loyalty_redeemed] %>'));
    <% end %>

    cash_totals_data_html += getCashTotalDataTableTotals("Net Sales", net_sales_data_calc) + clearHTML;

    var sales_by_department_addendum = new Array();
    <% if @cash_total_data[:service_charge_total] != 0 %>
      sales_by_department_addendum.push(new Array('Add <%= @service_charge_label %> Collected', '<%= @cash_total_data[:service_charge_total] %>'));
    <% end %>
    cash_totals_data_html += getCashTotalDataTable(sales_by_department_addendum) + clearHTML;

    var sales_by_department_addendum = new Array();

    <% if @cash_total_data[:service_charge_total] != 0 %>
      //add tip to net sales to get total collected
      net_sales_data_calc.push(new Array('Add Tips', '<%= @cash_total_data[:service_charge_total] %>'));
    <% end %>

    cash_totals_data_html += getCashTotalDataTableTotals("Total Received", net_sales_data_calc) + clearHTML;

    var sales_by_department_addendum = new Array();

    sales_by_department_addendum.push(new Array('Open Orders Total', currency(getOpenOrdersTotal())));
    sales_by_department_addendum.push(new Array('Total Covers', '<%=@cash_total_data[:total_covers]%>'));
    cash_totals_data_html += getCashTotalDataTable(sales_by_department_addendum, false) + clearHTML;

  <% end %>

  <% @gs = GlobalSetting.setting_for GlobalSetting::CASH_TOTAL_OPTION, {:total_type => @total_type, :employee_role => current_employee.role.name, :report_section => CashTotal::RS_SALES_BY_PAYMENT_TYPE} %>

  <% if @gs.parsed_value %>
    //construct the payment type data table
    sales_by_payment_type_data = new Array();
    <% @cash_total_data[:sales_by_payment_type].each do |payment_type, amount| %>
      <% 
        if payment_type == "account"
          payment_type = "Accounts Charged"
        end
      %>

      sales_by_payment_type_data.push(new Array('<%=payment_type.titleize%>', '<%=amount%>'));
    <% end %>
    cash_totals_data_html += "<div class='data_table_header'>Payment Type Summary</div>";
    cash_totals_data_html += getCashTotalDataTable(sales_by_payment_type_data) + clearHTML;
    cash_totals_data_html += getCashTotalDataTableTotals("Total Payments", sales_by_payment_type_data) + clearHTML;
    
    var accounts_received_data = new Array();

    accounts_received_data.push(new Array('Account Payments', '-<%=@cash_total_data[:amount_customer_payments_received]%>'));
    cash_totals_data_html += getCashTotalDataTable(accounts_received_data) + clearHTML;
    
    //add in the total sales from above to get the total sales minus the accounts received
    accounts_received_data.push(new Array('Account Payments', getCashTotalTotal(sales_by_payment_type_data)));
    cash_totals_data_html += getCashTotalDataTableTotals("Total Sales", accounts_received_data, false) + clearHTML;
  <% end %>

  <% @gs = GlobalSetting.setting_for GlobalSetting::CASH_TOTAL_OPTION, {:total_type => @total_type, :employee_role => current_employee.role.name, :report_section => CashTotal::RS_CASH_SUMMARY} %>

  <% if @gs.parsed_value %>
    //construct the cash summary data table
    cash_summary_data = new Array();

    <% @cash_total_data[:cash_summary].each do |label, amount| %>
      //don't want to show cashback if 0
      <% next if label == "Cashback" && amount == 0 %>

      cash_summary_data.push(new Array('<%=label%>', '<%=amount%>'));
    <% end %>

    cash_totals_data_html += "<div class='data_table_header'>Cash Summary</div>";
    cash_totals_data_html += getCashTotalDataTable(cash_summary_data) + clearHTML;
  <% end %>

  <% @gs = GlobalSetting.setting_for GlobalSetting::CASH_TOTAL_OPTION, {:total_type => @total_type, :employee_role => current_employee.role.name, :report_section => CashTotal::RS_SALES_BY_SERVER} %>

  <% if @gs.parsed_value %>
    //construct the server data table
    sales_by_server_data = new Array();
    <% @cash_total_data[:sales_by_server].each do |server, amount| %>
      sales_by_server_data.push(new Array('<%=server%>', '<%=amount%>'));
    <% end %>
    cash_totals_data_html += "<div class='data_table_header'>Sales By Server</div>";
    cash_totals_data_html += getCashTotalDataTable(sales_by_server_data) + clearHTML;
    cash_totals_data_html += getCashTotalDataTableTotals("Total Sales", sales_by_server_data) + clearHTML;
  <% end %>

  <% @gs = GlobalSetting.setting_for GlobalSetting::CASH_TOTAL_OPTION, {:total_type => @total_type, :employee_role => current_employee.role.name, :report_section => CashTotal::RS_SALES_TAX_SUMMARY} %>

  <% if @gs.parsed_value %>  //construct the taxes data table
    taxes_data = new Array();
    <% @cash_total_data[:taxes].each do |tax_rate, tax_data| %>
      taxes_data.push(new Array('<%=tax_rate%>', '<%=tax_data[:net]%>', '<%=tax_data[:tax]%>', '<%=tax_data[:gross]%>'));
    <% end %>
    cash_totals_data_html += "<div class='data_table_header'><%=@tax_label%> Summary</div>";
    cash_totals_data_html += getCashTotalTaxesDataTable(taxes_data) + clearHTML;
    cash_totals_data_html += getCashTotalTaxesDataTableTotals("Total", taxes_data) + clearHTML;
  <% end %>

  <% @gs = GlobalSetting.setting_for GlobalSetting::CASH_TOTAL_OPTION, {:total_type => @total_type, :employee_role => current_employee.role.name, :report_section => CashTotal::RS_SALES_BY_CATEGORY} %>

  <% if @gs.parsed_value %>
    //construct the categories data table
    sales_by_category_data = new Array();
    <% @cash_total_data[:sales_by_category].each do |category, amount| %>
      sales_by_category_data.push(new Array('<%=category%>', '<%=amount%>'));
    <% end %>
    cash_totals_data_html += "<div class='data_table_header'>Sales By Category</div>";
    cash_totals_data_html += getCashTotalDataTable(sales_by_category_data) + clearHTML;
    cash_totals_data_html += getCashTotalDataTableTotals("Total Sales", sales_by_category_data) + clearHTML;
  <% end %>

  <% @gs = GlobalSetting.setting_for GlobalSetting::CASH_TOTAL_OPTION, {:total_type => @total_type, :employee_role => current_employee.role.name, :report_section => CashTotal::RS_SERVICE_CHARGE_BY_PAYMENT_TYPE} %>

  <% if @gs.parsed_value %>
    //construct the service charge by payment type data table
    service_charge_by_payment_type_data = new Array();
    <% @cash_total_data[:service_charge_by_payment_type].each do |payment_type, amount| %>
      service_charge_by_payment_type_data.push(new Array('<%=payment_type.titleize%>', '<%=amount%>'));
    <% end %>
    cash_totals_data_html += "<div class='data_table_header'><%= @service_charge_label %> Collected</div>";
    cash_totals_data_html += getCashTotalDataTable(service_charge_by_payment_type_data) + clearHTML;
  <% end %>

  <% @gs = GlobalSetting.setting_for GlobalSetting::CASH_TOTAL_OPTION, {:total_type => @total_type, :employee_role => current_employee.role.name, :report_section => CashTotal::RS_SALES_BY_PRODUCT} %>

<%#*make sure @cash_total_data[:sales_by_product] exists (legacy)%>
  <% if @gs.parsed_value %>
    //construct the product data table
    sales_by_product_data = new Array();
    <%  @cash_total_data[:sales_by_product].each do |product, details| %>
      sales_by_product_data.push(new Array('<%=escape_javascript product%>', '<%=details[:quantity]%>', '<%=details[:sales_total]%>'));
    <% end %>
    cash_totals_data_html += "<div class='data_table_header'>Sales By Product</div>";
    cash_totals_data_html += getCashTotalSalesByProductDataTable(sales_by_product_data) + clearHTML;
  <% end %>

  <% @gs = GlobalSetting.setting_for GlobalSetting::CASH_TOTAL_OPTION, {:total_type => @total_type, :employee_role => current_employee.role.name, :report_section => CashTotal::RS_CASH_OUT} %>

  <% if @gs.parsed_value %>
    //construct the cash summary data table
    var cash_out_data = new Array();

    <% @cash_total_data[:cash_outs].each do |co| %>
      cash_out_data.push(new Array('<%=co.note%>', '<%=co.amount%>'));
    <% end %>

    cash_totals_data_html += "<div class='data_table_header'>Expenses Summary</div>";
    cash_totals_data_html += getCashTotalCashOutDataTable(cash_out_data) + clearHTML;
  <% end %>

  <% @gs = GlobalSetting.setting_for GlobalSetting::CASH_TOTAL_OPTION, {:total_type => @total_type, :employee_role => current_employee.role.name, :report_section => CashTotal::RS_VOIDS_BY_EMPLOYEE} %>

  <% if @gs.parsed_value %>
    //construct the product data table
    voids_by_employee_data = new Array();
    <%  @cash_total_data[:voids_by_employee].each do |employee, details| %>
      voids_by_employee_data.push(new Array('<%=escape_javascript employee%>', '<%=details[:quantity]%>', '<%=details[:sales_total]%>'));
    <% end %>
    cash_totals_data_html += "<div class='data_table_header'>Voids By Employee</div>";
    cash_totals_data_html += getCashTotalVoidsByEmployeeDataTable(voids_by_employee_data) + clearHTML;
  <% end %>

  cash_totals_data_html += "</div>";

$('#cash_total_data_table_container').html(cash_totals_data_html);

<% if @show_header_section.nil? %>
  $('#cash_totals_header_section').hide();
<% end %>

total = number_to_currency(<%=@cash_total%>, {precision : 2, showunit : true});

reportsRecptScroll();

//enable the finish button again
cashTotalInOperation = false;