previous_cash_totals_data_html = "";

//construct the previous cash data info table
<% @previous_floats.each do |pf| %>
  previous_float_data = new Array();
  previous_float_data.push(new Array('Amount', '<%=pf.total%>'));
  previous_float_data.push(new Array('Entered By', '<%=pf.employee.nickname%>'));
  previous_float_data.push(new Array('Date', '&nbsp;<%=pf.created_at.strftime(@defaultDateFormat)%>'));

  previous_cash_totals_data_html += "<div class='data_table_header'>Previous Float</div>";
  previous_cash_totals_data_html += getCashTotalDataTable(previous_float_data, true) + clear10HTML;
<% end %>

<% if @last_z_total %>
  previous_z_total_data = new Array();
  previous_z_total_data.push(new Array('Amount', '<%=print_money @last_z_total.total%>'));
  previous_z_total_data.push(new Array('Entered By', '<%=@last_z_total.employee.nickname%>'));
  previous_z_total_data.push(new Array('Date', '<%=@last_z_total.created_at.strftime(@defaultDateFormat)%>'));

  previous_cash_totals_data_html += "<div class='data_table_header'>Previous Z Total</div>";
  previous_cash_totals_data_html += getCashTotalDataTable(previous_z_total_data, false) + clear10HTML;
<% end %>

<% @previous_x_totals.each do |ct| %>
  previous_cash_totals_data = new Array();
  previous_cash_totals_data.push(new Array('Amount', '<%=ct.total%>'));
  previous_cash_totals_data.push(new Array('Entered By', '<%=ct.employee.nickname%>'));
  previous_cash_totals_data.push(new Array('Date', '&nbsp;<%=ct.created_at.strftime(@defaultDateFormat)%>'));

  previous_cash_totals_data_html += "<div class='data_table_header'><%=ct.total_type%> Total</div>";
  previous_cash_totals_data_html += getCashTotalDataTable(previous_cash_totals_data, true) + clear10HTML;
<% end %>

<% if @previous_floats.empty? and !@last_z_total and @previous_x_totals.empty? %>
  previous_cash_totals_data_html += "<div>No Data!</div>";
<% end %>

$('#reports_left_till_roll').html(previous_cash_totals_data_html);

reportsLeftRecptScroll();