<div id="total_screen">

  <div id="receipt_keypad_container">

    <div id="totals_receipt_header">Current Sale</div>

    <div id="totals_receipt" class="receipt">
      <div id="totals_till_roll" class="till_roll"></div>
    </div>

    <div class="clear">&nbsp;</div>

    <div id="totals_keypad" class="keypad">
      <div id="keys" class="keys">
        <% [[7,9],[4,6],[1,3]].each do |x,y| %>
          <% (x..y).each do |num| %>
            <div id="totals_keypad_num_<%= num %>" class="key" onclick="totalsScreenKeypadClick(<%= num %>)"><%= num %></div>
          <% end %>
        <% end %>

        <div id="totals_keypad_num_0" class="key" onclick="totalsScreenKeypadClick(0)">0</div>
        <div id="totals_decimal_key" class="key" onclick="totalsScreenKeypadClickDecimal()">.</div>
        <div id="totals_cancel_key" class="key" onclick="totalsScreenKeypadClickCancel()">C</div>
      </div>

      <div class="clear">&nbsp;</div>
    </div>
  </div>

  <div id="payment_options_money_info_container">
    <div id="payment_options_section">
      <div id="payment_options">
        <% PaymentMethod.all.each do |pm| %>
          <div class="button" onclick="paymentMethodSelected('<%=pm.name%>')">
            <div class="icon">
              <%= payment_method_logo_thumb pm, true %>
            </div>
            <div class="button_name"><%=pm.name%></div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="clear">&nbsp;</div>

    <div id="tender_section">

      <div id="take_tendered_container">

        <div id="tendered_popout" class="popout_dialog">
          <div id="payment_method_header" class="header">
            <div class="label">Selected Payment Method:</div>
            <div id="selected_payment_method_holder"></div>
            <div class="clear">&nbsp;</div>
          </div>

          <div class="clear_top_margin_20">&nbsp;</div>

          <div id="tendered_data_tables_container">

            <div id="totals_data_table"></div>

            <div class="data_table">
              <div class="label">Cash Back:</div>
              <div id="cashback_amount_holder" class="data"><%= @currency_symbol %>0</div>
              <div class="clear">&nbsp;</div>
            </div>
            <div class="clear">&nbsp;</div>

            <div class="data_table">
              <div class="bold label">Amount Tendered:</div>
              <div class="data">
                <div id="totals_tendered_box">
                  <div class="left"><%= @currency_symbol %></div>
                  <div id="totals_tendered_value"></div>
                  <div class="clear">&nbsp;</div>
                </div>
              </div>
              <div class="clear">&nbsp;</div>
            </div>
            <div class="clear">&nbsp;</div>

            <div class="data_table">
              <div class="bold label">Change Due:</div>
              <div class="bold data">
                <div class="left"><%= @currency_symbol %></div>
                <div id="totals_change_value">0</div>
                <div class="clear">&nbsp;</div>
              </div>
              <div class="clear">&nbsp;</div>
            </div>
          </div>

          <div class="action_buttons">
            <div class="button" onclick="takeTenderedCancel()">
              <div class="icon">
                <%= image_tag "button_logos/cancel_tendered.png" %>
              </div>
              <div class="button_name">Cancel</div>
            </div>

            <div id="tendered_button" class="button" onclick="takeTendered()">
              <div class="icon">
                <%= image_tag "button_logos/tender_cash.png" %>
              </div>
              <div class="button_name">Tender Cash</div>
            </div>

            <div id="finish_sale_button" class="button" style="display: none;" onclick="doTotalFinal()">
              <div class="icon">
                <%= image_tag "button_logos/final_sale.png" %>
              </div>
              <div class="button_name">Finish Sale</div>
            </div>
          </div>
        </div>
      </div>

      <div id="money_helper_section">
        <div class="money" onclick="moneySelected(5)">
          <%= image_tag "5euro.jpg" %>
        </div>
        <div class="clear">&nbsp;</div>

        <div class="money" onclick="moneySelected(10)">
          <%= image_tag "10euro.jpg" %>
        </div>
        <div class="clear">&nbsp;</div>

        <div class="money" onclick="moneySelected(20)">
          <%= image_tag "20euro.jpg" %>
        </div>
        <div class="clear">&nbsp;</div>

        <div class="money" onclick="moneySelected(50)">
          <%= image_tag "50euro.jpg" %>
        </div>
        <div class="clear">&nbsp;</div>

        <div class="money" onclick="moneySelected(100)">
          <%= image_tag "100euro.jpg" %>
        </div>
        <div class="clear">&nbsp;</div>

        <div id="exact_amount_button_holder">
          <div id="exact_amount_button" class="button" onclick="moneySelected(-1)">
            <div class="button_name">Exact Amount</div>
          </div>
        </div>
      </div>

      <div class="clear">&nbsp;</div>

    </div>

    <div class="clear">&nbsp;</div>

    <!-- the following anchor is used for the default menu screen popup -->
    <div id="totals_screen_default_popup_anchor">&nbsp;</div>

    <div id="totals_screen_misc_buttons">
      <div class="button" onclick="promptForServiceCharge()">
        <div class="icon">
          <%= image_tag "button_logos/service_charge.png" %>
        </div>
        <div class="button_name"><%= @service_charge_label %></div>
      </div>

      <div class="button" onclick="promptForCashback()">
        <div class="icon">
          <%= image_tag "button_logos/cashback.png" %>
        </div>
        <div class="button_name">Cash Back</div>
      </div>

      <div class="button" onclick="togglePrintReceipt()">
        <div class="icon">
          <%= image_tag "button_logos/print_receipt_toggle.png" %>
        </div>
        <div class="button_name">Print Receipt: <div id="toggle_print_receipt_value"><%= @auto_print_receipt ? "On" : "Off" %></div></div>
      </div>
    </div>
  </div>
</div>