<%= render "/home/screens/cash_screen" %>

<%= render "/home/screens/login_screen" %>

<%= render "/home/screens/tables_screen" %>

<%= render "/home/screens/more_options_screen" %>

<%= render "/home/screens/cash_reports_screen" %>

<%= render "/home/screens/float_screen" %>

<!-- iframe to print in -->
<iframe name="printFrame" id="printFrame" width="300" height="300" frameborder="1" src="<%= blank_receipt_for_print_path %>"></iframe>
<div class="clear">&nbsp;</div>

<!-- menu screen should stay last in this list as it has 
some padding at end which makes a gap appear above the other screens -->
<%= render "/home/screens/menu_screen" %>

<!-- render the re-usable utilities -->
<%= render "/partials/utilities" %>