var work_report_html = "<div id='work_report_data_table'>";

  work_report_html += fetchBusinessInfoHeaderHTML();

  work_report_html += "<div class='data_table_header'>WORK RECORD</div>" + clearHTML;

  work_report_html += "<div class='data_table_header'>User: <%= @employee.nickname %></div>" + clearHTML;

  var work_report_data = new Array();
  work_report_data.push(new Array('Clocked In:', '<%= @last_clockin.created_at.strftime(@defaultDateFormat) %>', false, true));

  
  <% @breaks.each do |b| %>
    <% if(b.timestamp_type == ShiftTimestamp::BREAK_IN) %>
      work_report_data.push(new Array('Started Break:', '<%= b.created_at.strftime(@defaultDateFormat) %>', false, true));
    <% else %>
      work_report_data.push(new Array('Finished Break:', '<%= b.created_at.strftime(@defaultDateFormat) %>', false, true));
    <% end %>
  <% end %>

  work_report_data.push(new Array('Clocked Out:', '<%= @last_clockout.created_at.strftime(@defaultDateFormat) %>', false, true));
  work_report_html += getWorkReportDataTable(work_report_data) + clearHTML;

  work_report_data = new Array();
  work_report_data.push(new Array('Hours Worked:', '<%= hours_mins_for_seconds @shift_seconds %>', false, true));
  work_report_data.push(new Array('Less Breaks:', '<%= hours_mins_for_seconds @break_time_seconds %>', false, true));
  work_report_data.push(new Array('Net Hours:', '<%= hours_mins_for_seconds (@payable_seconds) %>', false, true));
  work_report_html += getWorkReportDataTable(work_report_data) + clearHTML;

  work_report_data = new Array();

  <% @gs = GlobalSetting.setting_for GlobalSetting::WORK_REPORT_OPTION, {:report_section => WorkReport::RS_TOTAL_ITEMS_ORDERED} %>

  <% if @gs.parsed_value %>
    work_report_data.push(new Array('Total Items Ordered', '<%= @report_data[:all_order_items_ordered_quantity] %>', false, false));
  <% end %>

  <% @gs = GlobalSetting.setting_for GlobalSetting::WORK_REPORT_OPTION, {:report_section => WorkReport::RS_TOTAL_ITEMS_SOLD} %>

  <% if @gs.parsed_value %>
    work_report_data.push(new Array('Total Items Sold', '<%= @report_data[:all_order_items_sold_quantity] %>', false, false));
  <% end %>

  <% @gs = GlobalSetting.setting_for GlobalSetting::WORK_REPORT_OPTION, {:report_section => WorkReport::RS_VOIDED_ITEMS_QUANTITY} %>

  <% if @gs.parsed_value %>
    work_report_data.push(new Array('Voided Items Quantity', '<%= @report_data[:void_order_items_quantity] %>', false, false));
  <% end %>

  <% @gs = GlobalSetting.setting_for GlobalSetting::WORK_REPORT_OPTION, {:report_section => WorkReport::RS_VOIDED_ITEMS_AMOUNT} %>

  <% if @gs.parsed_value %>
    work_report_data.push(new Array('Voided Items Amount', '<%= @report_data[:void_order_items_amount] %>', true, false));
  <% end %>

  <% @gs = GlobalSetting.setting_for GlobalSetting::WORK_REPORT_OPTION, {:report_section => WorkReport::RS_TOTAL_ORDERS_AMOUNT} %>

  <% if @gs.parsed_value %>
    work_report_data.push(new Array('Total Orders Amount', '<%= @report_data[:all_order_items_ordered_amount] %>', true, false));
  <% end %>

  <% @gs = GlobalSetting.setting_for GlobalSetting::WORK_REPORT_OPTION, {:report_section => WorkReport::RS_DISCOUNTS_GIVEN} %>

  <% if @gs.parsed_value %>
    work_report_data.push(new Array('Discounts Given', '<%= @report_data[:total_discounts] %>', true, false));
  <% end %>

  <% @gs = GlobalSetting.setting_for GlobalSetting::WORK_REPORT_OPTION, {:report_section => WorkReport::RS_AVG_ORDER_PRICE} %>

  <% if @gs.parsed_value %>
    work_report_data.push(new Array('Average Order Price', '<%= @report_data[:all_order_items_ordered_avg] %>', true, false));
  <% end %>

  <% @gs = GlobalSetting.setting_for GlobalSetting::WORK_REPORT_OPTION, {:report_section => WorkReport::RS_AVG_SALE_PRICE} %>

  <% if @gs.parsed_value %>
    work_report_data.push(new Array('Average Sale Price', '<%= @report_data[:all_order_items_sold_avg] %>', true, false));
  <% end %>

  work_report_html += getWorkReportDataTable(work_report_data) + clearHTML;

  work_report_data = new Array();
  <% @gs = GlobalSetting.setting_for GlobalSetting::WORK_REPORT_OPTION, {:report_section => WorkReport::RS_TOTAL_CASH_ENTERED} %>

  <% if @gs.parsed_value %>
    work_report_data.push(new Array('Total Cash Entered', '<%= @report_data[:total_cash] %>', true, false));
  <% end %>

  <% @gs = GlobalSetting.setting_for GlobalSetting::WORK_REPORT_OPTION, {:report_section => WorkReport::RS_TOTAL_PAYMENTS_ENTERED} %>

  <% if @gs.parsed_value %>
    work_report_data.push(new Array('Total Payments Entered', '<%= @report_data[:total_payments] %>', true, false));
  <% end %>

  work_report_html += getWorkReportDataTable(work_report_data) + clearHTML;

  work_report_html += "<div class='work_report_footer'>Printed By <%= @employee.nickname %> " + utilFormatDate(new Date(clueyTimestamp())) + clearHTML;

    work_report_html += "<div class='message'><%= @custom_work_report_footer %></div>";

    work_report_html += "</div>";

  printReceipt(work_report_html);