<% if session[:preselect] != -1 %>
    <% unless params[:action] == "deliveries_print" %>
        <div id="options_menu">
            <div class="option" onclick="setPaymentSelect(-1)" class="print_box">
                <div style="float: left;"><img src="/images/button_logos/home.png" alt="Print" width="24" height="24"/>
                </div>
                <div style="float: left; margin-top: 6px;margin-left: 2px">
                    <span style="font-weight: bold; margin-top: -3px;">  Home  |</span></div>
            </div>
            <div class="option" onclick="window.location = '/reports/deliveries/deliveries_print'" class="print_box">
                <div style="float: left;"><img src="/images/button_logos/print.png" alt="Print" width="24" height="24"/>
                </div>
                <div style="float: left; margin-top: 6px;margin-left: 2px">
                    <span style="font-weight: bold; margin-top: -3px;">  Print  |</span></div>
            </div>
            <div class="option" onclick="window.location = '/reports/deliveries/export_excel'" class="excel_box">
                <div style="float: left;">
                    <img src="/images/button_logos/excel.png" alt="Export to Excel" width="24" height="24"/></div>
                <div style="float: left; margin-top: 6px;margin-left: 2px">
                    <span style="font-weight: bold; margin-top: -3px;">  Excel </span></div>
            </div>
        </div>
    <% end %>



    <div id="deliveries_items" >
        <% if params[:action] == "deliveries_print" %>
            <h3>Payments Report <%= Time.now.strftime("%B %d, %Y") %></h3>
        <% end %>

        <% if (@s_type == :day) || (@s_type == :month) || (@s_type == :week) || (@s_type == :year) %>

            <table id="report_table" class="admin_table" style="width: 100%">
                <thead>
                <th class="header">Date</th>
                <th class="header">Day</th>
                <th class="header"></th>
                <th class="header"></th>
                <th class="header"></th>
                <th class="header">Total</th>
                <th class="header">Discount</th>
                <th class="header">Amount Paid</th>
                </thead>
                <% total_items = 0 %>
                <% @orders.each do |week| %>


                    <tbody>
                    <tr class="<%= cycle("even", "odd") %>">
                        <td>
                           <% if @s_type == :day %>
                                <%= week.created_at.strftime("%B %d, %Y") %>
                            <% end %>
                            <% if @s_type == :week %>
                                Week starting <%= week.created_at.beginning_of_week.strftime("%B %d, %Y") %>
                            <% end %>
                            <% if @s_type == :month %>
                                <%= week.created_at.strftime("%B, %Y") %>
                            <% end %>
                            <% if @s_type == :year %>
                                <%= week.created_at.strftime("%Y") %>
                            <% end %>
                        </td>

                        <td>
                           <% if @s_type == :day %>
                                <%= DAYS_OF_THE_WEEK[week.created_at.wday.to_i] %>
                            <% end %>
                            <% if @s_type == :week %>
                                Monday
                            <% end %>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                            <% if week.pre_discount_price != nil %>
                                <%= print_money(week.total + week.pre_discount_price) %>
                            <% else %>
                                <%= print_money(week.total) %>
                            <% end %>
                        </td>
                        <td>
                            <% if week.pre_discount_price != nil %>
                                <%= print_money( week.pre_discount_price) %>
                            <% end %>
                        </td>
                        <td>
                            <%= print_money( week.total) %>
                        </td>
                    </tr>
                <% end %>
                </tbody>
            </table>

        <% else %>


            <table id="report_table" class="admin_table" style="width: 100%">
                <thead>
                <th class="header">Received Date</th>
                <th class="header">Time</th>
                <th class="header">Reference ID</th>
                <th class="header">Employee</th>
                <th class="header">Total</th>
                <th class="header">Current Stock</th>
                </thead>

                <% @orders.each do |week| %>
                    <% @delivery = Delivery.find_by_id(week.delivery_id) %>
                    <% @employee = Employee.find_by_id(week.employee_id) %>
                    <% @product = Product.find_by_id(week.product_id) %>
                    <% if @delivery %>
                    <tbody>
                    <tr class="<%= cycle("even", "odd") %>">
                        <td style="text-align: left">
                            <%= @delivery.received_date.to_datetime.strftime "%a, %d %b %Y" %>
                        </td>
                        <td>
                            <%= @delivery.received_date.to_datetime.strftime "%l:%M%P" %>
                        </td>
                        <td>
                            <%= @delivery.reference_number %>
                        </td>
                        <td style="text-align: left;">
                            <%= @employee.name %>
                        </td>
                        <td style="text-align: left;">
                            <%= @delivery.total %>
                        </td>
                        <td>
                            <%= @product.quantity_in_stock %>
                        </td>
                    </tr>
                <% end %>
                <% end %>

                </tbody>
            </table>
            </div>

        <% end %>
<% else %>
    <div id="saved_items">
        <div id="saved_items_container">
            <div onclick="setPaymentSelect(0)" class="saved_report_button">
                <div class="b_text" style="margin-top: 12px"><b>Payments by Transaction This Week</b></div>
            </div>
            <div onclick="setPaymentSelect(1)" class="saved_report_button">
                <div class="b_text" style="margin-top: 12px"><b>Discounted Transactions From Last Week</b></div>
            </div>
            <div onclick="setPaymentSelect(2)" class="saved_report_button">
                <div class="b_text"><b>Payments by Month This Year</b></div>
            </div>
            <div onclick="setPaymentSelect(3)" class="saved_report_button">
                <div class="b_text"><b>Payments by Day This Year</b></div>
            </div>
        </div>
    </div>
<% end %>
<script type="text/javascript">
    $('#refine_button').removeClass("selected");
</script>

