<title>Cluey - POS</title>

<%= stylesheet_links "shared/", "admin/admin_style", "interfaces/large_screen/", :recursive => true, :cache => "cache/large_screen_styles" %>

<!-- load the dynamic theme -->
<!--link type="text/css" href="<%= admin_custom_theme_path(:format => :css) %> " media="screen" rel="stylesheet" /-->

<!-- TINY MCE EDITOR CAUSES PROBLEMS WHEN INCLUDED WITH THE OTHER JS FILES SO HERE IT IS ALONE and first in the list of js -->
<%= javascript_include_tag "plugins/tiny_mce/tiny_mce" %>

<%= render "/partials/interfaces/shared/shared_js_includes" %>

<!-- application specific js -->
<%= javascript_include_tag "rails", "interfaces/large_screen/application", 
  "interfaces/large_screen/menu", "interfaces/large_screen/dropdown_menu_functions", "interfaces/large_screen/util", 
  "interfaces/large_screen/receipt_html_functions", "interfaces/large_screen/login_functions", "interfaces/large_screen/dallas_key", 
  "interfaces/large_screen/cash_reports", "interfaces/large_screen/cash_screen", "interfaces/large_screen/util_payment",
  "touch/touch_util", "touch/on_touch_click_replace", "interfaces/large_screen/screen_button_functions", 
  "interfaces/large_screen/touch", :cache => "cache/large_screen" %>

<%= csrf_meta_tag %>

<!-- must set some vars from the system settings -->
<%= render :partial => "/partials/interfaces/shared/js_global_settings" %>

<%= yield :head %>

<%= render "/partials/interfaces/shared/shared_head_meta_tags" %>

<!-- this is not used, it was testing google translate -->
<script>
  function translateText(response) {
    //alert(response.data.translations[0].translatedText);
    print(response.data.translations[0].translatedText)
  }
</script>
<script>
  function gtrans(word) {
    var newScript = document.createElement('script');
    
    newScript.type = 'text/javascript';
    
    var sourceText = escape(word);
    
    var source = 'https://www.googleapis.com/language/translate/v2?key=<%=GOOGLE_TRANSLATE_API_KEY%>&source=en&target=th&callback=translateText&q=' + sourceText;
    
    newScript.src = source;

    // When we add this script to the head, the request is sent off.
    document.getElementsByTagName('head')[0].appendChild(newScript);
  }
</script>

<!--select name="langpair">
  <option value="ar|en">Arabic to English</option>
  <option value="zh|en">Chinese to English</option>
  <option value="zh-CN|zh-TW">Chinese (Simplified to Traditional)</option>
  <option value="zh-TW|zh-CN">Chinese (Traditional to Simplified)</option>
  <option value="nl|en">Dutch to English</option>
  <option value="en|ar">English to Arabic</option>
  <option value="en|zh-CN">English to Chinese (Simplified)</option>
  <option value="en|zh-TW">English to Chinese (Traditional)</option>
  <option value="en|nl">English to Dutch</option>
  <option value="en|fr">English to French</option>
  <option value="en|de">English to German</option>
  <option value="en|el">English to Greek</option>
  <option value="en|it">English to Italian</option>
  <option value="en|ja">English to Japanese</option>
  <option value="en|ko">English to Korean</option>
  <option value="en|pt">English to Portuguese</option>
  <option value="en|ru">English to Russian</option>
  <option value="en|es">English to Spanish</option>
  <option value="fr|en">French to English</option>
  <option value="fr|de">French to German</option>
  <option value="de|en">German to English</option>
  <option value="de|fr">German to French</option>
  <option value="el|en">Greek to English</option>
  <option value="it|en">Italian to English</option>
  <option value="ja|en">Japanese to English</option>
  <option value="ko|en">Korean to English</option>
  <option value="pt|en">Portuguese to English</option>
  <option value="ru|en">Russian to English</option>
  <option value="es|en">Spanish to English</option>
 </select-->