<title>Cluey - POS</title>

<%= stylesheet_links "shared/", "admin/admin_style", "interfaces/large_screen/", :recursive => true, :cache => "cache/large_screen_styles" %>

<!-- load the dynamic theme -->
<!--link type="text/css" href="<%= admin_custom_theme_path(:format => :css) %> " media="screen" rel="stylesheet" /-->

<%= render "/partials/interfaces/shared/shared_js_includes" %>

<!-- application specific js -->
<%= javascript_include_tag "rails", "interfaces/large_screen/application", 
  "interfaces/large_screen/menu", "interfaces/large_screen/dropdown_menu_functions", "interfaces/large_screen/util", 
  "interfaces/large_screen/receipt_html_functions", "interfaces/large_screen/login_functions", 
  "interfaces/large_screen/cash_reports", "interfaces/large_screen/cash_screen", 
  "touch/touch_util", "touch/on_touch_click_replace", "interfaces/large_screen/screen_button_functions", 
  "interfaces/large_screen/touch", :cache => "cache/large_screen" %>

<%= csrf_meta_tag %>

<!-- must set some vars from the system settings -->
<%= render :partial => "/partials/interfaces/shared/js_global_settings" %>

<%= yield :head %>

<%= render "/partials/interfaces/shared/shared_head_meta_tags" %>