<nav id="main_nav">

  <div id="nav_back_link" style="display: none;">< Back</div>
  <div id="admin_nav_back_link" style="display: none;" onclick="history.go(-1);">< Back</div>

  <div id="business_name"><%=@business_name%></div>
  <div id="e_name" <%= session[:current_employee_nickname] ? "" : "style='display: none;'" %>><%= session[:current_employee_nickname] %></div>
  <div id="terminal_id"><%= @terminal_id %></div>
  <div id="date"></div>
  <div id="clock"></div>

  <script type="text/javascript">
    $(function(){initNavTitle("<%=@nav_title%>");});
  </script>

  <div id="nav_title"></div>

  <div id="loading_orders_spinner">
    <%= image_tag "spinner.gif" %>
  </div>

  <div style="display: none;" id="nav_save_button" onclick="doLogout();">
    <%= image_tag "exit.gif" %>
  </div>

  <div id="connection_status">&nbsp;</div>

  <div id="nav_util_button" onclick="doClearAndReload();">
    <%= image_tag "button_logos/clear_refresh.png" %>
  </div>

  <div id="nav_util_button" onclick="doReload(false);">
    <%= image_tag "button_logos/refresh.png" %>
  </div>

  <div id="nav_util_button" onclick="toggleUtilKeyboard();">
    <%= image_tag "button_logos/keyboard.png" %>
  </div>

  <!--dropdown menu -->
  <div id="menu_screen_shortcut_dropdown_container">
    <div id="menu_screen_shortcut_dropdown_input" onclick="menuScreenShortcutSelectMenu.openMenu()"></div>

    <ul id="menu_screen_shortcut_dropdown" class="mcdropdown_menu">
      <li>
        Change Menu
        <ul>
          <% Display.all.each do |display| %>
            <li rel="1-<%= display.id %>">              
              <%= @display.id == display.id ? "* " : "" %>
              <%= display.name %>
            </li>
          <% end %>
        </ul>
      </li>
      <li rel="2">Change Price</li>
      <li rel="3">Check Stock</li>
      <li rel="4">Edit Specials</li>
    </ul>
  </div>

  <div class="clear">&nbsp;</div>
</nav>