<%= render "/home/interfaces/large_screen/modifier_category_popups" %>

<div id="edit_receipt_item_popup_markup">
  <div id="edit_receipt_item_popup_markup_container" class="popup_container">

    <div id="oia_button" class="button" data-onpress="editOrderItemOIAClicked()">Modify</div>
    <div id="delete_button" class="button" data-onpress="removeSelectedOrderItem()">Delete</div>

    <div class="clear">&nbsp;</div>

    <div id="discount_button" class="button" data-onpress="showDiscountPopupFromEditDialog()">Discount</div>
    <div id="transfer_button" class="button" data-onpress="startTransferOrderItemMode()">Transfer</div>

    <div class="clear">&nbsp;</div>

    <div id="void_order_item_button" class="button" data-onpress="voidOrderItemFromEditDialog()">Void Item</div>
    <div id="course_button" class="button" data-onpress="showCoursePopupFromEditDialog()">Course</div>

    <div class="clear">&nbsp;</div>

    <div id="quantity_editor">

      <div id="quantity_label">Quantity:</div>
      <input type="text" class="quantity" size="6" id="current_selected_receipt_item_quantity"/>

      <div id="buttons_container">
        <div id="plus_button" class="button" data-onpress="editOrderItemIncreaseQuantity()"><div>+</div></div>
        <div id="minus_button" class="button" data-onpress="editOrderItemDecreaseQuantity()"><div>-</div></div>
      </div>
      <div class="clear">&nbsp;</div>
    </div>

    <div class="clear">&nbsp;</div>

    <div id="price_editor">
      <div class="price_label">Price Per Unit:</div>
      <input type="text" class="price" size="2" id="current_selected_receipt_item_price"/>
      <div class="clear">&nbsp;</div>
    </div>

    <div class="clear">&nbsp;</div>

    <div class="edit_order_item_popup_keypad_container"></div>

    <div class="clear_top_margin_10">&nbsp;</div>

    <div class="action_buttons_container">
      <div class="action_buttons">
        <div id="cancel_button" class="button" data-onpress="closeEditOrderItem()">
          <div class="icon">
            <%= image_tag "button_logos/cancel_button.png"%>
          </div>
          <div class="button_name">Cancel</div>
        </div>
        <div id="save_button" class="button" data-onpress="saveEditOrderItem()">
          <div class="icon">
            <%= image_tag "button_logos/ok_button.png"%>
          </div>
          <div class="button_name">OK</div>
        </div>
        <div class="clear">&nbsp;</div>
      </div>
    </div>
  </div>
</div>

<div id="discounts_popup_markup">
  <div id="discounts_popup_markup_container" class="popup_container">

    <div class="header">Apply Discount</div>

    <div class="clear">&nbsp;</div>

    <div class="discount_buttons">
      <div class="button" id="discount_button_0" data-onpress="setDiscountVal(0)">
        <div class="name">
          None
        </div>
        <div class="percent">
          0%
        </div>
      </div>
      <% Discount.all.each do |discount| %>
        <div class="button" id="discount_button_<%=discount.id%>" data-onpress="setDiscountVal(<%=discount.percent%>)">
          <div class="name">
            <%=discount.name%>
          </div>
          <div class="percent">
            <%=discount.percent%>%
          </div>
        </div>
      <% end %>

      <div class="clear">&nbsp;</div>

    </div>

    <div class="clear">&nbsp;</div>

    <div id="manual_discount">
      <div class="header">Or Enter a Discount Percentage</div>

      <div class="clear_top_margin_5">&nbsp;</div>

      <div class="fields">
        <div class="label">Amount:</div>
        <input type="text" class="percent" size="4" id="discount_percent_input"/>
      </div>
    </div>

    <div class="clear">&nbsp;</div>

    <div id="apply_discount_to">
      <div class="header_label">Apply Discount to:</div>
      <div class="clear">&nbsp;</div>

      <input type="radio" name="discount_type" value="whole_order"/>
      <div class="label">Whole Order</div>
      <div class="clear">&nbsp;</div>

      <input type="radio" name="discount_type" value="last_item" checked/>
      <div class="label">Last Item</div>
      <div class="clear">&nbsp;</div>

      <div class="clear_top_margin_10">&nbsp;</div>
    </div>

    <div class="clear">&nbsp;</div>

    <div class="discount_popup_keypad_container"></div>

    <div class="clear_top_margin_10">&nbsp;</div>

    <div class="action_buttons_container">
      <div class="action_buttons">
        <div id="cancel_button" class="button" data-onpress="closeDiscountPopup()">
          <div class="icon">
            <%= image_tag "button_logos/cancel_button.png"%>
          </div>
          <div class="button_name">Cancel</div>
        </div>
        <div id="save_button" class="button" data-onpress="saveDiscount()">
          <div class="icon">
            <%= image_tag "button_logos/ok_button.png"%>
          </div>
          <div class="button_name">OK</div>
        </div>
        <div class="clear">&nbsp;</div>
      </div>
    </div>

  </div>
</div>

<div id="course_popup_markup">
  <div id="course_popup_markup_container" class="popup_container">

    <div class="header">Serve As</div>

    <div class="clear">&nbsp;</div>

    <% GlobalSetting.course_vals.each do |course_val| %>
      <% @gs = GlobalSetting.setting_for GlobalSetting::COURSE_LABEL, {:course_val => course_val} %>
      <div class="course_label course_label_<%=course_val%>" onclick="applyCourseFromPopup(<%=course_val%>);"><%= @gs.value %></div>
      <div class="clear">&nbsp;</div>
    <% end %> 

  </div>
</div>

<div id="service_charge_popup_markup">
  <div id="service_charge_popup_markup_container" class="popup_container">

    <div class="header">Add <%= @service_charge_label %></div>

    <div id="percentage_buttons">
      <div class="button service_charge_button_percent" id="service_charge_button_percent_0" onclick="presetServiceChargePercentageClicked(0);">0%</div>
      <div class="button service_charge_button_percent" id="service_charge_button_percent_10" onclick="presetServiceChargePercentageClicked(10);">10%</div>
      <div class="button service_charge_button_percent" id="service_charge_button_percent_125" onclick="presetServiceChargePercentageClicked(12.5);">12.5%</div>
      <div class="button service_charge_button_percent" id="service_charge_button_percent_15" onclick="presetServiceChargePercentageClicked(15);">15%</div>
      <div class="clear_top_margin_10">&nbsp;</div>
    </div>

    <div class="amount_container">
      <div class="amount_label">Amount:</div>
      <div class="service_charge_popup_amount"></div>
    </div>

    <div class="clear_top_margin_10">&nbsp;</div>

    <div class="service_charge_popup_keypad_container">Keypad gets put here dynamically</div>

    <div class="clear">&nbsp;</div>

    <div class="action_buttons_container">
      <div class="action_buttons">
        <div id="cancel_button" class="button" data-onpress="cancelServiceCharge()">
          <div class="icon">
            <%= image_tag "button_logos/cancel_button.png"%>
          </div>
          <div class="button_name">Cancel</div>
        </div>
        <div id="save_button" class="button" data-onpress="setServiceCharge()">
          <div class="icon">
            <%= image_tag "button_logos/ok_button.png"%>
          </div>
          <div class="button_name">Save</div>
        </div>
        <div class="clear">&nbsp;</div>
      </div>
    </div>

    <div class="clear">&nbsp;</div>
  </div>
</div>

<div id="cashback_popup_markup">
  <div id="cashback_popup_markup_container" class="popup_container">

    <div class="header">Cash Back</div>

    <div id="cashback_amount_buttons">
      <div class="button" data-onpress="presetCashbackAmountClicked(5);"><%= @currency_symbol %>5</div>
      <div class="button" data-onpress="presetCashbackAmountClicked(10);"><%= @currency_symbol %>10</div>
      <div class="button" data-onpress="presetCashbackAmountClicked(20);"><%= @currency_symbol %>20</div>
      <div class="button" data-onpress="presetCashbackAmountClicked(50);"><%= @currency_symbol %>50</div>
      <div class="clear_top_margin_10">&nbsp;</div>
    </div>

    <div class="amount_container">
      <div class="amount_label">Amount:</div>
      <div class="cashback_popup_amount"></div>
    </div>

    <div class="clear_top_margin_10">&nbsp;</div>

    <div class="cashback_popup_keypad_container">Keypad gets put here dynamically</div>

    <div class="clear">&nbsp;</div>

    <div class="action_buttons_container">
      <div class="action_buttons">
        <div id="cancel_button" class="button" data-onpress="cancelCashback()">
          <div class="icon">
            <%= image_tag "button_logos/cancel_button.png"%>
          </div>
          <div class="button_name">Cancel</div>
        </div>
        <div id="save_button" class="button" data-onpress="saveCashback()">
          <div class="icon">
            <%= image_tag "button_logos/ok_button.png"%>
          </div>
          <div class="button_name">Save</div>
        </div>
        <div class="clear">&nbsp;</div>
      </div>
    </div>

    <div class="clear">&nbsp;</div>
  </div>
</div>

<div id="name_table_popup_markup">
  <div id="name_table_popup_markup_container" class="popup_container">

    <div id="header">Add Name To Table</div>

    <div class="clear">&nbsp;</div>

    <div id="table_name_input_container">
      <div id="table_name_input_label">Name:</div>
      <input type="text" size="20" id="table_name_input"/>
      <div class="clear">&nbsp;</div>
    </div>

    <div class="clear">&nbsp;</div>

    <div class="clear_top_margin_10">&nbsp;</div>

    <div class="action_buttons_container">
      <div class="action_buttons">
        <div id="cancel_button" class="button" data-onpress="closePromptAddNameToTable();">
          <div class="icon">
            <%= image_tag "button_logos/cancel_button.png"%>
          </div>
          <div class="button_name">Cancel</div>
        </div>
        <div id="save_button" class="button" data-onpress="saveAddNameToTable();">
          <div class="icon">
            <%= image_tag "button_logos/ok_button.png"%>
          </div>
          <div class="button_name">OK</div>
        </div>
        <div class="clear">&nbsp;</div>
      </div>
    </div>
  </div>
</div>

<div id="add_covers_popup_markup">
  <div id="add_covers_popup_markup_container" class="popup_container">

    <div id="header">Enter Covers</div>

    <div class="clear">&nbsp;</div>

    <div id="add_covers_input_container">
      <div id="add_covers_input_label">Name:</div>
      <input type="text" size="20" id="add_covers_input"/>
      <div class="clear">&nbsp;</div>
    </div>

    <div class="clear">&nbsp;</div>

    <div class="clear_top_margin_10">&nbsp;</div>

    <div class="action_buttons_container">
      <div class="action_buttons">
        <div id="cancel_button" class="button" data-onpress="closePromptAddCovers();">
          <div class="icon">
            <%= image_tag "button_logos/cancel_button.png"%>
          </div>
          <div class="button_name">Cancel</div>
        </div>
        <div id="save_button" class="button" data-onpress="saveAddCovers();">
          <div class="icon">
            <%= image_tag "button_logos/ok_button.png"%>
          </div>
          <div class="button_name">OK</div>
        </div>
        <div class="clear">&nbsp;</div>
      </div>
    </div>
  </div>
</div>