<div onclick="doDeleteMenuItem(<%=item.id%>)" class="delete_link">
  X
</div>
<% if item.product %>
  <div class="item_pic">
    <%= product_image_thumb item.product %>
  </div>
  <div class="item_name" id="menu_item_name_<%=item.id%>" 
       ondblclick="openEditMenuItemNameTextBox(<%=item.id%>, <%=item.product.id%>, this)">
         <%= item.name %>
  </div>
  <input style="display: none;" type="text" name="menu_item_name_<%=item.id%>"
         id="edit_menu_item_name_<%=item.id%>" size="8" value="<%=item.name%>"/>
       <% else %>
  <div class="drag_message">
    Drag Product Here
  </div>
<% end %>