<% content_for :head do %>
  <%= javascript_include_tag "admin_js/display_builder" %>
  <%= stylesheet_link_tag "admin/menu_builder" %>

  <script type="text/javascript">
    $(function() {
      if(!disableAdvancedTouch && isTouchDevice()) {
        niceAlert("Drag/Drop is not supported on touch interfaces yet, please use a desktop PC to build your menus.");
      }
    });
  </script>
<% end %>

<% content_for :admin_subnav_links_left do %>
  <div class="button" data-onpress="goTo('<%=admin_displays_path%>');">
    <div class="icon">
      <%= image_tag "/images/button_logos/sales_screen_list_button.png" %>
    </div>
    <div class="button_name">Display List</div>
  </div>
<% end %>

<div id="display_builder">

  <div id="header">

    <div id="display_name">
      <%= @display.name %>
    </div>

    <a id="rename_link" href="#" onclick="showRenameDisplay();">(Rename)</a>
    <input type="text" id="display_name_input" style="display: none;" value="<%= @display.name %>"/>

    <%= link_to "(Delete)", admin_display_path(@display), :method => :delete, 
      :confirm => "Are You Sure?", :id => "delete_link" %>

    <div class="clear">&nbsp;</div>

  </div>

  <div id="builder">

    <div id="tree_container">

      <ul id="products_tree">
        <li>
          <ul>
            <% Category.all.each do |category| %>
              <li>
                <a href="#" class="select_category" id="select_category_<%=category.id%>"><%= category.name %></a>
                <ul>
                  <% category.products.each do |product| %>
                    <li>
                      <div class="image_container">
                        <div class="select_product" id="select_product_<%=product.id%>">
                          <%= product_image_thumb product, true %>
                        </div>
                      </div>
                      <div class="name" id="left_nav_product_name_<%=product.id%>">
                        <%= product.name %>
                        <%= link_to "(edit)", edit_admin_product_path(product, :back_builder_screen_id => @display.id) %>
                      </div>
                      <div class="clear">&nbsp;</div>
                    </li>
                  <% end %>
                </ul>
              </li>
            <% end %>
            <li>
              <a href="#" class="select_category" id="select_category_0">No Category</a>
              <ul>
                <% Product.categoryless.each do |product| %>
                  <li>
                    <div class="image_container">
                      <div class="select_product" id="select_product_<%=product.id%>">
                        <%= product_image_thumb product, true %>
                      </div>
                    </div>
                    <div class="name" id="left_nav_product_name_<%=product.id%>">
                      <%= product.name %>
                      <%= link_to "(edit)", edit_admin_product_path(product, :back_builder_screen_id => @display.id) %>
                    </div>
                    <div class="clear">&nbsp;</div>
                  </li>
                <% end %>
              </ul>
            </li>
          </ul>
        </li>
      </ul>

    </div>

    <div id="grid">
      <div id="menu_pages_container">
        <div id="pages">
          <% @display.menu_pages.each_with_index do |page, index| %>
            <div class="page <%=index==0 ? "selected" : "" %>" id="menu_page_<%=page.id%>"
                 onclick="doBuilderMenuPageSelect(<%= page.page_num %>, <%= page.id %>);">
              <div class="delete_link">
                <%= link_to "X", delete_menu_page_admin_display_path(@display, :menu_page_id => page.id), :method => :post, :confirm => "Are you sure you want to delete this page?" %>
              </div>
              <div class="name" id="page_name_<%=page.id%>" ondblclick="openEditNameTextBox(<%=page.id%>)">
                <%= page.name %>
              </div>
              <input style="display: none;" type="text" name="page_name_<%=page.id%>"
                     id="edit_page_name_<%=page.id%>" size="6" value="<%=page.name%>"/>
            </div>
          <% end %>

          <div class="page new_page" id="new_menu_page">
            <div class="name">
              <div onclick="newMenuPagePopup();">
                New Page
              </div>
            </div>
          </div>
        </div>

        <div class="clear">&nbsp;</div>

        <div id="builder_menu_items_container">

          <% @display.menu_pages.each_with_index do |page, index| %>
            <div style="<%=index==0 ? "" : "display: none;" %>" id="builder_menu_items_<%= page.page_num %>" class="builder_menu_items">
              <% if page.embedded_display %>
                <div id="embedded_display_message">
                  This page contains an embedded display

                  <div class="clear_top_margin_20">&nbsp;</div>

                  <%= page.embedded_display.name %> 

                  <%= link_to "(edit)", builder_admin_display_path(page.embedded_display) %>
                </div>
              <% else %>
                <div id="items">
                  <!-- make sure no white space here, as it interferes with the inline-block display -->
                  <% page.menu_items.each do |item| %><%= render :partial => "builder_menu_item_with_wrapper_div", :locals => {:item => item} %><% end %><div class="new_item_container item_container">
                    <div class="item new_item" id="new_menu_item">
                      <div class="item_name" onclick="createSpacer(null);">
                        Drag new product here, OR <b>Click Here</b> to create spacer
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>

          <% end %>
        </div>

        <div class="clear">&nbsp;</div>
      </div>
    </div>

    <div class="clear">&nbsp;</div>

  </div>
</div>

<div id="new_menu_page_popup_content">
  <div id="new_menu_page_popup_container">
    <div class="header">
      Please choose a page type:
    </div>
    <div id="selection">
      <div class="menu_type">
        <div class="label">
          Normal Product Page
        </div>
        <div class="data create">
          <div class="button" data-onpress="postTo('<%=create_menu_page_admin_display_path(@display)%>', null);">Create</div>
        </div>
        <div class="clear">&nbsp;</div>
      </div>

      <div class="clear">&nbsp;</div>

      <div class="menu_type">
        <div class="label">
          Embedded Display
        </div>
        <div class="data">
          <%= select_tag "display", options_from_collection_for_select(@displays, "id", "name", nil), :include_blank => "Select...", 
            :onchange => "newEmbeddedDisplaySelected(this.value, '#{create_menu_page_admin_display_path(@display)}');" %>
        </div>
        <div class="clear">&nbsp;</div>
      </div>
    </div>
  </div>
</div>