<% content_for :head do %>
  <%= javascript_include_tag "menu-builder" %>
  <script type="text/javascript" src="/javascripts/init_touch_draggable.js?id=<%=@display.id%>"></script>
  <%= stylesheet_link_tag "menu_builder"  %>
<% end %>

<% content_for :admin_subnav_links do %>
  <div class="link">
    <%=link_to "Display List", admin_displays_path %>
  </div>
<% end %>

<div id="display_builder">

  <%= render :partial => "layouts/terminal_reload_request" %>

  <section id="header">

    <div id="display_name">
      <%= @display.name %>
    </div>

    <a id="rename_link" href="#" onclick="showRenameDisplay();">(Rename)</a>
    <input type="text" id="display_name_input" style="display: none;" value="<%= @display.name %>"/>

    <%= link_to "(Delete)", admin_display_path(@display), :method => :delete, 
      :confirm => "Are You Sure?", :id => "delete_link" %>

    <div class="clear">&nbsp;</div>

  </section>

  <section id="builder">

    <div id="tree_container">

      <ul id="products_tree">
        <li>
          <ul>
            <% Category.all.each do |category| %>
              <li>
                <a href="#" class="select_category" id="select_category_<%=category.id%>"><%= category.name %></a>
                <ul>
                  <% category.products.each do |product| %>
                    <li>
                      <div class="select_product" id="select_product_<%=product.id%>">
                        <%= product_image_thumb product, true %>
                      </div>
                      <div class="name" id="left_nav_product_name_<%=product.id%>"><%= product.name %></div>
                      <div class="edit_link"><%= link_to "(edit)", edit_admin_product_path(product, :back_builder_screen_id => @display.id) %></div>
                      <div class="clear">&nbsp;</div>
                    </li>
                  <% end %>
                </ul>
              </li>
            <% end %>
            <li>
              <a href="#" class="select_category" id="select_category_0">No Category</a>
              <ul>
                <% Product.categoryless.each do |product| %>
                  <li>
                    <div class="select_product" id="select_product_<%=product.id%>">
                      <%= product_image_thumb product, true %>
                    </div>
                    <div class="name"><%= link_to product.name, edit_admin_product_path(product) %></div>
                    <div class="clear">&nbsp;</div>
                  </li>
                <% end %>
              </ul>
            </li>
          </ul>
        </li>
      </ul>

    </div>

    <div id="grid">
      <div id="menu_pages_container">
        <div id="pages">
          <% @display.menu_pages.each_with_index do |page, index| %>
            <div class="page <%=index==0 ? "selected" : "" %>" id="menu_page_<%=page.id%>"
                 onclick="doBuilderMenuPageSelect(<%= page.page_num %>, <%= page.id %>);">
              <div class="delete_link">
                <%= link_to "X", delete_menu_page_admin_display_path(@display, :menu_page_id => page.id), :method => :post, :confirm => "Are You Sure?" %>
              </div>
              <div class="name" id="page_name_<%=page.id%>" ondblclick="openEditNameTextBox(<%=page.id%>)">
                <%= page.name %>
              </div>
              <input style="display: none;" type="text" name="page_name_<%=page.id%>"
                     id="edit_page_name_<%=page.id%>" size="6" value="<%=page.name%>"/>
            </div>

            <div style="display: none;" id="builder_menu_items_<%= page.page_num %>">
              <div id="items">
                <% page.menu_items.each do |item| %>
                  <%= render :partial => "builder_menu_item_with_wrapper_div", :locals => {:item => item} %>
                <% end %>

                <div class="item new_item" data-theid="new_menu_item">
                  <div class="item_name">
                    Drag New Item Here
                  </div>
                </div>
              </div>
            </div>

          <% end %>

          <div class="new_page" id="new_menu_page">
            <div class="name">
              <%= link_to "New Page", create_menu_page_admin_display_path(@display), :method => :post %>
            </div>
          </div>
        </div>

        <div class="clear">&nbsp;</div>

        <div id="builder_menu_items_container">
          Loading...
        </div>

        <div class="clear">&nbsp;</div>
      </div>
    </div>

</div>
</section>
</div>
