<% content_for :admin_subnav_links_right do %>
  <%= render :partial => "/partials/interfaces/large_screen/ok_cancel_buttons" %>
<% end %>

<div id="admin_display_list">

  <section id="displays">

    <h3>System Displays</h3>

    <table id="display_list" class="admin_table">
      <thead>
        <tr>
          <th width="180">Name</th>
          <th width="40">Default?</th>
          <th width="40">Public?</th>
          <th width="40">Delete</th>
          <th width="80">Duplicate</th>
        </tr>
      </thead>

      <tbody>
        <% @displays.each do |display| %>
          <tr>
            <td><%= link_to display.name, builder_admin_display_path(display) %></td>
            <td>
              <!-- jscrollpane requires all radio buttons go in a form as any that are not get unchecked! -->
              <form>
                <%= radio_button_tag "set_default_display", "#{display.id}", display.is_default, 
                  :onchange => "doSetDefaultDisplay(this.value);" %>
              </form>
            </td>
            <td>
              <!-- jscrollpane requires all radio buttons go in a form as any that are not get unchecked! -->
              <form>
                <%= radio_button_tag "set_public_display", "#{display.id}", display.is_public, 
                  :onchange => "doSetPublicDisplay(this.value);" %>
              </form>
            </td>
            <td><%= link_to "Delete", admin_display_path(display), :method => :delete, :confirm => "Are You Sure?" %></td>
            <td><%= link_to "Duplicate", duplicate_admin_display_path(display), :method => :post, :confirm => "Are You Sure?" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br/>

    <div id="actions">
      <%= button_to 'New Display', new_admin_display_path, :method => :get %>
    </div>

  </section>
</div>