
<div id="sales_items">
    <% if params[:action] == "sales_print" %>
        <h2>Sales Report <%= Time.now.strftime("%B %d, %Y") %></h2>
    <% end %>
<% if @orders != nil %>
<% if (@s_type == :best_seller) || (@s_type == :worst_seller) %>
    <table id="product_list" class="admin_table" style="width: 100%; height: 500px">
          <thead>
            <th class="header">Product</th>
            <th class="header">Category</th>
            <th class="header">Items Qty</th>
            <th class="header">Gross Sales</th>
            <th class="header">VAT</th>
            <th class="header">NET Sales</th>
          </thead>
          <% @orders.each do |week| %>
            <% total_items = week.quantity %>
            <% gross_sales = 0 %>
            <% net_sales = week.total_price %>
            <% vat = 0 %>
            <% tax_rate = GlobalSetting::GLOBAL_TAX_RATE.to_i %>

          <% vat = net_sales * tax_rate / 100 %>
          <% gross_sales = net_sales - vat %>
          <tbody>
          <tr>
              <td>
                  <% product = Product.find_by_id(week.product_id) %>
                  <%= product.name %>
              </td>

              <td>
                  <%= Category.find_by_id(product.category_id).name %>
              </td>
              <td>
                 <%= total_items %>
              </td>
              <td>
                  <%= sprintf("%.2f", gross_sales) %>
              </td>
              <td>
                 <%= sprintf("%.2f", vat) %>
              </td>
              <td>
                 <%= sprintf("%.2f", net_sales) %>
              </td>


          </tr>
          <% end %>

      </tbody>
    </table>
  </div>
<% else %>

    <table id="product_list" class="admin_table" style="width: 100%">
          <thead>
            <th class="header">Date</th>
            <th class="header">Day</th>
            <th class="header">Items Qty</th>
            <th class="header">Gross Sales</th>
            <th class="header">VAT</th>
            <th class="header">NET Sales</th>
          </thead>
          <% @orders.group_by(&@s_type).sort.each do |week| %>
            <% total_items = 0 %>
            <% gross_sales = 0 %>
            <% net_sales = 0 %>
            <% vat = 0 %>
            <% tax_rate = GlobalSetting::GLOBAL_TAX_RATE.to_i %>
                 <% week[1].each do |order| %>
                    <% total_items += order.order_items.count %>
                    <% net_sales += order.total %>
                 <% end %>
          <% vat = net_sales * tax_rate / 100 %>
          <% gross_sales = net_sales - vat %>
          <tbody>
          <tr>
              <td>
                  <% if @s_type == :day %>
                  <%= week[1][0].created_at.strftime("%B %d, %Y") %>
                  <% end %>
                  <% if @s_type == :week %>
                  Week starting <%= week[1][0].created_at.beginning_of_week.strftime("%B %d, %Y") %>
                  <% end %>
                  <% if @s_type == :month %>
                  <%= week[1][0].created_at.strftime("%B, %Y") %>
                  <% end %>
                  <% if @s_type == :year %>
                  <%= week[1][0].created_at.strftime("%Y") %>
                  <% end %>
              </td>

              <td>
                   <% if @s_type == :day %>
                  <%= DAYS_OF_THE_WEEK[week[1][0].created_at.wday.to_i] %>
                   <% end %>
                  <% if @s_type == :week %>
                  Monday
                  <% end %>
              </td>
              <td>
                 <%= total_items %>
              </td>
              <td>
                  <%= sprintf("%.2f", gross_sales) %>
              </td>
              <td>
                 <%= sprintf("%.2f", vat) %>
              </td>
              <td>
                 <%= sprintf("%.2f", net_sales) %>
              </td>


          </tr>
          <% end %>

      </tbody>
    </table>
  </div>

<% end %>
<% else %>
    <h2>No Results Found</h2>
<% end %>