<% @nav_title = "Reports" %>

<div id="reports_container">

    <div >
        <div id="admin_subnav_left">
            <%= render :partial => "/partials/interfaces/large_screen/menu_screen_options_screen_buttons" %>
            <%= yield :admin_subnav_links_left %>
        </div>

        <div style="float: right">

            <div class="button selected" onclick="window.location = '/reports/sales'">
                <div class="button_name">Sales Reports</div>
            </div>

        </div>
        <br>
        <br>

        <div>

            <div class="container" id="#at_a_glance_section">
                <div id="report_sales_filters" class="popout_dialog">
                    <div id="refine_container">
                        <div id="date_select_container">
                            <div class="dropdown_container">
                                <div class="label">Report Type</div>
                                <select onchange="setSearchType($(this).val())">
                                    <option value="0">Best Sellers</option>
                                    <option value="1">Worst Sellers</option>
                                    <option value="2">Sales by Day</option>
                                    <option value="3">Sales by Week</option>
                                    <option value="4">Sales by Month</option>
                                    <option value="5">Sales by Year</option>

                                </select>
                            </div>
                            <div class="dropdown_container">
                                <div class="label">Terminal</div>
                                <select onchange="addTerminalFilter($(this).val())">
                                    <option value="">All Terminals</option>
                                    <% @all_terminals.each do |terminal_id| %>
                                        <option value="<%= terminal_id %>"><%= terminal_id %></option>
                                    <% end %>
                                </select>
                            </div>
                            <% lastyear = Time.now - 1.year %>
                            <% yesterday = Time.now - 1.day %>
                            <% lastweek = Time.now - 7.days %>
                            <% lastmonth = Time.now - 1.month %>
                            <div class="dropdown_container">
                                <div class="label">Date</div>
                                <select id="date_preselect" onchange="setDateParams($(this).val())" style="width: 120px">
                                    <option value="<%= Time.now.beginning_of_day %>,<%= Time.now.end_of_day %>">Today</option>
                                    <option value="<%= yesterday.beginning_of_day %>,<%= yesterday.end_of_day %>">Yesterday</option>
                                    <option value="<%= Time.now.beginning_of_week %>,<%= Time.now %>">This Weak</option>
                                    <option value="<%= Time.now.beginning_of_month %>,<%= Time.now %>">This Month</option>
                                    <option value="<%= Time.now.beginning_of_year %>,<%= Time.now %>">This Year to Date</option>
                                    <option value="<%= lastweek.beginning_of_week %>,<%= yesterday.end_of_week %>">Last Week</option>
                                    <option selected="yes" value="<%= Time.now - 30.days %>,<%= Time.now %>">Last 30 Days</option>
                                    <option value="<%= lastmonth.beginning_of_month %>,<%= lastmonth.end_of_month %>">Last Month</option>
                                    <option value="<%= lastyear.beginning_of_day %>,<%= lastyear.end_of_day %>">This Day Last Year</option>
                                    <option value="<%= Time.now - 2.years %>,<%= Time.now %>">All Time</option>
                                    <option value=""></option>
                                </select>
                            </div>
                            <div id="days" >
                                <div class="dropdown_container">
                                    <div class="label">Day From</div>
                                    <div class="input_date">
                                        <input type="text" size="8" id="date_from" name="date_from"
                                               value="<%= @selected_from_date.to_date.strftime("%d-%m-%Y") %>"/>
                                    </div>
                                </div>
                                <div class="dropdown_container">
                                    <div class="label">Day To</div>
                                    <div class="input_date">
                                        <input type="text" size="8" id="date_to" name="date_to"
                                               value="<%= @selected_to_date.to_date.strftime("%d-%m-%Y") %>"/>
                                    </div>
                                </div>
                            </div>

                            <div class="clear">&nbsp;</div>
                        </div>
                        <div id="date_select_container">

                            <%= render 'category_dropdown' %>

                            <div id="product_dropdown">
                                <%= render 'product_dropdown' %>
                            </div>


                            <div class="clear">&nbsp;</div>

                        </div>


                    </div>
                    <div id="refine_button">
                        <div onclick="runSalesSearch()" class="wide_button">Refine</div>
                    </div>
                    <div style="float: right; margin: 6px;">
                        <div style="margin: 5px; height: 40px;" onclick="window.location = '/reports/sales/sales_print'" class="button">Print</div>
                    </div>
                </div>
                <div id="report_sales_results">
                    <%= render 'sales_tab' %>
                </div>


            </div>


        </div>
    </div>

</div>