<% if !@cash_total.nil? %>
  <table id="cash_total_list" class="admin_table">
    <thead>
      <tr>
        <th width="130"><%= link_to_function "Date & Time", "orderResults()" %>&nbsp;<%= image_tag("uup.png", :border=>0) if !params[:order].eql?("DESC")%><%= image_tag("ddn.png", :border=>0) if params[:order].eql?("DESC")%></th>
        <th width="70">Report No.</th>
        <th width="80">
          <div class="label">Report Type</div>
          <div class="dropdown_container">
            <select onchange="addReportTypeFilter($(this).val())">
              <option value="">All</option>
              <% CashTotal.types.each do |type|%>
                  <option value="<%= type %>" <%=params[:search] and params[:search][:total_type_equals] == type ? 'selected' : ''%>><%= type %></option>
              <% end %>
            </select>
          </div>
        </th>
        <th width="120">
          <div class="label">Terminal</div>
          <div class="dropdown_container">
            <select onchange="addTerminalFilter($(this).val())">
              <option value="">All</option>
              <% @all_terminals.each do |terminal_id|%>
                  <option value="<%= terminal_id %>" <%=params[:search] and params[:search][:terminal_id_equals] == terminal_id ? 'selected' : ''%>><%= terminal_id %></option>
              <% end %>
            </select>
          </div>
        </th>
        <th width="100">
          <div class="label">Report By</div>
          <div class="dropdown_container">
            <select onchange="addReportByFilter($(this).val())">
              <option value="">All</option>
              <% Employee.all.each do |employee|%>
                 <option value="<%= employee.id %>" <%=params[:search] and params[:search][:employee_id_equals] == employee.id.to_s ? 'selected' : ''%>><%= employee.nickname %></option>
              <% end %>
            </select>
          </div>
        </th>
        <th width="60">Total Sales</th>
      </tr>
    </thead>
    <tbody>
      <% @cash_total.each do |cash_total| %>
          <tr id="row_<%=cash_total.id%>" class="table_row">
            <td onclick="showCashTotal(<%=cash_total.id%>)"><%= cash_total.created_at.strftime(@defaultDateFormat) %></td>
            <td onclick="showCashTotal(<%=cash_total.id%>)" class="center"><%= cash_total.report_num %></td>
            <td onclick="showCashTotal(<%=cash_total.id%>)" class="center"><%= cash_total.total_type %></td>
            <td onclick="showCashTotal(<%=cash_total.id%>)"><%= cash_total.terminal_id %></td>
            <td onclick="showCashTotal(<%=cash_total.id%>)"><%= cash_total.employee.name %></td>
            <td onclick="showCashTotal(<%=cash_total.id%>)" class="right"><%= cash_total.total %></td>
          </tr>     
      <% end %>
    </tbody>
  </table>
<% end %>