<div id="menu_screen" style="display: none;">

  <div id="receipt_keypad_container">

    <div id="top_buttons">
      <div id="stock_take_header">
        <div class="label">Check Stock</div>
        <div id="finish_stock_take_button" onclick="finishStockTakeMode()">
          <%= image_tag "red_x.gif" %>
        </div>
      </div>

      <div id="table_screen_button" onclick="showTablesScreen(); return false;">Tables</div>

      <div id="table_select_container">
        <div id="table_select_input" onclick="tableSelectMenu.openMenu()">Select Table</div>

        <% cache("room_select_dropdown") do %>
          <ul id="table_select" class="mcdropdown_menu">
            <li id="previous_order_select_item" rel="-1" style="display: none;" onclick="doSelectTable(-1)">Previous Order</li>
            <li rel="0" onclick="doSelectTable(0)">No Table</li>
            <% Room.all.each do |room|%>
              <li>
                <%=room.name%>
                <ul>
                  <% room.table_infos.each do |table_info| %>
                    <li rel="<%= table_info.id %>" onclick="doSelectTable(<%= table_info.id %>)"><%= table_info.perm_id %></li>
                  <% end %>
                </ul>
              </li>
            <% end %>
          </ul>
        <% end %>
      </div>

      <div class="clear">&nbsp;</div>

    </div>

    <div id="receipt" class="receipt">
      <div id="till_roll" class="till_roll"></div>
      <div class="clear">&nbsp;</div>
      <div id="till_roll_discount" class="till_roll_discount"></div>
    </div>

    <div id="stock_take_receipt">
      <div id="receipt_area"></div>
      <div id="stock_take_new_amount_input_container">
        <div class="label">New Amount:</div>
        <input type="text" id="stock_take_new_amount_input" disabled="true"/>
      </div>
      <div id="stock_take_actions">
        <div id="buttons_container">
          <div id="transfer_stock_button" class="button" onclick="updateStock(transferStockType);">
            Transfer Stock
          </div>
          <div id="update_stock_button" class="button" onclick="updateStock(updateStockType);">
            Update Stock
          </div>
        </div>
      </div>
    </div>

    <div class="clear">&nbsp;</div>

    <div id="total_container">

      <div id="label">Sub-Total:</div>
      <div id="total_value"></div>

      <div class="clear">&nbsp;</div>

    </div>

    <!-- the following markup is used for the display button passcode popup -->
    <div id="menu_buttons_popup_anchor">&nbsp;</div>

    <div id="till_keypad" class="keypad">
      <div id="keys" class="keys">
        <% [[7,9],[4,6],[1,3]].each do |x,y| %>
          <% (x..y).each do |num| %>
            <div id="keypad_num_<%= num %>" class="key" onclick="menuScreenKeypadClick(<%=num%>);"><%= num %></div>
          <% end %>
        <% end %>

        <div id="keypad_num_0" class="key" onclick="menuScreenKeypadClick(0);">0</div>
        <div id="decimal_key" class="key" onclick="menuScreenKeypadClickDecimal();">.</div>
        <div id="cancel_key" class="key" onclick="menuScreenKeypadClickCancel()">C</div>
      </div>
    </div>
  </div>

  <div id="menu_pages_container">
    <%= render "/home/interfaces/large_screen/screens/menu_subscreens/menu_items_screen" %>

    <%= render "/home/interfaces/large_screen/screens/menu_subscreens/order_item_additions_screen" %>

    <div class="clear_spacer">
      <div id="menu_screen_status_message_container" class="global_status_message_container">
        <div id="menu_screen_status_message" class="global_status_message"></div>
      </div>
    </div>

    <!-- the following anchor is used for the default menu screen popup -->
    <div id="menu_screen_default_popup_anchor">&nbsp;</div>

    <input type="text" id="display_button_passcode" style="display: none;"/>

    <div id="menu_buttons">
      <div id="menu_buttons_panel">
        <% cache("menu_screen_buttons") do %>
          <% @menu_screen_buttons_map.each do |role_id, dbrs| %>
            <div style="display: none;" class="buttons" id="menu_screen_buttons_html_for_role_<%=role_id%>">
              <%= render :partial => '/home/interfaces/large_screen/screen_buttons', :locals => {:dbrs => dbrs} %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <%= render :partial => "/partials/interfaces/large_screen/popups_markup" %>

  <div class="clear">&nbsp;</div>
</div>