<div id="previous_cash_reports_screen" style="display: none;">

    <div id="search_previous_cash_totals_container">

        <div id="search_popout" class="popout_dialog">

            <div id="date_select_container">
              <div class="date_box">
                <div class="label">Date From:</div>
                <div class="date_select">
                  <input type="text" size="8" id="date_from" name="date_from"
                         value="<%=@selected_from_date%>"/>
                </div>
              </div>
              <div class="date_box">
                <div class="label">To:</div>
                <div class="date_select">
                  <input type="text" size="8" id="date_to" name="date_to"
                         value="<%=@selected_to_date%>"/>
                </div>
              </div>

              <div class="go_button" onclick="goButtonClicked()">
                <div class="button">Go</div>
              </div>

              <div class="yesterday_button" onclick="yesterdayButtonClicked()">
                <div class="button">Yesterday</div>
              </div>

              <div class="last7days_button" onclick="last7daysButtonClicked()">
                <div class="button">Last 7 days</div>
              </div>

              <div class="clear">&nbsp;</div>
            </div>

            <div class="clear_top_margin_10">&nbsp;</div>

        </div>

        <div id="results_table">
              <%= render "/home/interfaces/large_screen/screens/cash_total_table" %>
        </div>

        <div id="action_buttons_container">

            <div class="clear">&nbsp;</div>

              <div class="action_buttons">

                <div class="button" onclick="doReopenOrder();">
                  <div class="icon">
                    <%= image_tag "/images/button_logos/reopen_order.png" %>
                  </div>
                  <div class="button_name">Re-Open</div>
                </div>

               <div class="button" onclick="printCashTotal()">
                  <div class="icon">
                    <%= image_tag "button_logos/print_bill_button.png" %>
                  </div>
                  <div class="button_name">Print</div>
               </div>


              <div class="button" onclick="showMoreOptionsScreen();">
                <div class="icon">
                  <%= image_tag "/images/button_logos/more_options_button.png" %>
                </div>
                <div class="button_name">Functions</div>
              </div>

                <div class="button" onclick="showMenuScreen();">
                  <div class="icon">
                    <%= image_tag "/images/button_logos/manage_sales_screen_button.png" %>
                  </div>
                  <div class="button_name">Sales Screen</div>
                </div>


               <div class="button" onclick="cancelCashReportCoinCount()">
                  <div class="icon">
                    <%= image_tag "button_logos/cancel_button.png" %>
                  </div>
                  <div class="button_name">Cancel</div>
                </div>

                <div class="clear">&nbsp;</div>

              </div>

            <div class="clear">&nbsp;</div>
       </div>
    </div>
  
    <div id="previous_reports_center_receipt" >
      <div id="previous_reports_center_till_roll">
        <div id="previous_cash_total_data_table_container"></div>
      </div>
    </div>
  

</div>