<%# cache("tables_screen") do %>

<div id="table_select_screen" style="display: none;">

  <div id="room_list">
    <div id="room_buttons">
      <% @rooms.each do |room| %>
        <div id="select_room_button_<%=room.id%>" 
             class="button room_name" onclick="loadRoomGraphic(<%=room.id%>)">
          <div class="button_name"><%= room.name %></div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="clear">&nbsp;</div>

  <div id="room_layout">
    <% @rooms.each do |room| %>
      <div id="room_graphic_<%= room.id %>" data-room_id="<%=room.id%>" 
           data-grid_x_size="<%=room.grid_x_size%>" data-room_grid_resolution="<%=room.grid_resolution%>" 
           data-grid_y_size="<%=room.grid_y_size%>" class="room_graphic" style="display: none;">
        <%= render "admin/rooms/room_graphic", {:room => room} %>
      </div>
    <% end %>
  </div>

</div>
<%# end %>