<!DOCTYPE html>
<html <%= development_mode? ? "" : "manifest='cache_manifest'" %>>

  <head>
    <%= render :partial => "/partials/interfaces/large_screen/common_head" %>
  </head>
  <body> 

    <div id="wrapper" class="wrapper large_interface">
      <div id="body">
        <div id="content_container">
          <%= render :partial => "/partials/interfaces/large_screen/nav" %>

          <%= yield %>
        </div>
      </div>

    </div>

    <%= render :partial => "/partials/interfaces/large_screen/common_footer" %>

    <div id="spotify_content_contianer">
      <div class="slide-out-div">
        <a class="handle" href="http://link-for-non-js-users">Content</a>
        <iframe frameBorder="0" scrollbar="no" width="1000px" height="710px" src="https://play.spotify.com"/>
      </div>
    </div>

  </body>
</html>
