<%= render "/home/interfaces/large_screen/screens/cash_screen" %>

<%= render "/home/interfaces/large_screen/screens/login_screen" %>

<%= render "/home/interfaces/large_screen/screens/tables_screen" %>

<%= render "/home/interfaces/large_screen/screens/more_options_screen" %>

<%= render "/home/interfaces/large_screen/screens/cash_reports_screen" %>

<%= render "/home/interfaces/large_screen/screens/float_screen" %>

<!-- menu screen should stay last in this list as it has 
some padding at end which makes a gap appear above the other screens -->
<%= render "/home/interfaces/large_screen/screens/menu_screen" %>

<!-- iframe to print in -->
<iframe name="printFrame" id="printFrame" width="0" height="0" frameborder="0" src="<%= blank_receipt_for_print_path %>"></iframe>
<div class="clear">&nbsp;</div>

<!-- applet for printing -->
<!--applet
  archive="/applets/ReceiptPrinter.jar"
  code="receiptprinter.ReceiptPrinter.class"
  width="200"
  height="100"
  mayscript="true"
  name="receiptPrinterApplet"></applet-->

<!-- render the re-usable utilities -->
<%= render "/partials/interfaces/large_screen/utilities" %>