<% current_outlet.modifier_categories.all.each do |mc| %>
  <div style="display: none;" id="modifier_category_popup_<%=mc.id%>" class="popup_container">
    <div class="modifier_category_popup">
      <div class="header">
        Options for <%=mc.name%>
      </div>

      <div class="modifier_choices data">
        <% mc.modifiers.all.each do |m| %>
          <div class="modifier" onclick="modifierSelected(<%=m.id%>, '<%=m.name%>', <%=m.price%>)">
            <div class="name"><%=m.name%></div>
            <div class="price"><%=print_money m.price%></div>
            <div class="clear">&nbsp;</div>
          </div>
        <% end %>
        <div class="modifier" onclick="noModifierSelected()">
          <div class="name">None</div>
          <div class="price">&nbsp;</div>
          <div class="clear">&nbsp;</div>
        </div>
      </div>
    </div>
  </div>
<% end %>