<div id="menu_container">
  <div id="menu_pages_container">
    <% @display.menu_pages.each do |page| %>
      <div class="page" id="menu_page_<%=page.id%>"
           onclick="doMenuPageSelect(<%= page.page_num %>, <%= page.id %>);">
        <div class="name">
          <%= page.name %>
        </div>
      </div>

      <div class="clear">&nbsp;</div>
    <% end %>
  </div>

  <div id="menu_items_container">
    <% @display.menu_pages.each do |page| %>
      <div style="display: none;" id="menu_items_<%= page.page_num %>" class="items">
        <% page.menu_items.each do |item| %>
          <% if item.product %>
            <div class="item <%= !item.product.is_active ? "inactive" : "" %>" data-button_width="<%= item.product.menu_button_width %>" 
                 onclick="<%= item.product.is_active ? "doSelectMenuItem(#{item.product_id}, this);" : "" %>"
                 style="<%= item.product.button_bg_color.blank? ? "" : "background-color: #{item.product.button_bg_color}" %><%= item.product.is_active ? "" : "cursor: default;" %>">
                   <% if item.product.show_button_image %>
                <div class="item_pic">
                  <%= product_image_thumb item.product %>
                </div>
              <% end %>
              <div class="item_name" style="<%= item.product.button_text_color.blank? ? "" : "color: #{item.product.button_text_color}" %>">
                <%= menu_item_name item %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>

  <div id="menu_keypad" class="keypad">
    <div id="menu_keys" class="keys">
      <% [[7,9],[4,6],[1,3]].each do |x,y| %>
        <% (x..y).each do |num| %>
          <div id="num_<%= num %>" class="key" onclick="menuScreenKeypadClick(<%=num%>)"><%= num %></div>
        <% end %>
      <% end %>

      <div id="menu_num_0" class="key" onclick="menuScreenKeypadClick(0)">0</div>
      <div id="menu_decimal_key" class="key" onclick="menuScreenKeypadClickDecimal();">.</div>
      <div class="cancel_key" class="key" onclick="menuScreenKeypadClickCancel()">C</div>           
    </div>
    <div class="clear">&nbsp;</div>
  </div>

  <div class="clear">&nbsp;</div>
</div>