<div id="oia_subscreen">
  <div id="oia_tabs_container">
    <div id="oia_tabs">
      <div class="tabs">
        <% current_outlet.order_item_addition_grids.each do |oiag| %>
          <div class="tab oia_tab" id="oia_tab_<%= oiag.id %>" data-oiag_id="<%= oiag.id %>" onclick="orderItemAdditionTabSelected(<%= oiag.id %>);">
            <div class="label"><%= oiag.name %></div>
          </div>
          <div class="clear">&nbsp;</div>
        <% end %>
      </div>
    </div>
  </div>

  <div id="order_item_additions">
    <% current_outlet.order_item_addition_grids.each do |oiag| %>
      <div id="oiag_<%=oiag.id%>" class="oia_container" data-grid_x_size="<%=oiag.grid_x_size%>" data-grid_y_size="<%=oiag.grid_y_size%>">
        <% (1..oiag.grid_y_size).each do |y| %>
              <div class="grid_row">
            <% (1..oiag.grid_x_size).each_with_index do |x,i| %>
               <% if i == 3 %>
                   <div class="grid_row">
                          </div>
               <% end %>
              <% @oia = oiag.item_for_position(x, y) %>

              <% if @oia %>
                <div class="grid_item <%=@oia.available ? "" : "not_available" %>" style="<%= oia_background_css @oia %>;"
                     onclick="orderItemAdditionClicked(this)"
                     data-description="<%=@oia.description%>" data-add_charge="<%=@oia.add_charge%>"
                     data-minus_charge="<%=@oia.minus_charge%>" data-available="<%=@oia.available%>"
                     data-hide_on_receipt="<%=@oia.hide_on_receipt%>" data-is_addable="<%=@oia.is_addable%>"
                     data-product_id="<%=@oia.product_id%>" data-follow_on_grid_id="<%=@oia.follow_on_grid_id%>">
                  <div style="color: <%=@oia.text_color%>;font-size: <%=@oia.text_size%>px;" class="name">
                    <%= @oia.description %>
                  </div>
                  <div style="color: <%=@oia.text_color%>;" class="charge">
                    <%= print_money @oia.add_charge unless @oia.add_charge == 0 %>
                  </div>
                  <div class="grid_graphic add">
                    <%= image_tag "modifier_add.png" %>
                  </div>
                  <div class="grid_graphic remove">
                    <%= image_tag "modifier_subtract.png" %>
                  </div>
                </div>
              <% else %>
                <div class="grid_item empty">&nbsp;</div>
              <% end %>

            <% if i == 3 %>
                 <div class="grid_row">
                 </div>
            <% end %>
            <% end %>
            </div>
          <div class="clear">&nbsp;</div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>