<%= form_for([:admin, @oiag]) do |f| %>
  <% if @oiag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@oiag.errors.count, "error") %> prohibited this grid from being saved:</h2>

      <ul>
        <% @oiag.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div id="form_wrapper">

    <div id="fields">
      <div class="field">
        <%= f.label :name %><br />
        <%= f.text_field :name %>
      </div>

      
      
      <!-- FORCE A 6X6 GRID -->
      <%= f.hidden_field :grid_x_size, :value => 6 %>
      <%= f.hidden_field :grid_y_size, :value => 6 %>
      <!--div class="field">
      <%= f.label :grid_x_size, "Dimension: how many tiles across?" %><br />
      <%= f.text_field :grid_x_size %>
      </div>
      <div class="field">
      <%= f.label :grid_y_size, "Dimension: how many tiles down?" %><br />
      <%= f.text_field :grid_y_size %>
      </div-->
      
      
      
      
      
      <div id="actions">
        <%= f.submit %>
        <%= link_to "Back", :back %>
      </div>

    </div>

  </div>
<% end %>
