<% content_for :head do %>
  <%= javascript_include_tag "admin_js/modifier_grid_builder" %>
  <%= stylesheet_link_tag "admin/modifier_grid_builder"  %>

  <%= javascript_include_tag  "plugins/Colour.compressed", "plugins/ColourPicker.compressed" %>

  <script type="text/javascript">
    grid_x = <%=@oiag.grid_x_size%>;
    grid_y = <%=@oiag.grid_y_size%>;
    grid_id = <%=@oiag.id%>;
  </script>

<% end %>

<div id="modifier_grid_builder">

  <div id="builder_action_buttons">
    <div class="button" data-onpress="goTo('<%=home_path%>#screen=menu');">
      <div class="icon">
        <%= image_tag "/images/button_logos/manage_sales_screen_button.png" %>
      </div>
      <div class="button_name">Sales Screen</div>
    </div>

    <div class="clear">&nbsp;</div>

    <div class="button" data-onpress="adminShowMoreOptions();">
      <div class="icon">
        <%= image_tag "/images/button_logos/more_options_button.png" %>
      </div>
      <div class="button_name">Functions</div>
    </div>

    <div class="clear">&nbsp;</div>

    <div class="button" data-onpress="adminCancelClicked()">
      <div class="icon">
        <%= image_tag "/images/button_logos/cancel_button.png" %>
      </div>
      <div class="button_name">Cancel</div>
    </div>

    <div class="clear">&nbsp;</div>

    <div class="button" data-onpress="adminOkClicked()">
      <div class="icon">
        <%= image_tag "/images/button_logos/ok_button.png" %>
      </div>
      <div class="button_name">Ok</div>
    </div>

    <div class="clear">&nbsp;</div>

    <%= render :partial => "/partials/interfaces/large_screen/terminal_reload_request" %>

    <div class="clear">&nbsp;</div>

    <div id="grid_renamer">
      <div class="top_label">Grid Name</div>

      <div id="name">
        <input type="text" id="grid_name_input" size="6" value="<%=@oiag.name%>"/>
        <div class="clear">&nbsp;</div>
        <div class="button" onclick="updateGridName();">Update</div>
      </div>

      <div class="clear">&nbsp;</div>
    </div>
    
    <!--div id="grid_resizer">
      <div class="top_label">Grid Size</div>

      <div id="width">
        <input type="text" id="grid_width_input" value="<%=@oiag.grid_x_size%>" size="1" onchange="updateGridSize();"/>
        <div class="label">Wide</div>
        <div class="clear">&nbsp;</div>
      </div>

      <div class="clear">&nbsp;</div>

      <div id="height">
        <input type="text" id="grid_height_input" value="<%=@oiag.grid_y_size%>" size="1" onchange="updateGridSize();"/>
        <div class="label">High</div>
        <div class="clear">&nbsp;</div>
      </div>
    </div-->
  </div>

  <div id="builder">

    <div id="grid_scroller">
      <div id="grid">
        <%= render "grid", :oiag => @oiag %>
      </div>
    </div>

    <div id="grid_item_inputs">

      <div id="description">
        <div class="top_label">Description</div>
        <div class="input_box">
          <input type="text" id="description_input" value=""/>
          </div>
      </div>

      <div id="charge">
        <div class="top_label">Add Charge</div>
        <div class="input_box">
          <input type="text" id="add_charge_input" value=""/>
        </div>
      </div>

      <div id="charge">
        <div class="top_label">Minus Charge</div>
        <div class="input_box">
          <input type="text" id="minus_charge_input" value=""/>
        </div>
      </div>

      <div id="available">
        <div class="top_label">Available</div>
        <div class="input_box">

        </div>
      </div>

      <div id="bg_color">
        <div class="top_label">BG Color</div>
        <div class="input_box">
          <input type="text" id="bg_color_input" value="" 
                 onfocus="showBGColorPicker();" onblur="doCloseBGColorPickerPopup(); updateSelectedGridItem();" 
                 onchange="updateSelectedGridItem()"/>
        </div>
      </div>

      <div id="bg_color">
        <div class="top_label">BG Color 2</div>
        <div class="input_box">
          <input type="text" id="bg_color_2_input" value="" 
                 onfocus="showBGColor2Picker();" onblur="doCloseBGColor2PickerPopup(); updateSelectedGridItem();" 
                 onchange="updateSelectedGridItem()"/>
        </div>
      </div>

      <div id="text_color">
        <div class="top_label">Text Color</div>
        <div class="input_box">
          <input type="text" id="text_color_input" value="" 
                 onfocus="showFontColorPicker();" onblur="doCloseFontColorPickerPopup(); updateSelectedGridItem();"
                 onchange="updateSelectedGridItem()"/>
        </div>
      </div>

      <div id="text_size">
        <div class="top_label">Text Size</div>
        <div class="input_box">
          <select id="text_size_input" onchange="updateSelectedGridItem()">
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
            <option value="26">26</option>
            <option value="27">27</option>
            <option value="28">28</option>
            <option value="29">29</option>
            <option value="30">30</option>
          </select>
        </div>
      </div>

      <div id="hide_on_receipt">
        <div class="top_label">Hide On Receipt</div>
        <div class="input_box">

        </div>
      </div>

      <div id="is_addable">
        <div class="top_label">Is an Add-On</div>
        <div class="input_box">

        </div>
      </div>

      <div id="product_id">
        <div class="top_label">Product</div>
        <div class="input_box">
          <select id="product_id_input" onchange="updateSelectedGridItem()">
            <option value="-1">None</div>
            <% Product.non_deleted.each do |p| %>                     
              <option value="<%= p.id %>">
                <%= p.name %>
              </option>
            <% end %>
          </select>
        </div>
      </div>
      
      <div id="follow_grid_id">
        <div class="top_label">Follow Grid</div>
        <div class="input_box">
          <select id="follow_grid_id_input" onchange="updateSelectedGridItem()">
            <option value="-1">None</div>
            <% OrderItemAdditionGrid.all.each do |o| %>                     
              <option value="<%= o.id %>">
                <%= o.name %>
              </option>
            <% end %>
          </select>
        </div>
      </div>

    </div>

    <div class="clear">&nbsp;</div>

    <div id="keyboard"></div>

  </div>

</div>