<% content_for :head do %>
  <%= javascript_include_tag "admin_js/category" %>
<% end %>

<%= form_for([:admin, @category]) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
        <% @category.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div id="fields">
    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :parent_category_id %> (Optional)<br />
      <%= f.collection_select :parent_category_id, current_outlet.categories.find(:all), :id, :name, 
        :prompt => "Select a Category", :include_blank => "None" %>
    </div>
    <div class="field">
      <label for="category[selected_printers][]">Printers</label>

      <div class="clear">&nbsp;</div>

      <input id="select_printers_button" type="button" value="Select" onclick="showSelectPrintersDialog()"/>

      <% all_printers.each do |printer| %>
        <input type="checkbox" id="choose_printer_checkbox_<%= id_safe printer.id.to_s %>"
               name="category[selected_printers][]" value="<%= id_safe printer.id.to_s %>" 
               style="display: none;" <%= @category.printing_to_terminal?(id_safe(printer.id.to_s)) ? "checked" : "" %>/>
             <% end %>

      <!-- the following input is to make sure that we send the category[selected_printers] param when no printers are selected -->
      <input type="checkbox" id="choose_printer_checkbox_blank"
             name="category[selected_printers][]" value="" 
             style="display: none;" checked/>

      <div id="select_printers_markup" style="display: none;">
        <div class="select_printers_dialog">

          <div class="header">Select Printers</div>

          <div class="terminal_switches">
            <% all_printers.each do |printer| %>
              <div class="terminal_switch">
                <input type="checkbox" data-terminal_name="<%= id_safe printer.id.to_s %>"
                       onchange="printerSwitchToggle(this)"/>
                <div class="label"><%=printer.label%></div>
              </div>
              <div class="clear_top_margin_5">&nbsp;</div>
            <% end %>
          </div>

          <div class="button ok_button" onclick="hideSelectPrintersDialog()">Done</div>
        </div>
      </div>
      <div class="clear">&nbsp;</div>
    </div>
    <div class="field">
      <label for="category[selected_blocked_printers][]">Blocked Terminals</label>

      <div class="clear">&nbsp;</div>

      <input id="select_blocked_printers_button" type="button" value="Select" onclick="showSelectBlockedPrintersDialog()"/>

      <% all_terminals.each do |terminal_name| %>
        <input type="checkbox" id="choose_blocked_printer_checkbox_<%= id_safe terminal_name %>"
               name="category[blocked_printers][]" value="<%= id_safe terminal_name %>" 
               style="display: none;" <%= @category.blocked_printing_to_terminal?(id_safe(terminal_name)) ? "checked" : "" %>/>
             <% end %>

      <!-- the following input is to make sure that we send the category[blocked_selected_printers] param when no printers are selected -->
      <input type="checkbox" id="choose_blocked_printer_checkbox_blank"
             name="category[blocked_printers][]" value="" 
             style="display: none;" checked/>

      <div id="select_blocked_printers_markup" style="display: none;">
        <div class="select_blocked_printers_dialog">

          <div class="header">Select Blocked Terminals</div>

          <div class="terminal_switches">
            <% all_terminals.each do |terminal_name| %>
              <div class="terminal_switch">
                <input type="checkbox" data-terminal_name="<%= id_safe terminal_name%>"
                       onchange="blockedPrinterSwitchToggle(this)"/>
                <div class="label"><%=terminal_name%></div>
              </div>
              <div class="clear_top_margin_5">&nbsp;</div>
            <% end %>
          </div>

          <div class="button ok_button" onclick="hideSelectBlockedPrintersDialog()">Done</div>
        </div>
      </div>
      <div class="clear">&nbsp;</div>
    </div>
    <div class="field">
      <label for="category[selected_kitchen_screens][]">Screens</label>

      <div class="clear">&nbsp;</div>

      <input id="select_kitchen_screens_button" type="button" value="Select" onclick="showSelectKitchenScreensDialog()"/>

      <% all_terminals.each do |terminal_name| %>
        <input type="checkbox" id="choose_kitchen_screen_checkbox_<%= id_safe terminal_name %>"
               name="category[selected_kitchen_screens][]" value="<%= id_safe terminal_name %>" 
               style="display: none;" <%= @category.appearing_on_kitchen_screen?(id_safe(terminal_name)) ? "checked" : "" %>/>
             <% end %>

      <!-- the following input is to make sure that we send the category[selected_kitchen_screens] param when no kitchen_screens are selected -->
      <input type="checkbox" id="choose_kitchen_screen_checkbox_blank"
             name="category[selected_kitchen_screens][]" value="" 
             style="display: none;" checked/>

      <div id="select_kitchen_screens_markup" style="display: none;">
        <div class="select_kitchen_screens_dialog">

          <div class="header">Select Kitchen Screens</div>

          <div class="terminal_switches">
            <% all_terminals.each do |terminal_name| %>
              <div class="terminal_switch">
                <input type="checkbox" data-terminal_name="<%= id_safe terminal_name%>"
                       onchange="kitchenScreenSwitchToggle(this)"/>
                <div class="label"><%=terminal_name%></div>
              </div>
              <div class="clear_top_margin_5">&nbsp;</div>
            <% end %>
          </div>

          <div class="button ok_button" onclick="hideSelectKitchenScreensDialog()">Done</div>
        </div>
      </div>
      <div class="clear">&nbsp;</div>
    </div>
    <div class="field">
      <%= f.label :modifier_grid_id %><br/>
      <%= f.collection_select :order_item_addition_grid_id, current_outlet.order_item_addition_grids.find(:all), :id, :name, 
        :prompt => "Select a Modifier Grid", :include_blank => "None" %>
      <div class="clear">&nbsp;</div>
    </div>
    <div class="field">
      <%= f.label :prompt_for_covers %><br/>
      <%= f.check_box :prompt_for_covers %>
      <div class="clear">&nbsp;</div>
    </div>
    <div class="field">
      <%= f.label :order_item_addition_grid_id_is_mandatory %><br/>
      <%= f.check_box :order_item_addition_grid_id_is_mandatory %>
      <div class="clear">&nbsp;</div>
    </div>
    <div class="field">
      <%= f.label :description %><br />
      <%= f.text_field :description %>
    </div>
    <div class="field">
      <%= f.label :tax_rate_id %><br />
      <%= f.collection_select :tax_rate_id, current_outlet.tax_rates.find(:all), :id, :name_for_select, 
        :prompt => "Select a #{@tax_label} Rate", :include_blank => "Default" %>
    </div>
    <div class="field">
      <%= f.label :course_num, "Course" %><br />
      <%= f.select :course_num, options_for_select(GlobalSetting.course_options(current_outlet), @category.course_num) %>
    </div>
    <div id="actions">
      <%= f.submit %>
      <%= link_to "Back", admin_categories_path %>
    </div>
  </div>
<% end %>
