<% content_for :head do %>
  <%= javascript_include_tag "plugins/Colour.compressed", "plugins/ColourPicker.compressed", "admin_js/product_builder" %>
<% end %>

<%= form_for([:admin, @product], :html => { :multipart => true, :id => "product_builder_form" }) do |f| %>
  <div id="product_builder">

    <% if @product.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

        <ul>
          <% @product.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="action_buttons">
      <div class="button" data-onpress="goTo('<%=home_path%>#screen=menu');">
        <div class="icon">
          <%= image_tag "/images/button_logos/manage_sales_screen_button.png" %>
        </div>
        <div class="button_name">Sales Screen</div>
      </div>

      <div class="clear">&nbsp;</div>

      <div class="button" data-onpress="productBuilderShowMoreOptionsShortcut();">
        <div class="icon">
          <%= image_tag "/images/button_logos/more_options_button.png" %>
        </div>
        <div class="button_name">More Options</div>
      </div>

      <div class="clear">&nbsp;</div>

      <div class="button" data-onpress="productBuilderCancelClicked()">
        <div class="icon">
          <%= image_tag "/images/button_logos/cancel_button.png" %>
        </div>
        <div class="button_name">Cancel</div>
      </div>

      <div class="clear">&nbsp;</div>

      <div class="button" data-onpress="productBuilderOkClicked()">
        <div class="icon">
          <%= image_tag "/images/button_logos/ok_button.png" %>
        </div>
        <div class="button_name">Ok</div>
      </div>

      <div class="clear">&nbsp;</div>

      <div id="button_resizer">
        <div class="top_label">Button Size</div>

        <div id="width">
          <%= f.text_field :menu_button_width, {:size => 1} %>
          <div class="label">Wide</div>
          <div class="clear">&nbsp;</div>
        </div>

        <div class="clear">&nbsp;</div>

        <!--div id="height">
        <%= f.text_field :menu_button_height, {:size => 1} %>
          <div class="label">High</div>
          <div class="clear">&nbsp;</div>
        </div-->
      </div>
    </div>

    <div id="builder_fields_container">
      <div class="left_col">
        <div class="field">
          <div class="label">Name</div>
          <%= f.text_field :name %>
          <div class="clear">&nbsp;</div>
        </div>
        <div class="field">
          <div class="label">Category</div>
          <%= f.collection_select :category_id, Category.find(:all), :id, :name, 
            :prompt => "Select a Category", :include_blank => "None" %>
          <div class="clear">&nbsp;</div>
        </div>
        <div class="field">
          <div class="label">Standard Price</div>
          <%= f.text_field :price %>
          <div class="clear">&nbsp;</div>
        </div>
        <div class="field">
          <div class="label">Code No.</div>
          <%= f.text_field :code_num %>
          <div class="clear">&nbsp;</div>
        </div>
        <div class="field">
          <div class="label">UPC</div>
          <%= f.text_field :upc %>
          <div class="clear">&nbsp;</div>
        </div>
        <div class="field">
          <div class="label">Modifier Grid</div>
          <%= f.collection_select :order_item_addition_grid_id, OrderItemAdditionGrid.find(:all), :id, :name, 
            :prompt => "Select a Modifier Grid", :include_blank => "None" %>
          <div class="clear">&nbsp;</div>
        </div>
        <div class="field">
          <div class="label">Modifier Grid Mandatory?</div>
          <%= f.check_box :order_item_addition_grid_id_is_mandatory %>
          <div class="clear">&nbsp;</div>
        </div>
        <div class="field">
          <div class="label">Parent Product</div>
          <%= f.collection_select :parent_product_id, Product.find(:all), :id, :name, 
            :prompt => "Select a Product", :include_blank => "None" %>
          <div class="clear">&nbsp;</div>
        </div>
        <div class="field">
          <div class="label">Printers</div>
          <input id="select_printers_button" type="button" value="Select" onclick="showSelectPrintersDialog()"/>

          <% all_terminals.each do |terminal_name| %>
            <input type="checkbox" id="choose_printer_checkbox_<%= id_safe terminal_name %>"
                   name="product[selected_printers][]" value="<%= id_safe terminal_name %>" 
                   style="display: none;" <%= @product.printing_to_terminal?(id_safe(terminal_name)) ? "checked" : "" %>/>
                 <% end %>

          <!-- the following input is to make sure that we send the product[selected_printers] param when no printers are selected -->
          <input type="checkbox" id="choose_printer_checkbox_blank"
                 name="product[selected_printers][]" value="" 
                 style="display: none;" checked/>

          <div id="select_printers_markup" style="display: none;">
            <div class="select_printers_dialog">

              <div class="header">Select Printers</div>

              <div class="terminal_switches">
                <% all_terminals.each do |terminal_name| %>
                  <div class="terminal_switch">
                    <input type="checkbox" data-terminal_name="<%= id_safe terminal_name%>"
                           onchange="printerSwitchToggle(this)"/>
                    <div class="label"><%=terminal_name%></div>
                  </div>
                  <div class="clear_top_margin_5">&nbsp;</div>
                <% end %>
              </div>

              <div class="button ok_button" onclick="hideSelectPrintersDialog()">Done</div>
            </div>
          </div>
          <div class="clear">&nbsp;</div>
        </div>
        <div class="field">
          <div class="label">Product Active</div>
          <%= f.check_box :is_active %>
          <div class="clear">&nbsp;</div>
        </div>
        <div class="field">
          <div class="label">Qty in Stock</div>
          <%= f.text_field :quantity_in_stock, :disabled => true %>
          <div class="clear">&nbsp;</div>
        </div>
      </div>

      <div class="right_col">







      </div>

      <%= render 'product_extra_options', :f => f %>

      <div class="clear">&nbsp;</div>

      <div id="keyboard"></div>

    </div>
  </div>

  </div>
<% end %>