<%= form_for([:admin, @product], :html => { :multipart => true }) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% @product.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <!-- we may have came to this page directly from the menu builder screen -->
  <!-- we want to store the fact, so that when we update the product, we go back to that screen -->
  <input type="hidden" name="back_builder_screen_id" value="<%=params[:back_builder_screen_id]%>"/>
  
  <div id="fields">
    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :brand %><br />
      <%= f.text_field :brand %>
    </div>
    <div class="field">
      <%= f.label :category_id %><br />
      <%= f.collection_select :category_id, Category.find(:all), :id, :name, 
        :prompt => "Select a Category", :include_blank => "None" %>
    </div>
    <div class="field">
      <%= f.label :price %><br />
      <%= f.text_field :price %>
    </div>
    <div class="field">
      <%= f.label :description %><br />
      <%= f.text_field :description %>
    </div>
    <div class="field">
      <%= f.label :size %><br />
      <%= f.text_field :size %>
    </div>
    <div class="field">
      <%= f.label :unit %><br />
      <%= f.text_field :unit %>
    </div>
    <div class="field">
      <%= f.label :items_per_unit %><br />
      <%= f.text_field :items_per_unit %>
    </div>
    <div class="field">
      <%= f.label :tax_rate_id %><br />
      <%= f.collection_select :tax_rate_id, TaxRate.find(:all), :id, :name_for_select, 
        :prompt => "Select a Tax Rate", :include_blank => "Default" %>
    </div>
    <div class="field">
      <%= f.label :product_image %><br />
      <div class="product_image">
        <p class="label">Current:</p>
        <%= product_image_thumb(@product, true) %>
        <% if @product.has_product_image? %>
          <%= check_box_tag :delete_product_image, false %>
          Delete?
        <% end %>
      </div>
      <p>
        <%= f.file_field :product_image %>
      </p>
    </div>
    <div class="field">
      <%= f.label :modifier_category_id, "Link a Modifier Category" %><br />
      <%= f.collection_select :modifier_category_id, ModifierCategory.find(:all), :id, :name, 
        :prompt => "Select Modifier Category", :include_blank => "None" %>
    </div>
    <div id="actions">
      <%= f.submit %>
      <%= link_to "Back", :back %>
    </div>
  </div>

<% end %>
