<div id="product_image_selection_dialog" >
    <div id="container">
    <% @first_letters.each do |letter| %>
        <div class="letter_pagination">
            <div onclick="loadCurrentImages('<%= letter %>')" class="popup_button">
                <% if letter == params[:letter] %>
                    <b><u><%= letter %></u></b>
                <% else %>
                    <b><%= letter %></b>
                <% end %>
            </div>
        </div>

    <% end %>
    </div>
    <br>
    <div id="container_images" class="jscrollpane">
    <% @selected_images.each do |image_name, data| %>
        <div class="image" onclick="productImageSelected(this, '<%=data[:image]%>');">
            <%= image_tag "product_images/#{data[:image]}" %><br>
            <%= data[:name] %>
        </div>
    <% end %>
</div>
    <div id="container_spinner" >
      <img src="/images/spinner.gif" alt="">
</div>    
</div>
