
<div class="extra_options">
  <div id="extra_options_tabs" class="text_only_tabs">
    <div class="text_only_tab" id="extra_options_tab_general" onclick="extraOptionsGeneralSelected();">
      <div class="label">General</div>
    </div>
    <div class="text_only_tab" id="extra_options_tab_appearance" onclick="extraOptionsAppearanceSelected();">
      <div class="label">Appearance</div>
    </div>
    <div class="text_only_tab" id="extra_options_tab_options" onclick="extraOptionsOptionsSelected();">
      <div class="label">Options</div>
    </div>
    <div class="text_only_tab" id="extra_options_tab_stock" onclick="extraOptionsStockSelected();">
      <div class="label">Stock</div>
    </div>
    <div class="text_only_tab" id="extra_options_tab_ingredients" onclick="extraOptionsIngredientsSelected();">
      <div class="label">Ingredients</div>
    </div>
    <div class="clear">&nbsp;</div>
  </div>

  <div id="general_tab_content" class="tab_content" style="display: none;">
    <div class="left_col">
      <div class="field">
        <div class="label">Double Price</div>
        <%= f.text_field :double_price %>
        <div class="clear">&nbsp;</div>
      </div>
      <div class="field">
        <div class="label">
          <%= GlobalSetting.parsed_setting_for GlobalSetting::PRICE_LEVEL_LABEL, {:price_level => 2} %>
        </div>
        <%= f.text_field :price_2 %>
        <div class="clear">&nbsp;</div>
      </div>
      <div class="field">
        <div class="label">
          <%= GlobalSetting.parsed_setting_for GlobalSetting::PRICE_LEVEL_LABEL, {:price_level => 3} %>
        </div>
        <%= f.text_field :price_3 %>
        <div class="clear">&nbsp;</div>
      </div>
      <div class="field">
        <div class="label">
          <%= GlobalSetting.parsed_setting_for GlobalSetting::PRICE_LEVEL_LABEL, {:price_level => 4} %>
        </div>
        <%= f.text_field :price_4 %>
        <div class="clear">&nbsp;</div>
      </div>
      <div class="field">
        <div class="label">Margin &#37;</div>
        <%= f.text_field :margin_percent %>
        <div class="clear">&nbsp;</div>
      </div>
      <div class="field">
        <div class="label">Cost Price</div>
        <%= f.text_field :cost_price %>
        <div class="clear">&nbsp;</div>
      </div>
      <div class="field">
        <div class="label">Brand</div>
        <%= f.text_field :brand %>
        <div class="clear">&nbsp;</div>
      </div>
      <div class="field">
        <div class="label">Description</div>
        <%= f.text_field :description %>
        <div class="clear">&nbsp;</div>
      </div>
      <div class="field">
        <div class="label"><%=@tax_label%> Rate</div>
        <%= f.collection_select :tax_rate_id, TaxRate.find(:all), :id, :name_for_select, 
          :prompt => "Select a #{@tax_label} Rate", :include_blank => "Default" %>
        <div class="clear">&nbsp;</div>
      </div>
      <div class="field">
        <div class="label">Course</div>
        <%= f.select :course_num, options_for_select(GlobalSetting.course_options, @product.course_num) %>
      </div>
    </div>
    <div class="right_col">
      <div class="field">
        <div class="label">Unit of Measure</div>
        <%= f.text_field :unit %>
      </div>
      <div class="field">
        <div class="label">Unit Size</div>
        <%= f.text_field :size %>
        <div class="clear">&nbsp;</div>
      </div>
      <div class="field">
        <div class="label">Qty per Container</div>
        <%= f.text_field :items_per_unit %>
        <div class="clear">&nbsp;</div>
      </div>
      <div class="field">
        <div class="label">Container Type</div>
        <%= f.collection_select :container_type_id, Category.find(:all), :id, :name, 
          :prompt => "Select a Category", :include_blank => "None" %>
        <div class="clear">&nbsp;</div>
      </div>
      <div class="field">
        <div class="label">Shipping</div>
        <%= f.text_field :cost_price %>
        <div class="clear">&nbsp;</div>
      </div>
      <div class="field">
        <div class="label">Comission &#37;</div>
        <%= f.text_field :cost_price %>
        <div class="clear">&nbsp;</div>
      </div>
      <div class="field">
        <div class="label">Menu 1</div>
        <%= f.select :menu_page_1_id, MenuPage.select_opts, :prompt => "Select a Menu"%>
        <div class="clear">&nbsp;</div>
      </div>
      <div class="field">
        <div class="label">Menu 2</div>
        <%= f.select :menu_page_2_id, MenuPage.select_opts, :prompt => "Select a Menu" %>
        <div class="clear">&nbsp;</div>
      </div>
      <div class="field">
        <div class="label">Modifier</div>
        <%= f.collection_select :modifier_category_id, ModifierCategory.find(:all), :id, :name, 
          :prompt => "Select a Modifier", :include_blank => "None" %>
        <div class="clear">&nbsp;</div>
      </div>
    </div>
  </div>

  <div id="options_tab_content" class="tab_content" style="display: none;">
    <div class="left_col">
      <div class="field">
        <div class="label">Service</div>
        <%= f.check_box :is_service %>
        <div class="clear">&nbsp;</div>
      </div>
      <div class="field">
        <div class="label">Price Prompt</div>
        <%= f.check_box :show_price_prompt %>
        <div class="clear">&nbsp;</div>
      </div>
      <div class="field">
        <div class="label">Qty Prompt</div>
        <%= f.check_box :show_quantity_prompt %>
        <div class="clear">&nbsp;</div>
      </div>
      <div class="field">
        <div class="label">Serial No. Prompt</div>
        <%= f.check_box :show_serial_num_prompt %>
        <div class="clear">&nbsp;</div>
      </div>
      <div class="field">
        <div class="label">Add Note Prompt</div>
        <%= f.check_box :show_add_note_prompt %>
        <div class="clear">&nbsp;</div>
      </div>
      <div class="field">
        <div class="label">Sell If Out Of Stock</div>
        <%= f.check_box :sell_if_out_of_stock %>
        <div class="clear">&nbsp;</div>
      </div>
    </div>
    <div class="right_col">
      <div class="field">
        <div class="label">Show On Web</div>
        <%= f.check_box :show_on_web %>
        <div class="clear">&nbsp;</div>
      </div>
      <div class="field">
        <div class="label">Notify Stock Manager</div>
        <%= f.check_box :notify_stock_manager %>
        <div class="clear">&nbsp;</div>
      </div>
      <div class="field">
        <div class="label">Use Weigh Scales</div>
        <%= f.check_box :use_weigh_scales %>
        <div class="clear">&nbsp;</div>
      </div>
      <div class="field">
        <div class="label">Daily Special</div>
        <%= f.check_box :is_special %>
        <div class="clear">&nbsp;</div>
      </div>
      <div class="field">
        <div class="label">Hide On Printed Receipt?</div>
        <%= f.check_box :hide_on_printed_receipt %>
        <div class="clear">&nbsp;</div>
      </div>
      <div class="field">
        <div class="label">Stock Item</div>
        <%= f.check_box :is_stock_item %>
        <div class="clear">&nbsp;</div>
      </div>
    </div>
  </div>

  <div id="appearance_tab_content" class="tab_content" style="display: none;">
    <div class="left_col">
      <div class="field">
        <div class="label">Line 1</div>
        <%= f.text_field :button_text_line_1 %>
        <div class="clear">&nbsp;</div>
      </div>
      <div class="field">
        <div class="label">Line 2</div>
        <%= f.text_field :button_text_line_2 %>
        <div class="clear">&nbsp;</div>
      </div>
      <div class="field">
        <div class="label">Line 3</div>
        <%= f.text_field :button_text_line_3 %>
        <div class="clear">&nbsp;</div>
      </div>
      <div class="field">
        <div class="label">Background Color 1</div>
        <%= f.text_field :button_bg_color, {
          :id => "button_bg_color_input", 
          :onfocus => "productBuidlerShowBgColorPicker()", 
          :onblur => "productBuidlerHideBgColorPicker()"} %>
        <div class="clear">&nbsp;</div>
      </div>
      <div class="field">
        <div class="label">Background Color 2</div>
        <%= f.text_field :button_bg_color_2, {
          :id => "button_bg_color_2_input", 
          :onfocus => "productBuidlerShowBgColor2Picker()", 
          :onblur => "productBuidlerHideBgColor2Picker()"} %>
        <div class="clear">&nbsp;</div>
      </div>
      <div class="field">
        <div class="label">Text Color</div>
        <%= f.text_field :button_text_color, {
          :id => "button_text_color_input", 
          :onfocus => "productBuidlerShowTextColorPicker()", 
          :onblur => "productBuidlerHideTextColorPicker()"} %>
        <div class="clear">&nbsp;</div>
      </div>
      <!--div class="field">
        <div class="label">Vertical Align</div>
      <%= f.select :button_vertical_align, %w[Top Middle Bottom] %>
        <div class="clear">&nbsp;</div>
      </div-->
      <div class="field">
        <div class="label">Image</div>
        <div class="product_image_preview">
          <%= product_image_thumb(@product, true) %>
        </div>
      </div>
      <div class="clear">&nbsp;</div>
      <div class="field">
        <div class="label">Choose Image</div>
        <div data-onpress="openChooseProductImageDialog();" class="button" id="choose_image_button">Select</div>
        <input type="hidden" id="display_image" name="product[display_image]" value="<%=@product.display_image%>"/>
      </div>
      <div class="field">
        <div class="label">or Upload Image</div>
        <div id="product_image_input_container">
          <%= f.file_field :product_image %>
          <div class="fakefile">
            <input/>
          </div>
          <!-- 
          <% if @product.has_product_image? %>
                                                <p class="label">Select to Delete Image:</p>
            <%= check_box_tag :delete_product_image, false %>
          <% end %>
          -->
        </div>
        <div class="clear">&nbsp;</div>
      </div>
    </div>
    <div class="left_col">
      <div class="field">
        <div class="label">Show Image</div>
        <%= f.check_box :show_button_image %>
        <div class="clear">&nbsp;</div>
      </div>
      <div class="field">
        <div class="label">Show Price On Receipt?</div>
        <%= f.check_box :show_price_on_receipt %>
        <div class="clear">&nbsp;</div>
      </div>
    </div> 
  </div>

  <div id="stock_tab_content" class="tab_content" style="display: none;">
    <div class="field">
      <div class="label">Minimum Qty</div>
      <%= f.text_field :minimum_quantity %>
      <div class="clear">&nbsp;</div>
    </div>
    <div class="field">
      <div class="label">Order Qty</div>
      <%= f.text_field :order_quantity %>
      <div class="clear">&nbsp;</div>
    </div>
    <div class="field">
      <div class="label">Supplier 1</div>
      <%= f.collection_select :supplier_1_id, Category.find(:all), :id, :name, 
        :prompt => "Select a Category", :include_blank => "None" %>
      <div class="clear">&nbsp;</div>
    </div>
    <div class="field">
      <div class="label">Supplier 1 Cost</div>
      <%= f.text_field :supplier_1_cost %>
      <div class="clear">&nbsp;</div>
    </div>
    <div class="field">
      <div class="label">Supplier 1 Code No.</div>
      <%= f.text_field :supplier_1_code_num %>
      <div class="clear">&nbsp;</div>
    </div>
    <div class="field">
      <div class="label">Supplier 2</div>
      <%= f.collection_select :supplier_2_id, Category.find(:all), :id, :name, 
        :prompt => "Select a Category", :include_blank => "None" %>
      <div class="clear">&nbsp;</div>
    </div>
    <div class="field">
      <div class="label">Supplier 2 Cost</div>
      <%= f.text_field :supplier_2_cost %>
      <div class="clear">&nbsp;</div>
    </div>
    <div class="field">
      <div class="label">Supplier 2 Code No.</div>
      <%= f.text_field :supplier_2_code_num %>
      <div class="clear">&nbsp;</div>
    </div>
  </div>

  <div id="ingredients_tab_content" class="tab_content" style="display: none;">

    <div class="product_header">Product Name</div>
    <div class="uses">uses</div>
    <div class="quantity_header">Quantity</div>

    <div class="clear_top_margin_10">&nbsp;</div>

    <% @product.ingredients.each_with_index do |ingredient, index| %>
      <div class="ingredient">
        <%= fields_for "product[#{ingredient.new_record? ? "" : "existing_"}ingredient_products][]", ingredient do |ingredient_form| %>

          <div class="product">
            <%= ingredient_form.select :product_id, options_for_select((Product.product_options_for_select @product.id), ingredient.product_id) %>
          </div>

          <%= ingredient_form.hidden_field :ingredient_product_id, {:value => @product.id} %>

          <div class="quantity">
            <%= ingredient_form.text_field :quantity_numerator, :id => "quantity_numerator_#{index}", :size => 2, :onkeyup => "updateStockCalculation(#{index});" %> /
            <%= ingredient_form.text_field :quantity_denominator, :id => "quantity_denominator_#{index}", :size => 2, :onkeyup => "updateStockCalculation(#{index});" %>
          </div>

          <div id="stock_calculation_<%=index%>" class="calculation">
            = <%=ingredient.stock_usage.round(3)%>
          </div>
        <% end %>
      </div>
      <div class="clear">&nbsp;</div>
    <% end %>
  </div>
</div>