<% @nav_title = "Products" %>

  <% content_for :admin_subnav_links_left do %>
    <div class="button" onclick="goTo('<%= new_admin_product_path %>');">
      <div class="icon">
        <%= image_tag "/images/button_logos/create_product_button.png" %>
      </div>
      <div class="button_name">Create Product</div>
    </div>
  <% end %>

  <div id="admin_product_list">

    <section id="products">

      <div class="pagination_links">
        <div class="links">
          <div class="pagination">
          <a href="#" onclick="loadProductsForPreviousLetter();"><%= image_tag("prev.gif", :border=>0) %></a>
          <% ('A'..'Z').each do |letter|%>
              <a href="#" onclick="loadProductsForLetter('<%= letter %>');">
                <%= letter %>
              </a>
          <% end %>
          <a href="#" onclick="loadProductsForNumber();">#</a>
          <a href="#" onclick="loadProductsForNextLetter();"><%= image_tag("next.gif", :border=>0) %></a>
          </div>
        </div>
      </div>

      <div class="clear_top_margin_20">&nbsp;</div>

      <%= hidden_field_tag 'current_letter', @selected_letter %>

      <div id="products_ajax"><%= render 'products' %></div>

      <div class="clear_top_margin_20">&nbsp;</div>

    </section>
  </div>
