<% @nav_title = "Products" %>

<% content_for :admin_subnav_links_left do %>
  <div class="button" data-onpress="goTo('<%= new_admin_product_path %>');">
    <div class="icon">
      <%= image_tag "/images/button_logos/create_product_button.png" %>
    </div>
    <div class="button_name">Add Product</div>
  </div>

  <div class="button" data-onpress="goTo('<%= csv_import_admin_products_path %>');">
    <div class="icon">
      <%= image_tag "/images/button_logos/import_products_button.png" %>
    </div>
    <div class="button_name">Import Products</div>
  </div>

  <div class="button" data-onpress="window.location = '<%= admin_products_path(:format => :csv) %>';">
    <div class="icon">
      <%= image_tag "/images/button_logos/export_products_button.png" %>
    </div>
    <div class="button_name">Export All Products</div>
  </div>

<% end %>

<% content_for :head do %>
  <script type="text/javascript">
    $(function() {
      <% if params[:show_specials_only] %>
        $('#is_special_equals').attr("checked", true);
        doClickAButton($('#submit_search_button'));
      <% end %>
  
      settingStateFields();
    });
  </script>
<% end %>

<div id="admin_product_list">

  <%= hidden_field_tag 'current_letter', @selected_letter %>

  <div id="search_fields_container">
    <div class="left_col">
      <div class="field">
        <div class="label">Code No./UPC</div>
        <%= text_field_tag :code_num_equals, @session_code_num_upc %>
        <div class="clear">&nbsp;</div>
      </div>
      <div class="field">
        <div class="label">Name</div>
        <%= text_field_tag :name_contains, @session_name %>
        <div class="clear">&nbsp;</div>
      </div>
    </div>
    <div class="center_col">
      <div class="field">
        <div class="label">Category</div>
        <%= collection_select :category_id, :equals, current_outlet.categories.find(:all), :id, :name, options = {:include_blank => "Any", :selected => @session_category} %>
        <div class="clear">&nbsp;</div>
      </div>
    </div>

    <div class="right_col">
      <div class="field">
        <div class="label">Search All Fields</div>
        <%= text_field_tag :all_fields, @session_all_fields %>
        <div class="clear">&nbsp;</div>
      </div>
      <div class="field">
        <div class="label">Daily Special</div>
        <%= check_box_tag :is_special_equals, @session_is_specials, @session_is_specials, :class => 'filterCheck' %>
        <div id="deleted">
          <div class="label">Deleted</div>
          <%= check_box_tag :is_deleted_equals, @session_is_deleted, @session_is_deleted, :class => 'filterCheck' %>
        </div>
      </div>
    </div>

    <div class="button_col">
      <div class="button" id="submit_search_button" data-onpress="runSearch();">
        <div class="icon">
          <%= image_tag "/images/search.png" %>
        </div>
        <div class="button_name">Search</div>
      </div>
    </div>

    <div class="clear">&nbsp;</div>
  </div>

  <section id="products" class="no_scroll_pane">

    <div class="pagination_links">
      <div class="links">
        <div class="pagination">
          <a href="#" onclick="loadProductsForPreviousLetter();"><%= image_tag("prev.gif", :border=>0) %></a>
          <a href="#" onclick="loadProductsForAllLetters();" id="button_all">All</a>
          <% @letters.each do |letter|%>
            <a href="#" onclick="loadProductsForLetter('<%= letter %>');" id="button_<%= letter %>">
              <%= letter %>
            </a>
            <script type="text/javascript">if(barLetters.indexOf('<%= letter %>')==-1){barLetters.push('<%= letter %>')};</script>
          <% end %>
          <a href="#" onclick="loadProductsForNumber();" id="button_hash">#</a>
          <a href="#" onclick="loadProductsForNextLetter();"><%= image_tag("next.gif", :border=>0) %></a>
        </div>
      </div>
    </div>

    <div class="clear_top_margin_20">&nbsp;</div>    

    <div id="products_container" class="jscrollpane">
      <div id="products_ajax">
        <%= render 'products' %>
      </div>
    </div>

    <div class="clear_top_margin_20">&nbsp;</div>

</div>

</section>
