<% @nav_title = "Products" %>

<% content_for :admin_subnav_links_left do %>
  <div class="button" onclick="goTo('<%= new_admin_product_path %>');">
    <div class="icon">
      <%= image_tag "/images/button_logos/create_product_button.png" %>
    </div>
    <div class="button_name">Create Product</div>
  </div>
<% end %>

<div id="admin_product_list">

  <section id="products">

    <div class="pagination_links">
      <div class="links">
        <%= will_paginate @products %>
      </div>
      <!--div class="info">
        <%= page_entries_info @posts %>
      </div-->
    </div>

    <div class="clear_top_margin_20">&nbsp;</div>

    <table id="product_list" class="admin_table">
      <thead>
        <tr>
          <th width="60">Image</th>
          <th width="160">Name</th>
          <th width="180">Brand</th>
          <th width="130">Category</th>
          <th width="60">Price</th>
          <th width="50">Delete</th>
        </tr>
      </thead>

      <tbody>
        <% @products.each do |product| %>
          <tr>
            <td class="product_image">
              <div class="product_image_container">
                <%= link_to product_image_thumb(product, true), edit_admin_product_path(product) %>
              </div>
            </td>
            <td><%= link_to product.name, edit_admin_product_path(product) %></td>
            <td><%= product.brand %></td>
            <td><%= link_to product.category.name, admin_category_path(product.category) if product.category %></td>
            <td>
              <div class="product_price" id="product_price_<%=product.id%>" ondblclick="updateProductPrice(<%=product.id%>, '<%=number_with_precision product.price, :precision => 2 %>')">
                <%= print_money product.price %>
              </div>
            </td>
            <td><%= link_to "Delete", admin_product_path(product), :method => :delete, :confirm => "Are You Sure?" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <div class="clear_top_margin_20">&nbsp;</div>

    <div class="pagination_links">
      <div class="links">
        <%= will_paginate @products %>
      </div>
      <!--div class="info">
        <%= page_entries_info @posts %>
      </div-->
    </div>

  </section>
</div>