<div id="admin_product_list">

  <section id="products">

    <h3>Products</h3>

    <table id="product_list" style="display: none;">
      <thead>
        <tr>
          <th width="50">&nbsp;</th>
          <th width="200">Name</th>
          <th width="200">Brand</th>
          <th width="170">Category</th>
          <th width="60">Price</th>
          <th width="60">Size</th>
          <th width="50">Unit</th>
          <th width="70">Items per unit</th>
          <th width="80">Sales tax rate</th>
        </tr>
      </thead>

      <tbody>
        <% @products.each do |product| %>
          <tr>
            <td class="product_image">
              <%= link_to product_image_thumb(product, true), edit_admin_product_path(product) %>
            </td>
            <td><%= link_to product.name, edit_admin_product_path(product) %></td>
            <td><%= product.brand %></td>
            <td><%= link_to product.category.name, admin_category_path(product.category) %></td>
            <td><%= print_money product.price %></td>
            <td><%= product.size %></td>
            <td><%= product.unit %></td>
            <td><%= product.items_per_unit %></td>
            <td><%= product.sales_tax_rate %>%</td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br />

    <div id="actions">
      <%= button_to 'New Product', new_admin_product_path, :method => :get %>
    </div>

  </section>
</div>