<div id="show_product">

  <h3>Product Info</h3>

  <section id="product_info">
    <p>
      <b>Name:</b>
      <%= @product.name %>
    </p>

    <p>
      <b>Brand:</b>
      <%= @product.brand %>
    </p>

    <p>
      <b>Category:</b>
      <%= link_to @product.category.name, admin_category_path(@product.category) if @product.category %>
    </p>

    <p>
      <b>Description:</b>
      <%= @product.description %>
    </p>

    <p>
      <b>Price:</b>
      <%= print_money @product.price %>
    </p>

    <p>
      <b>Size:</b>
      <%= @product.size %>
    </p>

    <p>
      <b>Unit:</b>
      <%= @product.unit %>
    </p>

    <p>
      <b>Items per unit:</b>
      <%= @product.items_per_unit %>
    </p>

    <p>
      <b>Sales tax rate:</b>
      <%= number_to_percentage(@product.sales_tax_rate, :precision => 0) %>
    </p>

    <p>
      <b>Modifier Category:</b>
      <%= link_to @product.modifier_category.name, admin_modifier_category_path(@product.modifier_category) if @product.modifier_category %>
    </p>

    <p>
      <b>Product Image:</b>
    </p>
    
    <p class="product_image">
      <%= product_image_thumb @product, true %>
    </p>

    <div id="actions">
      <%= button_to 'Edit', edit_admin_product_path(@product), :method => :get %>
      <%= link_to "Back", admin_products_path %>
    </div>

  </section>
</div>