<h1>New Terminal For Outlet <%= @outlet.name %></h1>

<%= form_for @outlet_terminal, :url => create_terminal_accounts_outlet_path(@outlet) do |f| %>
  <% if @outlet_terminal.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @outlet_terminal.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :outlet_id %>

  <p>
    <%= f.label :name, :label => "Terminal Name" %><br />
    <%= f.text_field :name %>
  </p>
  
  <p>
    <%= f.label :terminal_type, :label => "Terminal Type" %><br />
    <%= f.select :terminal_type, options_for_select(OutletTerminal.terminal_types_for_select, @outlet_terminal.terminal_type) %>
  </p>

  <p class="button"><%= f.submit "Create Terminal" %></p>
<% end %>