<h1>Info For Outlet: <%= @outlet.name.titleize %></h1>

<h2>Terminals:</h2>

<% @outlet.outlet_terminals.each do |terminal| %>
  <%= terminal.name %> 

  <% if terminal.assigned %> 
    <a href="#" onclick="unlinkTerminal(<%= @outlet.id %>, '<%= terminal.name %>')">(Unlink)</a>
  <% end %>

  </br>
<% end %>

</br></br></br>

<%= link_to "Add Terminal", new_terminal_accounts_outlet_path(@outlet) %>
