<title>Pos</title>

<%= stylesheet_links "shared/", "interfaces/medium_screen/", :recursive => true, :cache => "cache/medium_screen_styles" %>

<!-- load the dynamic theme -->
<link type="text/css" href="<%= admin_custom_theme_path(:format => :css) %> " media="screen" rel="stylesheet" />

<%= render "/partials/shared_js_includes" %>

<!-- application specific js -->
<%= javascript_include_tag "rails", "interfaces/medium_screen/application", 
  "interfaces/medium_screen/menu", "interfaces/medium_screen/util",
  "touch/touch_util", "touch/on_touch_click_replace", "interfaces/medium_screen/screen_button_functions",
  "interfaces/medium_screen/receipt_html_functions", :cache => "cache/medium_screen" %>

<%= csrf_meta_tag %>

<!-- must set some vars from the system settings -->
<%= render :partial => "/partials/js_global_settings" %>

<%= yield :head %>

<!-- disable the double tap to zoom -->
<meta name="viewport" content="user-scalable=0;" />

<meta http-equiv="pragma" content="no-cache"/>