<title>Pos</title>

<%= render "/partials/interfaces/medium_screen/assets" %>

<%= csrf_meta_tag %>

<!-- must set some vars from the system settings -->
<%= render :partial => "/partials/interfaces/shared/js_global_settings" %>

<%= yield :head %>

<%= render "/partials/interfaces/shared/shared_head_meta_tags" %>
