<nav id="main_nav">
  <div id="business_name"><%=GlobalSetting.parsed_setting_for GlobalSetting::BUSINESS_NAME%></div>
  <div id="e_name" <%= session[:current_employee_nickname] ? "" : "style='display: none;'" %>><%= session[:current_employee_nickname] %></div>
  <div id="terminal_id"><%= @terminal_id %></div>
  <div id="date"><%= Time.now().strftime("%m %b") %></div>
  <div id="clock"></div>
  
  <div style="display: none;" id="nav_save_button" onclick="doLogout();">
    <%= image_tag "exit.gif" %>
  </div>

  <div class="clear">&nbsp;</div>
</nav>