<!DOCTYPE html>
<html>
  <head>
    <title>Cluey - POS</title>
    
    <%= render "/partials/accounts/shared/assets" %> 
  </head>
  <body>

    <div id="wrapper">
      <div id="header">

        <div id="header_logo">
          <%= link_to image_tag("accounts/header_logo.png"), accounts_accounts_path %>
        </div>

        <div id="login_info">
          Logged in as <%= current_cluey_account.name %>.
            <%= link_to "Log out", account_log_out_url %>
        </div>
        
        <div id="navigation">
          
        </div>
      </div>

      <div id="flash">
        <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
        <% end %>
      </div>

      <div id="content">
        <%= yield %>
      </div>

      <div id="footer">

      </div>
    </div>
  </body>
</html>