<!DOCTYPE html>
<html>
  <head>

    <%= render :partial => "/partials/interfaces/large_screen/common_head" %>
    <%= javascript_include_tag "admin_js/admin" %>
    <%= javascript_include_tag "plugins/tiny_mce/tiny_mce" %>

    <script type="text/javascript">
    tinyMCE.init({
        mode : "specific_textareas",
        mceEditor : "mceEditor",
        theme : "simple",
        setup : function(ed) {
                ed.onKeyUp.add(function(ed, e) {
                    txt = tinyMCE.activeEditor.getContent();
                    //strip the html
                    txt = txt.replace(/(<([^>]+)>)/ig,"");
                    txt = txt.replace(/ /g,"");
                    if (txt.length > 200) {
                          txt = txt.substring(0,200);
                          tinyMCE.execCommand('mceSetContent',false,txt);
                  }
                });
             }
    });

    function writeLen(len, maxlength){
        document.getElementById('spaceleft').value=maxlength-len;
        document.getElementById('space').value=maxlength;
    }
    </script>

  </head>
  <body>
    <div id="wrapper" class="wrapper admin large_interface">
      <div id="body">
        <%= render :partial => "/partials/interfaces/large_screen/nav" %>

        <script type="text/javascript">
          $(function() {
            <% [:notice, :warning, :error].collect do |key| %>
              <%= "niceAlert('#{flash[key].html_safe}');" unless flash[key].blank? %>
            <% end %>
          });
        </script>
        
        <div id="content_container">
          <div id="admin_content_screen">
            <%= render :partial => "/partials/interfaces/large_screen/admin_nav" unless @hide_admin_header %>
            <%= yield %>
          </div>

          <%= render "/home/interfaces/large_screen/screens/admin_shortcut_more_options_screen" %>
        </div>
      </div>
    </div>

    <!-- iframe to print in -->
    <%= render "/partials/interfaces/shared/print_frame" %>

    <%= render :partial => "/partials/interfaces/large_screen/common_footer" %>

  </body>
</html>