<!DOCTYPE html>
<html>
  <head>
    <%= render :partial => "/partials/common_head" %>
    <%= javascript_include_tag "admin" %>
  </head>
  <body>

    <div id="wrapper" class="wrapper admin">
      <div id="body">
        <%= render :partial => "/partials/nav" %>

        <div id="content_container">
          <%= render :partial => "/partials/admin_nav" unless @hide_admin_header %>

          <%= yield %>
        </div>
      </div>

    </div>
    
    <%= render :partial => "/partials/common_footer" %>

  </body>
</html>