<!DOCTYPE html>
<html <%= development_mode? ? "" : "manifest='cache_manifest'" %>>
  <head>
    <!-- include the head form the large interface -->
    <%= render :partial => "/partials/interfaces/large_screen/common_head" %>

    <%= render :partial => "/partials/mobile_assets" %>

  </head>

  <body class="mobile">

    <div id="jqt">
      <%= yield %>
    </div>

    <%= render "/partials/interfaces/shared/end_page_js" %>

  </body>

</html>
