<!DOCTYPE html>
<html>
  <head>
    <%= render :partial => "/partials/interfaces/large_screen/common_head" %>
    <%= javascript_include_tag "rails", "reports/reports.js", :cache => "cache/reports" %>
    <%= javascript_include_tag :high_charts %>
  </head>
  <body>
    <div id="wrapper" class="wrapper admin large_interface">
      <div id="body">
        <%= render :partial => "/partials/interfaces/large_screen/nav" %>

        <script type="text/javascript">
          $(function() {
            <% [:notice, :warning, :error].collect do |key| %>
              <%= "niceAlert('#{flash[key].html_safe}');" unless flash[key].blank? %>
            <% end %>
          });
        </script>

        <div id="content_container">
          <div id="admin_content_screen">
            <%= yield %>
          </div>

        </div>
      </div>
    </div>
  </body>
</html>
