<% if session[:preselect] != -1 %>
    <% unless params[:action] == "payments_print" %>
        <div id="options_menu">
            <div class="option" onclick="setPaymentSelect(-1)" class="print_box">
                <div style="float: left;"><img src="/images/button_logos/home.png" alt="Print" width="24" height="24"/>
                </div>
                <div style="float: left; margin-top: 6px;margin-left: 2px">
                    <span style="font-weight: bold; margin-top: -3px;">  Home  |</span></div>
            </div>
            <div class="option" onclick="window.location = '/reports/payments/payments_print'" class="print_box">
                <div style="float: left;"><img src="/images/button_logos/print.png" alt="Print" width="24" height="24"/>
                </div>
                <div style="float: left; margin-top: 6px;margin-left: 2px">
                    <span style="font-weight: bold; margin-top: -3px;">  Print  |</span></div>
            </div>
            <div class="option" onclick="window.location = '/reports/payments/export_excel'" class="excel_box">
                <div style="float: left;">
                    <img src="/images/button_logos/excel.png" alt="Export to Excel" width="24" height="24"/></div>
                <div style="float: left; margin-top: 6px;margin-left: 2px">
                    <span style="font-weight: bold; margin-top: -3px;">  Excel </span></div>
            </div>
        </div>
    <% end %>
    <div id="payments_items_graph" style="display: none">
        <div id="spacer" style="height:70px;"></div>
        <%= high_chart("graph_container_sales", @h) %>
    </div>


    <div id="payments_items" >
        <% if params[:action] == "payments_print" %>
            <h3>Payments Report <%= Time.now.strftime("%B %d, %Y") %></h3>
        <% end %>

        <% if (@s_type == :day) || (@s_type == :month) || (@s_type == :week) || (@s_type == :year) %>

            <table id="product_list" class="admin_table" style="width: 100%">
                <thead>
                <th class="header">Date</th>
                <th class="header">Day</th>
                <th class="header"></th>
                <th class="header"></th>
                <th class="header"></th>
                <th class="header">Total</th>
                <th class="header">Discount</th>
                <th class="header">Amount Paid</th>
                </thead>
                <% total_items = 0 %>
                <% @orders.each do |week| %>


                    <tbody>
                    <tr>
                        <td>
                           <% if @s_type == :day %>
                                <%= week.created_at.strftime("%B %d, %Y") %>
                            <% end %>
                            <% if @s_type == :week %>
                                Week starting <%= week.created_at.beginning_of_week.strftime("%B %d, %Y") %>
                            <% end %>
                            <% if @s_type == :month %>
                                <%= week.created_at.strftime("%B, %Y") %>
                            <% end %>
                            <% if @s_type == :year %>
                                <%= week.created_at.strftime("%Y") %>
                            <% end %>
                        </td>

                        <td>
                           <% if @s_type == :day %>
                                <%= DAYS_OF_THE_WEEK[week.created_at.wday.to_i] %>
                            <% end %>
                            <% if @s_type == :week %>
                                Monday
                            <% end %>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                            <% if week.pre_discount_price != nil %>
                                <%= print_money(week.total + week.pre_discount_price) %>
                            <% else %>
                                <%= print_money(week.total) %>
                            <% end %>
                        </td>
                        <td>
                            <% if week.pre_discount_price != nil %>
                                <%= print_money( week.pre_discount_price) %>
                            <% end %>
                        </td>
                        <td>
                            <%= print_money( week.total) %>
                        </td>
                    </tr>
                <% end %>
                </tbody>
            </table>

        <% else %>
           <div id="pag_container">
            <%= will_paginate(@orders) %>
           </div>
            <script type="text/javascript">
                $(function () {
                    $('.pagination a').click(function () {
                        $("#report_payments_results").html("Loading...");
                        $.get(this.href, null, null, 'script');
                        return false;
                    });
                });
            </script>
            <table id="product_list" class="admin_table" style="width: 100%">
                <thead>
                <th class="header">Date</th>
                <th class="header">Time</th>
                <th class="header">Order Id</th>
                <th class="header">Terminal</th>
                <th class="header">Employees</th>
                <th class="header">Type</th>
                <th class="header">Total</th>
                <th class="header">Discount</th>
                <th class="header">Amount Paid</th>
                </thead>
                <% total_items = 0 %>
                <% total_net = 0 %>
                <% total_discount = 0 %>
                <% total_gross = 0 %>
                <% @orders.each do |week| %>
                <% total_net += week.total %>
                <% if week.discount_percent != nil %>
                <% total_discount += week.pre_discount_price-week.total %>
                <% end %>
                    <tbody>
                    <tr>
                        <td style="text-align: left">                                               d
                            <%= week.created_at.to_datetime.strftime "%a, %d %b %Y" %>
                        </td>
                        <td>
                            <%= week.created_at.to_datetime.strftime "%l:%M%P" %>
                        </td>
                        <td>
                            <%= week.id %>
                        </td>
                        <td>
                            <%= week.terminal_id %>
                        </td>
                        <td>
                            <%= Employee.find_by_id(week.employee_id).name %>
                        </td>
                        <td>
                            <%= week.payment_type %>
                        </td>
                        <td>
                            <% if week.pre_discount_price != nil %>
                            <%= print_money(week.pre_discount_price) %>
                            <% total_gross += week.pre_discount_price  %>
                            <% else %>
                            <%= print_money(week.total) %>
                            <% total_gross += week.total %>
                            <% end %>
                        </td>
                        <td>
                            <% if week.pre_discount_price != nil %>
                            <%= print_money( week.pre_discount_price-week.total) %>
                            <% end %>
                        </td>
                        <td>
                            <%= print_money( week.total) %>
                        </td>


                    </tr>
                <% end %>

                </tbody>
            </table>
            </div>

        <% end %>
<% else %>
    <div id="saved_items">
        <div id="saved_items_container">
            <div onclick="setPaymentSelect(0)" class="saved_report_button">
                <div class="b_text" style="margin-top: 12px"><b>Payments by Transaction This Week</b></div>
            </div>
            <div onclick="setPaymentSelect(1)" class="saved_report_button">
                <div class="b_text" style="margin-top: 12px"><b>Discounted Transactions From Last Week</b></div>
            </div>
            <div onclick="setPaymentSelect(2)" class="saved_report_button">
                <div class="b_text"><b>Payments by Month This Year</b></div>
            </div>
            <div onclick="setPaymentSelect(3)" class="saved_report_button">
                <div class="b_text"><b>Payments by Day This Year</b></div>
            </div>
        </div>
    </div>
<% end %>
<script type="text/javascript">
    $('#refine_button').removeClass("selected");
</script>

